@charset "UTF-8";
.main-nav-footer {
	display: none;
}

#sb-site, .sb-site-container {
	overflow-y: hidden;
}

html {
	font-size: 14px;
}
html.sb-init.sb-active.sb-active-right #yummyHeader #menuBtn {
	background: url(../img/btn_menu_close.png) no-repeat left top;
}

a img {
	border: none;
}
a img:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 0.7;
}
a img.rollover:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

.trigger:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 0.7;
}

#yummyHeader {
	background: #000;
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10000;
	width: 100%;
	min-width: 1000px;
}
#yummyHeader .inner {
	position: relative;
	height: 120px;
}
#yummyHeader h1 {
	text-align: center;
	margin: 0 auto 0;
	padding: 0;
	padding-top: 34px;
}
#yummyHeader img {
	vertical-align: top;
}
#yummyHeader #menuBtn {
	position: absolute;
	left: 32px;
	top: 34px;
	width: 50px;
	height: 50px;
	text-indent: -9999px;
	background: url(../img/btn_menu.png) no-repeat left top;
	cursor: pointer;
}
#yummyHeader #wishBtn a {
	position: absolute;
	right: 105px;
	top: 34px;
	width: 45px;
	height: 45px;
	text-indent: -9999px;
	background: url(../img/btn_wish.png) no-repeat left top;
	cursor: pointer;
}
#yummyHeader #cartBtn a {
	position: absolute;
	right: 32px;
	top: 34px;
	width: 45px;
	height: 45px;
	text-indent: -9999px;
	background: url(../img/btn_cart_head.png) no-repeat left top;
	cursor: pointer;
}

.footer-toTop,
.bottom-nav {
	background: white !important;
}

.yummymart {
	font-size: 14px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "Osaka", "ＭＳ Ｐゴシック", "MS P Gothic", Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.7;
	width: 984px;
	margin: 0 auto;
	border-left: 6px solid #000;
	border-right: 6px solid #000;
	text-align: left;
  /* reset */
  /* change colours to suit your needs */
  /* change colours to suit your needs */
  /* change border colour to suit your needs */
  /* reset */
}
.yummymart html,
.yummymart body,
.yummymart div,
.yummymart span,
.yummymart object,
.yummymart iframe,
.yummymart h1,
.yummymart h2,
.yummymart h3,
.yummymart h4,
.yummymart h5,
.yummymart h6,
.yummymart p,
.yummymart blockquote,
.yummymart pre,
.yummymart abbr,
.yummymart address,
.yummymart cite,
.yummymart code,
.yummymart del,
.yummymart dfn,
.yummymart em,
.yummymart img,
.yummymart ins,
.yummymart kbd,
.yummymart q,
.yummymart samp,
.yummymart small,
.yummymart strong,
.yummymart sub,
.yummymart sup,
.yummymart var,
.yummymart b,
.yummymart i,
.yummymart dl,
.yummymart dt,
.yummymart dd,
.yummymart ol,
.yummymart ul,
.yummymart li,
.yummymart fieldset,
.yummymart form,
.yummymart label,
.yummymart legend,
.yummymart table,
.yummymart caption,
.yummymart tbody,
.yummymart tfoot,
.yummymart thead,
.yummymart tr,
.yummymart th,
.yummymart td,
.yummymart article,
.yummymart aside,
.yummymart canvas,
.yummymart details,
.yummymart figcaption,
.yummymart figure,
.yummymart footer,
.yummymart header,
.yummymart hgroup,
.yummymart menu,
.yummymart nav,
.yummymart section,
.yummymart summary,
.yummymart time,
.yummymart mark,
.yummymart audio,
.yummymart video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
.yummymart body {
	line-height: 1;
}
.yummymart article,
.yummymart aside,
.yummymart details,
.yummymart figcaption,
.yummymart figure,
.yummymart footer,
.yummymart header,
.yummymart hgroup,
.yummymart menu,
.yummymart nav,
.yummymart section {
	display: block;
}
.yummymart nav ul {
	list-style: none;
}
.yummymart blockquote,
.yummymart q {
	quotes: none;
}
.yummymart blockquote:before, .yummymart blockquote:after {
	content: '';
	content: none;
}
.yummymart q:before, .yummymart q:after {
	content: '';
	content: none;
}
.yummymart a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
.yummymart ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
.yummymart mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
.yummymart del {
	text-decoration: line-through;
}
.yummymart abbr[title],
.yummymart dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
.yummymart table {
	border-collapse: collapse;
	border-spacing: 0;
}
.yummymart hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}
.yummymart input,
.yummymart select {
	vertical-align: middle;
}
.yummymart ul,
.yummymart ol,
.yummymart li {
	list-style: none;
}
.yummymart img {
	vertical-align: top;
}
.yummymart h2 {
	text-align: center;
	background-color: #000;
}
.yummymart #yummyMainVisual {
    margin-top: 120px;
    padding: 6px;
    position: relative;
}
.yummymart #yummyInstaArea {
	background-color: #fff;
	overflow: hidden;
	margin-top: 0px;
	padding-top: 127px;
}
.yummymart #yummyInstaArea ul {
	overflow: hidden;
	margin-bottom: 0px;
}
.yummymart #yummyInstaArea ul li {
	float: right;
	width: 238px;
	margin-bottom: 6px;
	margin-right: 6px;
}
.yummymart #yummyInstaArea ul li img {
	width: 100%;
}
.yummymart #yummyInstaArea ul li:first-child {
	width: 483px;
	margin-right: 6px;
	margin-left: 1px;
}
.yummymart #yummyInformation {
	background-color: #000;
}
.yummymart #yummyInformation ul li {
	margin-bottom: 4px;
}
.yummymart #yummyInformation ul li a {
	display: block;
	padding: 26px 20px;
	font-size: 18px;
	background-color: #fff;
	line-height: 1;
	color: #333;
	overflow: hidden;
}
.yummymart #yummyInformation ul li a:hover {
	text-decoration: underline;
	color: #ff0072;
}
.yummymart #yummyInformation ul li a .date {
	color: #ff0072;
	display: inline-block;
	vertical-align: middle;
	margin-right: 1em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}
.yummymart #yummyInformation ul li a .title {
	display: inline-block;
	vertical-align: middle;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 660px;
	margin-right: 1em;
	line-height: 1.1;
}
.yummymart #yummyInformation ul li a .link {
	color: #ff0072;
	vertical-align: middle;
	display: inline-block;
	font-weight: bold;
	font-family: Century Gothic, Arial, Helvetica, sans-serif;
	font-size: 20px;
	float: right;
}
.yummymart #yummyInformation ul li:last-child {
	margin-bottom: 0;
}
.yummymart #yummyItems .navArea ul {
	overflow: hidden;
	display: table;
	border: #000 solid;
	border-top-width: 0;
	border-bottom-width: 0;
	border-left-width: 0;
	border-right-width: 1%;
	width: 100%;
}
.yummymart #yummyItems .navArea ul li {
	display: table-cell;
	border: #000 solid;
	border-top-width: 0;
	border-bottom-width: 1%;
	border-left-width: 1%;
	border-right-width: 0;
}
.yummymart #yummyItems h3 {
	margin-left: 20px;
	margin-top: 25px;
	margin-bottom: 18px;
}
.yummymart #yummyItems h3.pickup {
	margin-top: 40px;
}
.yummymart #yummyItems .thumbArea {
	margin: 0 0 0 0;
	overflow: hidden;
}
.yummymart #yummyItems .thumbArea .item {
	float: left;
	width: 213px;
	border: 4px solid #000;
	margin-left: 20px;
	margin-bottom: 20px;
}
.yummymart #yummyItems .thumbArea .item .pic {
	border-bottom: 4px #000 solid;
	position: relative;
}
.yummymart #yummyItems .thumbArea .item .pic .heartIco {
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 22px;
	height: 20px;
	background: url(../img/ico_heart_on.png) no-repeat left top;
}
.yummymart #yummyItems .thumbArea .item .pic .heartIco.off {
	background: url(../img/ico_heart_off.png) no-repeat left top;
}
.yummymart #yummyItems .thumbArea .item .text {
	padding: 10px;
}
.yummymart #yummyItems .thumbArea .item .text h2.itemTitle {
	border-bottom: 4px #000 solid;
	padding-bottom: 10px;
	font-size: 16px;
	background: none;
	text-align: left;
}
.yummymart #yummyItems .thumbArea .item .text .price {
	text-align: right;
	line-height: 1;
	font-size: 14px;
	padding: 10px 0 0;
}
.yummymart #yummyItems .thumbArea .item .text .price strong {
	color: #ff0072;
}
.yummymart #yummyItems .thumbArea .item .btnBox {
	display: table;
	border-top: 4px #000 solid;
	width: 100%;
}
.yummymart #yummyItems .thumbArea .item .btnBox .cartBtn {
	display: table-cell;
	border-right: #000 solid;
	border-right-width: 0.8%;
}
.yummymart #yummyItems .thumbArea .item .btnBox .detailBtn {
	display: table-cell;
}
.yummymart #yummyItems .more {
	margin: 40px auto 60px;
	text-align: center;
}
.yummymart .wrap01,
.yummymart .wrap02 {
	position: relative;
	margin-bottom: 20px;
}
.yummymart .wrap03{
	position: relative;
	padding-bottom: 20px;
}
.yummymart .trigger {
	cursor: pointer;
}
.yummymart #yummyMenu {
	margin-bottom: 0;
	position: relative;
}
.yummymart #yummyMenu .trigger {
	width: 347px;
}
.yummymart #yummyMenu h2 {
	margin-bottom: 16px;
}
.yummymart #yummyMenu .acoHead {
	margin-left: 20px;
	margin-top: 44px;
}
.yummymart #yummyMenu .picClick {
	margin-left: 20px;
}
.yummymart #yummyMenu .inner {
	margin: 0;
}
.yummymart #yummyMenu .inner .topicsItem {
	width: 412px;
/*	float: left;*/
	margin-left: 40px;
	margin-bottom: 40px;
	min-height: 347px;
	display: inline-block;
	vertical-align: top;
}
.yummymart #yummyMenu .inner .topicsItem .pic {
	margin-bottom: 10px;
}
.yummymart #yummyMenu .inner .topicsItem h3 {
	color: #ff0072;
	font-size: 20px;
	line-height: 1.3;
	border-bottom: 4px #000 solid;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.yummymart #yummyMenu .inner .topicsItem p {
	font-size: 15px;
}
.yummymart #yummyMenu .acoCont {
	background: url(../img/aco_cont_bg_body.png) repeat-y left top;
	width: 864px;
	position: relative;
	margin: 0 auto;
	padding: 0 42px;
}

.yummymart #yummyMenu .acoCont .wrap {
	width: 904px;
	margin-left: -40px;
	overflow: hidden;
	padding: 80px 40px 0 0;
	font-size: 0;
}
.yummymart #yummyMenu .acoCont .bgTop {
	background: url(../img/aco_cont_bg_top_topics.png) no-repeat left top;
	width: 948px;
	height: 50px;
	position: absolute;
	left: 0;
	top: 0;
}
.yummymart #yummyMenu .acoCont .bgBottom {
	background: url(../img/aco_cont_bg_bottom.png) no-repeat left bottom;
	width: 948px;
	height: 20px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.yummymart #yummyMovie {
	position: absolute;
	right: 00px;
	top: 116px;
}
.yummymart #yummyMovie .movieArea {
	width: 600px;
	height: 493px;
	overflow: hidden;
	position: relative;
	text-align: center;
	background: url(../img/ani_movie.gif) no-repeat left top;
}
.yummymart #yummyMovie .movieArea iframe {
	position: absolute;
	top: 36.6%;
	left: 50%;
	width: 90%;
	height: 60%;
	margin-left: -46.1%;
}
.yummymart #yummyChangePic {
	margin: 0;
	position: absolute;
	right: 20px;
	top: 0;
	z-index: 100;
}
.yummymart #yummyChangePic ul {
	overflow: hidden;
	margin-left: -22px;
}
.yummymart #yummyChangePic ul li {
	float: left;
	margin-left: 22px;
}
.yummymart #yummyRanking {
	margin: 0 0 0 20px;
}
.yummymart #yummyRanking .trigger {
	width: 462px;
}
.yummymart #yummyRanking #rt_ranking9_1 .num {
	background: url(../img/ranking_num01.png) no-repeat left center;
}
.yummymart #yummyRanking #rt_ranking9_2 .num {
	background: url(../img/ranking_num02.png) no-repeat left center;
}
.yummymart #yummyRanking #rt_ranking9_3 .num {
	background: url(../img/ranking_num03.png) no-repeat left center;
}
.yummymart #yummyRanking #rt_ranking9_4 .num {
	background: url(../img/ranking_num04.png) no-repeat left center;
}
.yummymart #yummyRanking .rankingItem {
	width: 206px;
	margin-left: 20px;
	margin-bottom: 40px;
	float: left;
}
.yummymart #yummyRanking .rankingItem .pic {
	border: 4px solid #000;
}
.yummymart #yummyRanking .rankingItem .pic img {
	width: 100%;
	height: auto;
}
.yummymart #yummyRanking .rankingItem .info {
	background: #000;
	display: table;
	width: 100%;
}
.yummymart #yummyRanking .rankingItem .info .num {
	width: 38px;
	height: 39px;
	display: table-cell;
	vertical-align: middle;
}
.yummymart #yummyRanking .rankingItem .info .text {
	display: table-cell;
	vertical-align: middle;
	color: #fff;
	padding-left: 1%;
	padding-bottom: 5px;
	padding-top: 2px;
}
.yummymart #yummyRanking .rankingItem .info .text h3 {
	font-size: 0.8rem;
	line-height: 1.5;
}
.yummymart #yummyRanking .rankingItem .info .text .price {
	font-size: 0.8rem;
	margin-top: 1%;
}
.yummymart #yummyRanking .rankingItem .info .text .price strong {
	color: #ff0072;
}
.yummymart #yummyRanking .acoCont {
	background: url(../img/aco_cont_bg_body.png) repeat-y left top;
	width: 864px;
	position: relative;
	padding: 0 42px;
	margin-left: -2px;
}
.yummymart #yummyRanking .acoCont .wrap {
	width: 904px;
	margin-left: -30px;
	overflow: hidden;
	padding-top: 80px;
}
.yummymart #yummyRanking .acoCont .bgTop {
	background: url(../img/aco_cont_bg_top_ranking.png) no-repeat left top;
	width: 948px;
	height: 50px;
	position: absolute;
	left: 0;
	top: 0;
}
.yummymart #yummyRanking .acoCont .bgBottom {
	background: url(../img/aco_cont_bg_bottom.png) no-repeat left bottom;
	width: 948px;
	height: 20px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.yummymart #yummyAbout {
	margin: 0;
	width: 462px;
	position: absolute;
	right: 20px;
	top: 233px;
	z-index: 100;
}
.yummymart #yummyAbout .trigger {
	width: 203px;
}
.yummymart #yummyAbout .linkImg {
	float: right;
	margin-right: -13px;
}
.yummymart #yummyAbout .acoCont {
	background: url(../img/aco_cont_bg_body.png) repeat-y left top;
	width: 864px;
	position: relative;
	margin: 0 0 0 -484px;
	padding: 0 42px;
	text-align: center;
}
.yummymart #yummyAbout .acoCont .wrap {
	width: 904px;
	margin-left: 0px;
	overflow: hidden;
	padding-top: 135px;
	padding-bottom: 100px;
}
.yummymart #yummyAbout .acoCont .bgTop {
	background: url(../img/aco_cont_bg_top_about.png) no-repeat left top;
	width: 948px;
	height: 50px;
	position: absolute;
	left: 0;
	top: 0;
}
.yummymart #yummyAbout .acoCont .bgBottom {
	background: url(../img/aco_cont_bg_bottom.png) no-repeat left bottom;
	width: 948px;
	height: 20px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.yummymart #yummyShops {
	margin: 0 0 0 0;
	text-align: center;
}
.yummymart #yummyShops .btn {
	margin-top: 0;
	float: left;
}
.yummymart #yummyShops .btn:first-child {
	margin-right: -40px;
}
.yummymart #yummyShops .acoCont {
	background: url(../img/aco_cont_bg_body.png) repeat-y left top;
	width: 864px;
	position: relative;
	margin: 0 0 50px 0;
	padding: 0 42px;
	text-align: center;
}
.yummymart #yummyShops .acoCont .wrap {
	width: 904px;
	margin-left: 0px;
	overflow: hidden;
	padding-top: 77px;
	padding-bottom: 50px;
}
.yummymart #yummyShops .acoCont .bgTop {
	background: url(../img/aco_cont_bg_top_shops.png) no-repeat left top;
	width: 948px;
	height: 50px;
	position: absolute;
	left: 0;
	top: 0;
}
.yummymart #yummyShops .acoCont .bgBottom {
	background: url(../img/aco_cont_bg_bottom.png) no-repeat left bottom;
	width: 948px;
	height: 20px;
	position: absolute;
	left: 0;
	bottom: 0;
}

#pageTop {
	width: 40px;
	height: 40px;
	position: fixed;
	right: 50px;
	bottom: 50px;
	z-index: 100;
}
#pageTop img {
	width: 100%;
	height: auto;
	vertical-align: top;
}
#pageTop a {
	display: block;
}

a.anchorM {
	margin-top: -120px !important;
	padding-top: 120px !important;
	display: block !important;
	z-index: -1;
	position: relative;
}

.footJs {
	height: 0;
}

/*footer*/
#yummyFooter {
	width: 100%;
	background-color: #000;
}
#yummyFooter .inner {
	overflow: hidden;
	width: 984px;
	margin: auto;
}

#yummyFooter .wrap {
	overflow: hidden;
	border-top:2px solid #fff;
	padding: 40px 0;
}

#yummyFooter .snsArea {
	text-align: center;
	padding: 35px 0;
}

#yummyFooter .snsArea ul {
	display: inline-block;
	padding: 0;
	margin: 0;
}

#yummyFooter .snsArea ul li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 1.5em;
}

#yummyFooter .snsArea ul li img {
	width: 55px;
}

#yummyFooter .navArea {
	float:left;
	width: 50%;
	text-align: left;
}
#yummyFooter .navArea ul {
	overflow: hidden;
	padding: 0;
	margin: 0;
	display: inline-block;
}
#yummyFooter .navArea ul li {
	display: inline-block;
	margin-right: 2.5em;
	margin-bottom: 1em;
}
#yummyFooter .navArea ul li a {
	display: block;
	color: #fff;
	text-decoration: none;
}
#yummyFooter .navArea ul li a:hover {
	text-decoration: underline;
}
#yummyFooter .logoArea {
	float: right;
	width: 50%;
	text-align: right;
}
#yummyFooter .logoArea ul {
	overflow: hidden;
	padding: 0;
	margin: 0;
	display: inline-block;
}
#yummyFooter .logoArea ul li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 3em;
	margin-bottom: 1em;
}
#yummyFooter .logoArea ul li a {
	display: block;
}
#yummyFooter .logoArea ul li.pj img {
	width: 226px;
}

#yummyFooter .logoArea ul li.salon img {
	width: 133px;
}
#yummyFooter .copyRight {
	width: 100%;
	text-align: center;
	color: #000;
	background-color: #fff;
	padding: 15px 0 15px;
}
