@charset "utf-8";

/*------------------------------------------------------------
  common
------------------------------------------------------------*/

.class1 { background-image: url("../img/1.jpg"); background-repeat: no-repeat; background-size: contain; background-position: center center; background-color: #ffc5d3;}
.class2 { background-image: url("../img/2.jpg"); background-repeat: no-repeat; background-size: contain; background-position: center center; background-color: #35c5e0;}
.class3 { background-image: url("../img/3.jpg"); background-repeat: no-repeat; background-size: contain; background-position: center center; background-color: #f7264d;}
.class4 { background-image: url("../img/4.jpg"); background-repeat: no-repeat; background-size: contain; background-position: center center; background-color: #9597fe;}


.tag { height:560px; width:100%; }