@charset "UTF-8";
/* ===============================================================================
Base Setting
=============================================================================== */
body {
  min-width: 1000px;
}

@media screen and (max-width: 768px) {
  body {
    min-width: auto;
  }
}

#flowerArea {
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 10px;
  line-height: 1.5;
  color: #000;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  #flowerArea {
    font-size: 14px;
  }
}

#flowerArea{
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}
#flowerArea.loaded{
  opacity: 1;
}

#flowerArea a {
  color: #000;
  text-decoration: none;
}

#flowerArea a:hover {
  text-decoration: none;
}

#flowerArea img {
  vertical-align: top;
  max-width: 100%;
}

#flowerArea .clrF::after {
  content: "";
  display: block;
  clear: both;
}

@media screen and (min-width: 769px) {
  #flowerArea .spOnly {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  #flowerArea .pcOnly {
    display: none !important;
  }
}

/* ===============================================================================
Contents Block
=============================================================================== */
#mainVisual {
  background: url(../img/flower_mv_bg01.jpg) no-repeat center center;
  background-size: 1500px auto;
  position: relative;
}

#mainVisual > .inner {
  width: 1000px;
  margin: 0 auto;
  min-width: 1000px;
  height: 750px;
  position: relative;
}

#mainVisual h2 {
  position: absolute;
  top: 580px;
  left: 144px;
}

#mainVisual p {
  position: absolute;
  top: 118px;
  left: 132px;
}

#mainVisual .flowerBox > div {
  position: absolute;
  z-index: 1;
}

#mainVisual .flowerBox .flower01 {
  top: 0;
  right: -190px;
}

#mainVisual .flowerBox .flower02 {
  top: 299px;
  right: 39px;
}

#mainVisual .flowerBox .flower03 {
  top: 381px;
  left: -160px;
}

@media screen and (max-width: 768px) {
  #mainVisual {
    background: url(../img/flower_mv_bg01_sp.jpg) no-repeat center center;
    background-size: 100% auto;
  }
  #mainVisual > .inner {
    width: auto;
    min-width: auto;
    height: auto;
    padding-top: 144.375%;
  }
  #mainVisual h2 {
    width: 70.9375%;
    top: 75.97403%;
    left: 25.15625%;
  }
  #mainVisual p {
    width: 7.1875%;
    top: 18.17316%;
    left: 22.28125%;
  }
  #mainVisual .flowerBox .flower01 {
    width: 153px;
    top: 0;
    right: 0;
  }
  #mainVisual .flowerBox .flower02 {
    width: 65px;
    top: 40.15625vw;
    right: 1.40625vw;
  }
  #mainVisual .flowerBox .flower03 {
    width: 176px;
    top: 87.03125vw;
    left: 0;
  }
}

#contentsBlock01 {
  background: url(../img/flower_contents_bg01.jpg) no-repeat center center;
  background-size: 1500px 100%;
  color: #df8d00;
}

#contentsBlock01 > .inner {
  width: 1000px;
  margin: 0 auto;
  padding: 48px 0 224px;
  position: relative;
}

#contentsBlock01 .blockDetail01 {
  text-align: center;
  margin-bottom: 90px;
}

#contentsBlock01 .blockDetail01 .text01 {
  width: 650px;
  margin: 0 auto 15px;
  font-size: 3.1rem;
  line-height: 1.45;
  letter-spacing: .05em;
}

#contentsBlock01 .blockDetail01 .text02 {
  display: inline-block;
  margin-bottom: 44px;
}

#contentsBlock01 .blockDetail01 .text02 p:first-child {
  font-size: 2.303rem;
  letter-spacing: .05em;
  position: relative;
  padding: 0 23px;
}

#contentsBlock01 .blockDetail01 .text02 p:first-child::before, #contentsBlock01 .blockDetail01 .text02 p:first-child::after {
  content: "";
  display: block;
  width: 73px;
  height: 1px;
  background: #df8d00;
  position: absolute;
  left: -73px;
  top: 15px;
}

#contentsBlock01 .blockDetail01 .text02 p:first-child::after {
  left: auto;
  right: -73px;
}

#contentsBlock01 .blockDetail01 .text02 p:last-child {
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: .05em;
}

#contentsBlock01 .blockDetail01 .btn a {
  display: block;
  width: 810px;
  box-sizing: border-box;
  margin: 0 auto;
  height: 167px;
  background: url(../img/flower_contents_btn01.jpg) no-repeat 0 0;
  padding: 28px 10px 0 318px;
  text-align: center;
  color: #fff;
  letter-spacing: .02em;
}

#contentsBlock01 .blockDetail01 .btn a:hover {
  opacity: .7;
}

#contentsBlock01 .blockDetail01 .btn a p:first-child {
  font-size: 3.062rem;
  line-height: 1.19;
  margin-bottom: 14px;
}

#contentsBlock01 .blockDetail01 .btn a p:first-child .size01 {
  font-size: 2.345rem;
}

#contentsBlock01 .blockDetail01 .btn a p:first-child .size02 {
  font-size: 2.28rem;
}

#contentsBlock01 .blockDetail01 .btn a p:last-child {
  font-size: 1.9rem;
}

#contentsBlock01 .blockDetail01 .btn a p:last-child span {
  font-size: 1.472rem;
  margin-left: 5px;
}

#contentsBlock01 .blockDetail02 {
  margin-bottom: 41px;
}

#contentsBlock01 .blockDetail02 img {
  display: block;
}

#contentsBlock01 .blockDetail02 .imageRight .left {
  width: 493px;
  float: left;
}

#contentsBlock01 .blockDetail02 .imageRight .left h3 {
  width: 278px;
  margin: 11px 0 0 auto;
}

#contentsBlock01 .blockDetail02 .imageRight .right {
  width: 428px;
  float: right;
}

#contentsBlock01 .blockDetail02 .imageLeft .left {
  margin-top: -64px;
  width: 462px;
  float: left;
}

#contentsBlock01 .blockDetail02 .imageLeft .left a {
  display: block;
  margin-left: 2px;
}

#contentsBlock01 .blockDetail02 .imageLeft .right {
  margin-top: -64px;
  width: 480px;
  box-sizing: border-box;
  float: right;
  padding: 122px 0 0 19px;
}

#contentsBlock01 .blockDetail02 .imageLeft .right p {
  font-size: 2.4rem;
  line-height: 1.58;
  letter-spacing: .05em;
}

#contentsBlock01 .blockDetail02 .checkBtn {
  width: 189px;
  margin: -4px 49px 0 auto;
}

#contentsBlock01 .blockDetail02 .checkBtn a {
  display: block;
  padding-bottom: 12px;
  background: url(../img/flower_contents_arrow01.png) no-repeat 0 bottom;
  margin-bottom: 7px;
}

#contentsBlock01 .blockDetail02 .checkBtn a:hover {
  opacity: .7;
}

#contentsBlock01 .blockDetail02 .checkBtn p {
  font-size: 1.787rem;
  text-align: right;
  letter-spacing: .05em;
}

#contentsBlock01 .flowerBox > div {
  position: absolute;
  z-index: 1;
}

#contentsBlock01 .flowerBox .flower04 {
  right: -203px;
  top: 38px;
}

#contentsBlock01 .flowerBox .flower05 {
  left: -155px;
  top: 445px;
}

#contentsBlock01 .flowerBox .flower06 {
  left: -222px;
  top: 365px;
}

#contentsBlock01 .flowerBox .flower07 {
  right: -43px;
  top: 403px;
}

#contentsBlock01 .flowerBox .flower08 {
  right: -192px;
  top: 572px;
}

#contentsBlock01 .flowerBox .flower09 {
  left: 71px;
  top: 1047px;
}

#contentsBlock01 .flowerBox .flower10 {
  right: -251px;
  top: 1170px;
}

#contentsBlock01 .flowerBox .flower11 {
  right: -159px;
  top: 1248px;
}

#contentsBlock01 .flowerBox .flower12 {
  left: -251px;
  top: 1397px;
}

@media screen and (max-width: 768px) {
  #contentsBlock01 {
    background: url(../img/flower_contents_bg01_sp.jpg) no-repeat center center;
    background-size: 100%;
  }
  #contentsBlock01 > .inner {
    width: auto;
    padding: 26px 0 0;
  }
  #contentsBlock01 .blockDetail01 {
    margin-bottom: 29px;
  }
  #contentsBlock01 .blockDetail01 .text01 {
    width: auto;
    margin: 0 auto 3px;
    font-size: 1.4rem;
    line-height: 1.5;
  }
  #contentsBlock01 .blockDetail01 .text02 {
    display: inline-block;
    margin-bottom: 19px;
  }
  #contentsBlock01 .blockDetail01 .text02 p:first-child {
    font-size: 1.2rem;
    padding: 0 11px;
    margin-bottom: 2px;
  }
  #contentsBlock01 .blockDetail01 .text02 p:first-child::before, #contentsBlock01 .blockDetail01 .text02 p:first-child::after {
    width: 37px;
    left: -37px;
    top: 8px;
  }
  #contentsBlock01 .blockDetail01 .text02 p:first-child::after {
    left: auto;
    right: -37px;
  }
  #contentsBlock01 .blockDetail01 .text02 p:last-child {
    font-size: 0.9rem;
  }
  #contentsBlock01 .blockDetail01 .btn a {
    width: 281px;
    height: 91px;
    background: url(../img/flower_contents_btn01_sp.jpg) no-repeat 0 0;
    background-size: 100%;
    padding: 12px 5px 0 114px;
    text-align: center;
    color: #fff;
    letter-spacing: .02em;
  }
  #contentsBlock01 .blockDetail01 .btn a:hover {
    opacity: .7;
  }
  #contentsBlock01 .blockDetail01 .btn a p:first-child {
    font-size: 1.594rem;
    line-height: 1.12;
    margin-bottom: 5px;
  }
  #contentsBlock01 .blockDetail01 .btn a p:first-child .size01 {
    font-size: 1.221rem;
  }
  #contentsBlock01 .blockDetail01 .btn a p:first-child .size02 {
    font-size: 1.187rem;
  }
  #contentsBlock01 .blockDetail01 .btn a p:last-child {
    font-size: 0.95rem;
  }
  #contentsBlock01 .blockDetail01 .btn a p:last-child span {
    font-size: 0.736rem;
    margin-left: 4px;
  }
  #contentsBlock01 .blockDetail02 {
    margin-bottom: 25px;
  }
  #contentsBlock01 .blockDetail02 .imageRight {
    width: 306px;
    margin: 0 auto 18px;
  }
  #contentsBlock01 .blockDetail02 .imageRight .left {
    width: 182px;
  }
  #contentsBlock01 .blockDetail02 .imageRight .left h3 {
    width: 161px;
    margin: 8px 0 0 10px;
  }
  #contentsBlock01 .blockDetail02 .imageRight .right {
    width: 124px;
  }
  #contentsBlock01 .blockDetail02 .imageLeft {
    width: 306px;
    margin: 0 auto 18px;
  }
  #contentsBlock01 .blockDetail02 .imageLeft .left {
    margin: 0 0 12px 0;
    width: 240px;
    float: none;
  }
  #contentsBlock01 .blockDetail02 .imageLeft .left a {
    margin-left: 10px;
  }
  #contentsBlock01 .blockDetail02 .imageLeft .right {
    margin-top: 0;
    width: 230px;
    float: none;
    padding: 0;
  }
  #contentsBlock01 .blockDetail02 .imageLeft .right p {
    margin-left: 10px;
    font-size: 1.2rem;
  }
  #contentsBlock01 .blockDetail02 .checkBtn {
    width: 306px;
    margin: 0 auto 18px;
  }
  #contentsBlock01 .blockDetail02 .checkBtn .btnInner {
    width: 94px;
    margin: 0 0 0 145px;
  }
  #contentsBlock01 .blockDetail02 .checkBtn a {
    padding-bottom: 6px;
    background: url(../img/flower_contents_arrow01.png) no-repeat 0 bottom;
    background-size: 100% auto;
    margin-bottom: 3px;
  }
  #contentsBlock01 .blockDetail02 .checkBtn a img {
    width: 53px;
  }
  #contentsBlock01 .blockDetail02 .checkBtn p {
    text-align: left;
    font-size: 0.9rem;
  }
  #contentsBlock01 .flowerBox .flower04 {
    width: 70px;
    top: 210px;
    right: 95px;
  }
  #contentsBlock01 .flowerBox .flower05 {
    width: 73px;
    top: 313px;
    left: 0px;
  }
  #contentsBlock01 .flowerBox .flower06 {
    width: 68px;
    top: 478px;
    right: 20px;
    left: auto;
  }
  #contentsBlock01 .flowerBox .flower07 {
    width: 138px;
    top: 620px;
    right: 169px;
  }
  #contentsBlock01 .flowerBox .flower08 {
    width: 60px;
    top: 570px;
    right: 0;
  }
  #contentsBlock01 .flowerBox .flower09 {
    width: 111px;
    top: auto;
    bottom: 257px;
    right: 0;
    left: auto;
  }
  #contentsBlock01 .flowerBox .flower10 {
    width: 88px;
    top: auto;
    bottom: -102px;
    left: 0;
  }
  #contentsBlock01 .flowerBox .flower11 {
    width: 142px;
    top: auto;
    bottom: -102px;
    right: 0;
  }
  #contentsBlock01 .flowerBox .flower12 {
    display: none;
  }
}

#contentsBlock02 {
  background: url(../img/flower_contents_bg02.jpg) no-repeat center center;
  background-size: 1500px 100%;
}

#contentsBlock02 > .inner {
  width: 1000px;
  margin: 0 auto;
  padding: 49px 0 239px;
  position: relative;
}

#contentsBlock02 .blockDetail01 img {
  display: block;
}

#contentsBlock02 .blockDetail01 .imageLeft .left {
  width: 537px;
  float: left;
  position: relative;
  z-index: 1;
}

#contentsBlock02 .blockDetail01 .imageLeft .right {
  width: 408px;
  float: right;
}

#contentsBlock02 .blockDetail01 .imageLeft .right h3 {
  width: 401px;
  margin-top: 215px;
}

#contentsBlock02 .blockDetail02 {
  position: relative;
  top: -81px;
}

#contentsBlock02 .blockDetail02 img {
  display: block;
}

#contentsBlock02 .blockDetail02 .image {
  width: 500px;
  margin: 0 1px 0 auto;
}

#contentsBlock02 .blockDetail02 .imageLeft .left {
  margin-top: -29px;
  width: 443px;
  float: left;
}

#contentsBlock02 .blockDetail02 .imageLeft .left a {
  width: 266px;
  display: block;
  margin-left: auto;
}

#contentsBlock02 .blockDetail02 .imageLeft .right {
  margin-top: -29px;
  width: 480px;
  box-sizing: border-box;
  float: right;
  padding-top: 80px;
  text-align: right;
}

#contentsBlock02 .blockDetail02 .imageLeft .right p {
  display: inline-block;
  font-size: 2.4rem;
  line-height: 1.58;
  letter-spacing: .05em;
  margin: 0 -.5em 24px 0;
  color: #d66899;
  text-align: left;
}

#contentsBlock02 .blockDetail02 .imageLeft .right .checkBtn {
  width: 189px;
  margin: 0 9px 0 auto;
}

#contentsBlock02 .blockDetail02 .imageLeft .right .checkBtn a {
  display: block;
  padding-bottom: 12px;
  background: url(../img/flower_contents_arrow02.png) no-repeat 0 bottom;
  margin-bottom: 7px;
}

#contentsBlock02 .blockDetail02 .imageLeft .right .checkBtn a:hover {
  opacity: .7;
}

#contentsBlock02 .blockDetail03 {
  position: relative;
  top: -6px;
}

#contentsBlock02 .blockDetail03 img {
  display: block;
}

#contentsBlock02 .flowerBox > div {
  position: absolute;
  z-index: 1;
}

#contentsBlock02 .flowerBox .flower13 {
  left: -139px;
  top: 95px;
}

#contentsBlock02 .flowerBox .flower14 {
  right: -250px;
  top: 371px;
}

#contentsBlock02 .flowerBox .flower15 {
  left: 3px;
  top: 921px;
}

#contentsBlock02 .flowerBox .flower16 {
  left: -92px;
  top: 758px;
}

#contentsBlock02 .flowerBox .flower17 {
  right: -177px;
  top: 968px;
}

#contentsBlock02 .flowerBox .flower18 {
  left: -250px;
  top: 1121px;
}

#contentsBlock02 .flowerBox .flower19 {
  right: -195px;
  top: 1317px;
}

#contentsBlock02 .flowerBox .flower20 {
  right: -250px;
  top: 1442px;
}

#contentsBlock02 .flowerBox .flower21 {
  left: -237px;
  top: 1735px;
}

#contentsBlock02 .flowerBox .flower22 {
  right: 241px;
  top: 2023px;
}

@media screen and (max-width: 768px) {
  #contentsBlock02 {
    background: url(../img/flower_contents_bg02_sp.jpg) no-repeat 0 206px;
    background-size: 100% auto;
  }
  #contentsBlock02 > .inner {
    width: auto;
    padding: 114px 0 0;
  }
  #contentsBlock02 .blockDetail01 {
    position: relative;
  }
  #contentsBlock02 .blockDetail01 .imageLeft .left {
    padding-top: 8.125vw;
    width: auto;
    float: none;
    position: relative;
    z-index: 1;
  }
  #contentsBlock02 .blockDetail01 .imageLeft .left a {
    display: block;
    margin-right: 7.03125vw;
  }
  #contentsBlock02 .blockDetail01 .imageLeft .right {
    margin-bottom: 24px;
    float: none;
  }
  #contentsBlock02 .blockDetail01 .imageLeft .right h3 {
    width: 200px;
    margin: 0 0 0 17px;
  }
  #contentsBlock02 .blockDetail02 {
    background: none;
    top: 0;
    padding: 34px 0 71px;
  }
  #contentsBlock02 .blockDetail02 .image {
    width: 320px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
  #contentsBlock02 .blockDetail02 .image img {
    width: 249px;
    margin-left: auto;
  }
  #contentsBlock02 .blockDetail02 .imageLeft {
    width: 320px;
    margin: 0 auto 4px;
    position: relative;
    top: -20px;
  }
  #contentsBlock02 .blockDetail02 .imageLeft .left {
    margin-top: 0;
    width: 153px;
  }
  #contentsBlock02 .blockDetail02 .imageLeft .left a {
    width: 133px;
  }
  #contentsBlock02 .blockDetail02 .imageLeft .right {
    margin-top: 0;
    width: 167px;
    height: 131px;
    padding-top: 0;
    position: relative;
  }
  #contentsBlock02 .blockDetail02 .imageLeft .right .checkBtn {
    margin: 0 0 0 22px;
    position: absolute;
    bottom: 2px;
  }
  #contentsBlock02 .blockDetail02 .imageLeft .right .checkBtn .btnInner {
    width: 94px;
    margin: 0;
  }
  #contentsBlock02 .blockDetail02 .imageLeft .right .checkBtn a {
    padding-bottom: 6px;
    background: url(../img/flower_contents_arrow02.png) no-repeat 0 bottom;
    background-size: 100% auto;
    margin-bottom: 0;
  }
  #contentsBlock02 .blockDetail02 .imageLeft .right .checkBtn a img {
    width: 53px;
  }
  #contentsBlock02 .blockDetail02 .imageLeft .right .checkBtn p {
    text-align: left;
    font-size: 0.9rem;
  }
  #contentsBlock02 .blockDetail02 .text {
    width: 320px;
    margin: 0 auto;
  }
  #contentsBlock02 .blockDetail02 .text > p {
    font-size: 1.2rem;
    line-height: 1.58;
    letter-spacing: .05em;
    margin-left: 42px;
    color: #d66899;
  }
  #contentsBlock02 .blockDetail03 {
    position: relative;
    top: -6px;
  }
  #contentsBlock02 .blockDetail03 img {
    display: block;
  }
  #contentsBlock02 .flowerBox .flower13 {
    width: 109px;
    top: -22px;
    left: 0;
  }
  #contentsBlock02 .flowerBox .flower14 {
    width: 103px;
    top: 28.4292%;
    right: 0;
  }
  #contentsBlock02 .flowerBox .flower15 {
    width: 73px;
    top: -27px;
    right: 0;
    left: auto;
  }
  #contentsBlock02 .flowerBox .flower16 {
    width: 96px;
    top: 63px;
    left: 0;
  }
  #contentsBlock02 .flowerBox .flower17 {
    width: 74px;
    top: -19px;
    left: 0;
  }
  #contentsBlock02 .flowerBox .flower18 {
    width: 116px;
    top: 114px;
    right: 0;
    left: auto;
  }
  #contentsBlock02 .flowerBox .flower19 {
    width: 66px;
    top: auto;
    bottom: 42px;
    left: 0;
  }
  #contentsBlock02 .flowerBox .flower20 {
    width: 54px;
    top: auto;
    bottom: -5px;
    right: 0;
  }
  #contentsBlock02 .flowerBox .flower21 {
    width: 123px;
    top: auto;
    bottom: -35px;
    right: 67px;
    left: auto;
  }
  #contentsBlock02 .flowerBox .flower22 {
    width: 86px;
    top: auto;
    bottom: -67px;
    left: 0;
  }
}

#contentsBlock03 {
  background: url(../img/flower_contents_bg03.jpg) no-repeat center center;
  background-size: 1500px 100%;
}

#contentsBlock03 > .inner {
  width: 1000px;
  margin: 0 auto;
  padding: 59px 0 46px;
  position: relative;
}

#contentsBlock03 .blockDetail01 img {
  display: block;
}

#contentsBlock03 .blockDetail01 .imageLeft .right {
  width: 541px;
  float: right;
}

#contentsBlock03 .blockDetail01 .imageLeft .right a {
  display: block;
  margin-right: 3px;
}

#contentsBlock03 .blockDetail01 .imageLeft .left {
  width: 441px;
  float: left;
}

#contentsBlock03 .blockDetail01 .imageLeft .left h3 {
  margin-top: 226px;
}

#contentsBlock03 .blockDetail02 {
  position: relative;
  top: -234px;
}

#contentsBlock03 .blockDetail02 img {
  display: block;
}

#contentsBlock03 .blockDetail02 .image {
  width: 365px;
  margin-left: 3px;
}

#contentsBlock03 .blockDetail02 .imageLeft .right {
  margin-top: -38px;
  width: 420px;
  float: right;
}

#contentsBlock03 .blockDetail02 .imageLeft .right a {
  width: 356px;
  display: block;
}

#contentsBlock03 .blockDetail02 .imageLeft .left {
  margin-top: -38px;
  width: 500px;
  box-sizing: border-box;
  float: left;
  padding-top: 100px;
  text-align: right;
}

#contentsBlock03 .blockDetail02 .imageLeft .left p {
  display: inline-block;
  font-size: 2.4rem;
  line-height: 1.58;
  letter-spacing: .05em;
  margin-bottom: 26px;
  color: #4b5ca3;
}

#contentsBlock03 .blockDetail02 .imageLeft .left .checkBtn {
  width: 189px;
  margin-left: auto;
}

#contentsBlock03 .blockDetail02 .imageLeft .left .checkBtn a {
  display: block;
  padding-bottom: 12px;
  background: url(../img/flower_contents_arrow03.png) no-repeat 0 bottom;
  margin-bottom: 7px;
}

#contentsBlock03 .blockDetail02 .imageLeft .left .checkBtn a:hover {
  opacity: .7;
}

#contentsBlock03 .blockDetail03 {
  position: relative;
  top: -172px;
}

#contentsBlock03 .blockDetail03 img {
  display: block;
}

#contentsBlock03 .flowerBox > div {
  position: absolute;
  z-index: 1;
}

#contentsBlock03 .flowerBox .flower23 {
  right: -189px;
  top: 54px;
}

#contentsBlock03 .flowerBox .flower24 {
  right: -236px;
  top: -226px;
}

#contentsBlock03 .flowerBox .flower25 {
  left: -49px;
  top: 502px;
}

#contentsBlock03 .flowerBox .flower26 {
  right: -250px;
  top: 491px;
}

#contentsBlock03 .flowerBox .flower27 {
  right: -147px;
  top: 929px;
}

#contentsBlock03 .flowerBox .flower28 {
  left: -217px;
  top: 1035px;
}

#contentsBlock03 .flowerBox .flower29 {
  left: -250px;
  top: 971px;
}

#contentsBlock03 .flowerBox .flower30 {
  right: 116px;
  top: 1245px;
}

#contentsBlock03 .flowerBox .flower31 {
  right: -250px;
  top: 1447px;
}

#contentsBlock03 .flowerBox .flower32 {
  left: -239px;
  top: 1819px;
}

@media screen and (max-width: 768px) {
  #contentsBlock03 {
    background: url(../img/flower_contents_bg03_sp.jpg) no-repeat 0 193px;
    background-size: 100% auto;
  }
  #contentsBlock03 > .inner {
    width: auto;
    padding: 93px 0 0;
  }
  #contentsBlock03 .blockDetail01 .imageLeft .right {
    padding-top: 18.59375vw;
    width: auto;
    float: none;
    position: relative;
  }
  #contentsBlock03 .blockDetail01 .imageLeft .right a {
    display: block;
    margin-left: 6.8vw;
  }
  #contentsBlock03 .blockDetail01 .imageLeft .left {
    width: auto;
    float: none;
    margin-bottom: 26px;
  }
  #contentsBlock03 .blockDetail01 .imageLeft .left h3 {
    width: 220px;
    margin: 0 0 0 11px;
  }
  #contentsBlock03 .blockDetail02 {
    padding: 36px 0 61px;
    top: 0;
  }
  #contentsBlock03 .blockDetail02 .image {
    width: 320px;
    margin: 0 auto 20px;
  }
  #contentsBlock03 .blockDetail02 .image img {
    width: 182px;
    margin-left: 18px;
  }
  #contentsBlock03 .blockDetail02 .imageLeft {
    width: 320px;
    margin: 0 auto 22px;
  }
  #contentsBlock03 .blockDetail02 .imageLeft .right {
    margin-top: 0;
    width: 140px;
  }
  #contentsBlock03 .blockDetail02 .imageLeft .right a {
    width: auto;
  }
  #contentsBlock03 .blockDetail02 .imageLeft .left {
    margin-top: 0;
    width: 180px;
    height: 95px;
    padding-top: 0;
    position: relative;
  }
  #contentsBlock03 .blockDetail02 .imageLeft .left .checkBtn {
    margin: 0 0 0 58px;
    position: absolute;
    bottom: 0;
  }
  #contentsBlock03 .blockDetail02 .imageLeft .left .checkBtn .btnInner {
    width: 94px;
    margin: 0;
  }
  #contentsBlock03 .blockDetail02 .imageLeft .left .checkBtn a {
    padding-bottom: 6px;
    background: url(../img/flower_contents_arrow03.png) no-repeat 0 bottom;
    background-size: 100% auto;
    margin-bottom: 0;
  }
  #contentsBlock03 .blockDetail02 .imageLeft .left .checkBtn a img {
    width: 53px;
  }
  #contentsBlock03 .blockDetail02 .imageLeft .left .checkBtn p {
    text-align: left;
    font-size: 0.9rem;
  }
  #contentsBlock03 .blockDetail02 .text {
    width: 320px;
    margin: 0 auto;
    text-align: right;
  }
  #contentsBlock03 .blockDetail02 .text > p {
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1.58;
    letter-spacing: .05em;
    padding-right: 10px;
    color: #4b5ca3;
  }
  #contentsBlock03 .blockDetail03 {
    position: relative;
    top: 0;
  }
  #contentsBlock03 .blockDetail03 img {
    display: block;
  }
  #contentsBlock03 .flowerBox .flower23 {
    width: 28px;
    top: 55px;
    right: 0;
  }
  #contentsBlock03 .flowerBox .flower24 {
    width: 118px;
    top: -100px;
    right: 0;
  }
  #contentsBlock03 .flowerBox .flower25 {
    width: 106px;
    top: -50px;
    left: 0;
  }
  #contentsBlock03 .flowerBox .flower26 {
    width: 53px;
    top: 112px;
    right: 0;
  }
  #contentsBlock03 .flowerBox .flower27 {
    width: 138px;
    top: -82px;
    right: 0;
  }
  #contentsBlock03 .flowerBox .flower28 {
    width: 88px;
    top: 224px;
    right: 5px;
    left: auto;
  }
  #contentsBlock03 .flowerBox .flower29 {
    width: 90px;
    bottom: -2px;
    left: 0;
    top: auto;
  }
  #contentsBlock03 .flowerBox .flower30 {
    width: 90px;
    top: -57px;
    left: 0;
  }
  #contentsBlock03 .flowerBox .flower31 {
    width: 100px;
    top: -56px;
    right: 0;
  }
  #contentsBlock03 .flowerBox .flower32 {
    width: 89px;
    top: auto;
    bottom: -99px;
    left: 0;
  }
  #contentsBlock03 .flowerBox .flower33 {
    width: 76px;
    top: auto;
    bottom: -20px;
    left: auto;
    right: 1px;
  }
}

#contentsBlock04 {
  color: #323232;
  margin-bottom: 123px;
}

#contentsBlock04 > .inner {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

#contentsBlock04 .blockDetail01 {
  text-align: center;
  margin-bottom: 32px;
}

#contentsBlock04 .blockDetail01 h3 {
  margin-bottom: 24px;
}

#contentsBlock04 .blockDetail01 p {
  font-size: 2.599rem;
  line-height: 1.54;
  letter-spacing: .02em;
}

#contentsBlock04 .blockDetail02 {
  margin-bottom: 40px;
}

#contentsBlock04 .blockDetail02 .imageLeft .left {
  float: left;
  width: 551px;
}

#contentsBlock04 .blockDetail02 .imageLeft .right {
  float: right;
  width: 397px;
  margin: 20px 11px 0 0;
  text-align: center;
}

#contentsBlock04 .blockDetail02 .imageLeft .right .text01 {
  margin-bottom: 117px;
}

#contentsBlock04 .blockDetail02 .imageLeft .right .text02 {
  text-align: left;
  font-size: 1.682rem;
  color: #df8d00;
  letter-spacing: .02em;
  margin: 0 0 50px 20px;
}

#contentsBlock04 .blockDetail02 .imageLeft .right .text03 {
  font-size: 1.897rem;
  letter-spacing: .02em;
  font-family: YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  margin-bottom: 15px;
}

#contentsBlock04 .blockDetail02 .imageLeft .right .cartBtn {
  width: 397px;
}

#contentsBlock04 .blockDetail02 .imageLeft .right .cartBtn .btn01 {
  float: left;
}

#contentsBlock04 .blockDetail02 .imageLeft .right .cartBtn .btn02 {
  float: right;
}

#contentsBlock04 .blockDetail02 .slider .slick-dots {
  position: absolute;
  top: 68px;
  right: -520px;
  bottom: auto;
}

#contentsBlock04 .blockDetail02 .slider .slick-dots li {
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  background: url(../img/slider/flower_slider_bg01.jpg) no-repeat 0 0;
  background-size: 100% auto;
  border: solid 1px #ccc;
  border-radius: 40px;
  margin: 0 31px 0 0;
}

#contentsBlock04 .blockDetail02 .slider .slick-dots li button {
  width: 78px;
  height: 78px;
  box-sizing: border-box;
  border: solid 4px #fff;
  border-radius: 40px;
}

#contentsBlock04 .blockDetail02 .slider .slick-dots li button::before {
  content: none;
}

#contentsBlock04 .blockDetail02 .slider .slick-dots li:hover {
  opacity: .7;
}

#contentsBlock04 .blockDetail02 .slider .slick-dots li:nth-child(2) {
  background: url(../img/slider/flower_slider_bg02.jpg) no-repeat 0 0;
  background-size: 100% auto;
}

#contentsBlock04 .blockDetail02 .slider .slick-dots li:nth-child(3) {
  background: url(../img/slider/flower_slider_bg03.jpg) no-repeat 0 0;
  background-size: 100% auto;
}

#contentsBlock04 .blockDetail02 .slider .slick-dots li.slick-active {
  width: 84px;
  height: 84px;
  border-radius: 42px;
  border: solid 3px #df8d00;
  margin: 0 29px 0 -2px;
}

#contentsBlock04 .blockDetail02 .slider .slick-dots li:last-child {
  margin-right: 0;
}

#contentsBlock04 .blockDetail02 .slider .slick-dots li:last-child.slick-active {
  margin-right: -2px;
}

#contentsBlock04 .blockDetail03 .column02 .left {
  float: left;
  width: 499px;
}

#contentsBlock04 .blockDetail03 .column02 .right {
  float: right;
  width: 501px;
}

#contentsBlock04 .blockDetail03 .column02 .product {
  min-height: 168px;
  padding: 50px 0 0 284px;
  text-align: center;
  font-size: 1.9rem;
  line-height: 1.37;
  font-family: YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  background: url(../img/flower_contents_img12.jpg) no-repeat 23px 0;
  margin-bottom: 34px;
  letter-spacing: .04em;
}

#contentsBlock04 .blockDetail03 .column02 .cartBtn {
  width: 397px;
  margin-left: 70px;
}

#contentsBlock04 .blockDetail03 .column02 .cartBtn .btn01 {
  float: left;
}

#contentsBlock04 .blockDetail03 .column02 .cartBtn .btn02 {
  float: right;
}

#contentsBlock04 .blockDetail03 .column02 .right .product {
  padding: 50px 0 0 188px;
  background: url(../img/flower_contents_img13.jpg) no-repeat 0 3px;
}

#contentsBlock04 .blockDetail03 .column02 .right .cartBtn {
  margin-left: 32px;
}

@media screen and (max-width: 768px) {
  #contentsBlock04 {
    margin-bottom: 46px;
    padding: 45px 0 0;
  }
  #contentsBlock04 > .inner {
    width: auto;
  }
  #contentsBlock04 .blockDetail01 {
    margin-bottom: 18px;
  }
  #contentsBlock04 .blockDetail01 h3 {
    width: 65px;
    margin: 0 auto 4px;
  }
  #contentsBlock04 .blockDetail01 p {
    font-size: 1.3rem;
  }
  #contentsBlock04 .blockDetail02 {
    margin-bottom: 42px;
  }
  #contentsBlock04 .blockDetail02 .imageLeft .left {
    float: none;
    width: auto;
    margin-bottom: 18px;
  }
  #contentsBlock04 .blockDetail02 .imageLeft .right {
    float: none;
    width: auto;
    margin: 0;
  }
  #contentsBlock04 .blockDetail02 .imageLeft .right .text01 {
    width: 78px;
    margin: 0 auto 49px;
  }
  #contentsBlock04 .blockDetail02 .imageLeft .right .text02 {
    font-size: 0.9rem;
    width: 195px;
    margin: 0 auto 13px;
    letter-spacing: .05em;
  }
  #contentsBlock04 .blockDetail02 .imageLeft .right .text03 {
    font-size: 0.95rem;
    margin-bottom: 12px;
  }
  #contentsBlock04 .blockDetail02 .imageLeft .right .cartBtn {
    width: 299px;
    margin: 0 auto;
  }
  #contentsBlock04 .blockDetail02 .imageLeft .right .cartBtn .btn01 {
    width: 156px;
  }
  #contentsBlock04 .blockDetail02 .imageLeft .right .cartBtn .btn02 {
    width: 132px;
  }
  #contentsBlock04 .blockDetail02 .slider {
    margin-bottom: 0;
  }
  #contentsBlock04 .blockDetail02 .slider .slick-dots {
    position: absolute;
    top: auto;
    bottom: -84px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  #contentsBlock04 .blockDetail02 .slider .slick-dots li {
    width: 42px;
    height: 42px;
    border: solid 1px #ccc;
    border-radius: 21px;
    margin: 0 16px 0 0;
  }
  #contentsBlock04 .blockDetail02 .slider .slick-dots li button {
    width: 40px;
    height: 40px;
    border: solid 2px #fff;
    border-radius: 20px;
  }
  #contentsBlock04 .blockDetail02 .slider .slick-dots li.slick-active {
    width: 44px;
    height: 44px;
    border-radius: 22px;
    border: solid 2px #df8d00;
    margin: 0 15px 0 -1px;
  }
  #contentsBlock04 .blockDetail02 .slider .slick-dots li:last-child {
    margin-right: 0;
  }
  #contentsBlock04 .blockDetail02 .slider .slick-dots li:last-child.slick-active {
    margin-right: -1px;
  }
  #contentsBlock04 .blockDetail03 .column02 {
    width: 300px;
    margin: 0 auto;
  }
  #contentsBlock04 .blockDetail03 .column02 .left {
    width: 140px;
  }
  #contentsBlock04 .blockDetail03 .column02 .right {
    width: 140px;
  }
  #contentsBlock04 .blockDetail03 .column02 .product {
    min-height: auto;
    padding: 108px 0 0 0;
    text-align: center;
    font-size: 0.95rem;
    background: url(../img/flower_contents_img12.jpg) no-repeat center top;
    background-size: 130px auto;
    margin-bottom: 10px;
    letter-spacing: .04em;
  }
  #contentsBlock04 .blockDetail03 .column02 .cartBtn {
    width: auto;
    margin-left: 0;
  }
  #contentsBlock04 .blockDetail03 .column02 .cartBtn .btn01 {
    float: none;
    margin-bottom: 14px;
  }
  #contentsBlock04 .blockDetail03 .column02 .cartBtn .btn02 {
    float: none;
  }
  #contentsBlock04 .blockDetail03 .column02 .right .product {
    padding: 108px 0 0 0;
    background: url(../img/flower_contents_img13.jpg) no-repeat center top;
    background-size: 136px auto;
  }
  #contentsBlock04 .blockDetail03 .column02 .right .cartBtn {
    margin-left: 0;
  }
}

#contentsBlock05 {
  background: url(../img/flower_contents_bg04.png) no-repeat center center;
  background-size: 1500px 100%;
  padding: 55px 0 81px;
}

#contentsBlock05 > .inner {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

#contentsBlock05 .blockDetail01 {
  text-align: center;
  color: #df8d00;
  margin-bottom: 37px;
}

#contentsBlock05 .blockDetail01 .twitter {
  background: #fff;
  width: 282px;
  margin: 0 auto;
  box-sizing: border-box;
  border: solid 1px #df8d00;
  border-radius: 30px;
  padding: 8px 40px 11px;
  margin-bottom: 8px;
}

#contentsBlock05 .blockDetail01 .twitter p:first-child {
  font-size: 1.232rem;
  line-height: 1;
  letter-spacing: .02em;
  margin-bottom: 5px;
}

#contentsBlock05 .blockDetail01 .twitter p:last-child {
  font-size: 2.359rem;
  line-height: 1;
  padding: 0 26px;
  background: url(../img/flower_contents_ico01.png) no-repeat 0 center;
  letter-spacing: .03em;
}

#contentsBlock05 .blockDetail01 .text01 {
  font-size: 2.838rem;
  margin-bottom: 12px;
  letter-spacing: -.03em;
}

#contentsBlock05 .blockDetail01 h3 {
  font-size: 4.464rem;
  line-height: 1.25;
  margin-bottom: 14px;
}

#contentsBlock05 .blockDetail01 h3 .size01 {
  font-size: 3.419rem;
}

#contentsBlock05 .blockDetail01 h3 .size02 {
  font-size: 3.324rem;
}

#contentsBlock05 .blockDetail01 .text02 {
  font-size: 2.504rem;
  width: 424px;
  box-sizing: border-box;
  margin: 0 auto 42px;
  background: #df8d00;
  color: #fff;
  padding: 8px 5px 7px;
}

#contentsBlock05 .blockDetail02 {
  text-align: center;
  color: #df8d00;
  margin-bottom: 71px;
}

#contentsBlock05 .blockDetail02 .text {
  font-size: 3.5rem;
  margin-bottom: 45px;
  letter-spacing: .02em;
}

#contentsBlock05 .blockDetail02 .text::after {
  content: "";
  display: block;
  width: 71px;
  height: 1px;
  margin: 24px auto 0;
  background: #df8d00;
}

#contentsBlock05 .blockDetail02 .list {
  margin-bottom: 44px;
}

#contentsBlock05 .blockDetail02 .list li {
  padding-bottom: 38px;
  border-bottom: solid 1px #f0e9cc;
  margin-bottom: 31px;
}

#contentsBlock05 .blockDetail02 .list li p:first-child {
  margin-bottom: 8px;
}

#contentsBlock05 .blockDetail02 .list li p:last-child {
  font-size: 2.2rem;
  line-height: 1.36;
  color: #212121;
  font-family: YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}

#contentsBlock05 .blockDetail02 .list li:nth-child(2) {
  padding-bottom: 46px;
  margin-bottom: 29px;
}

#contentsBlock05 .blockDetail02 .list li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

#contentsBlock05 .blockDetail02 .list li:last-child p:first-child {
  margin-bottom: 11px;
}

#contentsBlock05 .blockDetail02 .btn {
  width: 642px;
  margin: 0 auto;
}

#contentsBlock05 .blockDetail02 .btn p {
  width: 305px;
  float: left;
}

#contentsBlock05 .blockDetail02 .btn p:last-child {
  float: right;
}

#contentsBlock05 .blockDetail02 .btn p a {
  display: block;
  background: #df8d00;
  font-size: 2.229rem;
  color: #fff;
  padding: 20px 5px;
}

#contentsBlock05 .blockDetail02 .btn p a > span {
  padding-right: 16px;
  background: url(../img/flower_contents_arrow04.png) no-repeat right center;
}

#contentsBlock05 .blockDetail02 .btn p a > span span {
  letter-spacing: .04em;
}

#contentsBlock05 .blockDetail02 .btn p a:hover {
  opacity: .7;
}

#contentsBlock05 .blockDetail03 {
  margin-bottom: 71px;
}

#contentsBlock05 .blockDetail03 .box {
  background: #fff;
  padding: 10px 20px 8px 32px;
  font-size: 1.5rem;
  line-height: 1.67;
  font-family: YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}

#contentsBlock05 .blockDetail03 .box .boxInner {
  height: 290px;
  overflow-y: auto;
}

#contentsBlock05 .blockDetail03 .box .title {
  color: #df8d00;
  padding: 7px 0 0;
  font-weight: bold;
}

#contentsBlock05 .blockDetail03 .box .list {
  margin-bottom: 17px;
  padding-right: 40px;
}

#contentsBlock05 .blockDetail03 .box .list li {
  text-indent: -1em;
  padding-left: 1em;
}

#contentsBlock05 .blockDetail03 .box .scrollBar .mCSB_scrollTools {
  opacity: 1;
  width: 22px;
}

#contentsBlock05 .blockDetail03 .box .scrollBar .mCSB_scrollTools .mCSB_dragger {
  width: 22px;
  border-radius: 11px;
  background: #df8d00;
}

#contentsBlock05 .blockDetail03 .box .scrollBar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 0;
}

#contentsBlock05 .blockDetail03 .box .scrollBar .mCSB_scrollTools .mCSB_draggerRail {
  width: 22px;
  border-radius: 11px;
  background: linear-gradient(90deg, #ececec, #f2f2f2, #ececec);
}

#contentsBlock05 .blockDetail04 {
  text-align: center;
}

#contentsBlock05 .blockDetail04 .text {
  margin-bottom: 22px;
}

#contentsBlock05 .blockDetail04 .list {
  width: 261px;
  margin: 0 auto;
  font-size: 0;
}

#contentsBlock05 .blockDetail04 .list li {
  display: inline-block;
  margin-right: 44px;
}

#contentsBlock05 .blockDetail04 .list li:nth-child(2) {
  margin-right: 45px;
}

#contentsBlock05 .blockDetail04 .list li:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  #contentsBlock05 {
    background: #fffbeb;
    padding: 24px 0 25px;
  }
  #contentsBlock05 > .inner {
    width: auto;
  }
  #contentsBlock05 .blockDetail01 {
    margin-bottom: 14px;
  }
  #contentsBlock05 .blockDetail01 .twitter {
    width: 159px;
    border: solid 1px #df8d00;
    border-radius: 15px;
    padding: 5px 22px 6px;
    margin-bottom: 3px;
  }
  #contentsBlock05 .blockDetail01 .twitter p:first-child {
    font-size: 0.7rem;
    margin-bottom: 4px;
  }
  #contentsBlock05 .blockDetail01 .twitter p:last-child {
    font-size: 1.2rem;
    padding: 0 20px;
    background: url(../img/flower_contents_ico01.png) no-repeat 0 center;
    background-size: 15px auto;
  }
  #contentsBlock05 .blockDetail01 .text01 {
    font-size: 1.613rem;
    margin-bottom: 7px;
  }
  #contentsBlock05 .blockDetail01 h3 {
    font-size: 2.205rem;
    line-height: 1.25;
    margin-bottom: 9px;
  }
  #contentsBlock05 .blockDetail01 h3 .size01 {
    font-size: 1.689rem;
  }
  #contentsBlock05 .blockDetail01 h3 .size02 {
    font-size: 1.692rem;
  }
  #contentsBlock05 .blockDetail01 .text02 {
    font-size: 1.25rem;
    width: 210px;
    box-sizing: border-box;
    margin: 0 auto 12px;
    padding: 5px 5px 3px;
  }
  #contentsBlock05 .blockDetail01 .image {
    width: 306px;
    margin: 0 auto;
  }
  #contentsBlock05 .blockDetail02 {
    margin-bottom: 33px;
  }
  #contentsBlock05 .blockDetail02 .text {
    font-size: 1.75rem;
    margin-bottom: 15px;
  }
  #contentsBlock05 .blockDetail02 .text::after {
    width: 35px;
    margin: 5px auto 0;
  }
  #contentsBlock05 .blockDetail02 .list {
    width: 92%;
    margin: 0 auto 19px;
  }
  #contentsBlock05 .blockDetail02 .list li {
    padding-bottom: 9px;
    margin-bottom: 16px;
    text-align: left;
  }
  #contentsBlock05 .blockDetail02 .list li p:first-child {
    width: 30px;
    margin-bottom: 4px;
    line-height: 1;
  }
  #contentsBlock05 .blockDetail02 .list li p:last-child {
    font-size: 1.2rem;
    line-height: 1.25;
  }
  #contentsBlock05 .blockDetail02 .list li:nth-child(2) {
    padding-bottom: 9px;
    margin-bottom: 16px;
  }
  #contentsBlock05 .blockDetail02 .list li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }
  #contentsBlock05 .blockDetail02 .list li:last-child p:first-child {
    margin-bottom: 4px;
  }
  #contentsBlock05 .blockDetail02 .btn {
    width: 294px;
  }
  #contentsBlock05 .blockDetail02 .btn p {
    width: 144px;
  }
  #contentsBlock05 .blockDetail02 .btn p:last-child {
    width: 138px;
  }
  #contentsBlock05 .blockDetail02 .btn p a {
    font-size: 1.3rem;
    padding: 12px 3px 10px;
  }
  #contentsBlock05 .blockDetail02 .btn p a > span {
    padding-right: 9px;
    background: url(../img/flower_contents_arrow04.png) no-repeat right center;
    background-size: 4px auto;
  }
  #contentsBlock05 .blockDetail03 {
    margin-bottom: 30px;
  }
  #contentsBlock05 .blockDetail03 .box {
    margin: 0 3px;
    padding: 5px 6px 6px 11px;
    font-size: 0.9rem;
    line-height: 1.33;
  }
  #contentsBlock05 .blockDetail03 .box .boxInner {
    height: 149px;
  }
  #contentsBlock05 .blockDetail03 .box .title {
    color: #df8d00;
    padding: 7px 0 0;
    margin-bottom: 12px;
  }
  #contentsBlock05 .blockDetail03 .box .list {
    margin-bottom: 15px;
    padding-right: 5px;
  }
  #contentsBlock05 .blockDetail03 .box .scrollBar .mCSB_scrollTools {
    width: 15px;
  }
  #contentsBlock05 .blockDetail03 .box .scrollBar .mCSB_scrollTools .mCSB_dragger {
    width: 15px;
    border-radius: 7px;
  }
  #contentsBlock05 .blockDetail03 .box .scrollBar .mCSB_scrollTools .mCSB_draggerRail {
    width: 15px;
    border-radius: 7px;
  }
  #contentsBlock05 .blockDetail04 .text {
    width: 35px;
    margin: 0 auto 15px;
  }
  #contentsBlock05 .blockDetail04 .text img {
    display: block;
  }
  #contentsBlock05 .blockDetail04 .list {
    width: 140px;
  }
  #contentsBlock05 .blockDetail04 .list li {
    width: 35px;
    margin-right: 24px;
  }
  #contentsBlock05 .blockDetail04 .list li:nth-child(2) {
    width: 29px;
    margin-right: 24px;
  }
  #contentsBlock05 .blockDetail04 .list li:last-child {
    width: 28px;
  }
}

#contentsFooter {
  background: url(../img/flower_contents_bg05.jpg) no-repeat center center;
  background-size: 1500px 100%;
  text-align: center;
  padding: 72px 0 14px;
}

#contentsFooter img {
  display: block;
}

#contentsFooter > .inner {
  width: 1000px;
  margin: 0 auto;
}

#contentsFooter p:first-child {
  width: 249px;
  margin: 0 auto 66px;
}

#contentsFooter p:last-child {
  width: 224px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  #contentsFooter {
    background: url(../img/flower_contents_bg05_sp.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 23px 0;
  }
  #contentsFooter > .inner {
    width: auto;
  }
  #contentsFooter p:first-child {
    margin: 0 auto 10px;
    width: 125px;
  }
  #contentsFooter p:last-child {
    width: 122px;
  }
}

@media screen and (min-width: 769px) {
/*add*/
#header {
  width: 100%;
  height: 113px;
  border-bottom:none;
}
#header .headArea {
  display: none;
}
#header .bodyArea {
  background-color: #fff;
}
#header .bodyArea .inner .menuBtn {
  display: none;
}
#header .bodyArea .inner .keywords {
  display: none;
}
#header .bodyArea .inner .btn {
  display: none;
}
#header .bodyArea .inner .btn .wishList {
  display: none;
}
#header .bodyArea .inner .btn .cart {
  display: none;
}
#header .bodyArea .inner .btn .cart a .count {
  display: none;
}
#header .bodyArea .inner .account {
  display: none;
}
#header .gnavi {
  display: none;
}
#breadcrumbs {
  display: none;
}
}

.vertical01{
  animation: vertical 1s ease-in-out infinite alternate;
}

.vertical02{
  animation: vertical 1s 0.2s ease-in-out infinite alternate;
}

.vertical03{
  animation: vertical 1s 0.4s ease-in-out infinite alternate;
}

.main_txt.loaded span{
/*  opacity: 1;*/
  animation: 2000ms linear anime-bezier forwards;
}

.main_txt span{
  display: block;
/*  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);*/
  opacity: 0;
  transform: translate(50px,50px);
}

.main_txt span:nth-child(1){
  animation-delay: 0s;
}
.main_txt span:nth-child(2){
  animation-delay: 0.1s;
}
.main_txt span:nth-child(3){
  animation-delay: 0.2s;
}
.main_txt span:nth-child(4){
  animation-delay: 0.3s;
}
.main_txt span:nth-child(5){
  animation-delay: 0.4s;
}
.main_txt span:nth-child(6){
  animation-delay: 0.5s;
}
.main_txt span:nth-child(7){
  animation-delay: 0.6s;
}
.main_txt span:nth-child(8){
  animation-delay: 0.7s;
}
.main_txt span:nth-child(9){
  animation-delay: 0.8s;
}
.main_txt span:nth-child(10){
  animation-delay: 0.9s;
}

@keyframes vertical {
    0% { transform:translateY(-10px); }
  99.9% { transform:translateY(  0px); }
}

@-webkit-keyframes vertical {
    0% { -webkit-transform:translateY(-10px); }
  99.9% { -webkit-transform:translateY(  0px); }
}

.anime {
  animation: 2000ms linear anime-bezier;
}

@keyframes anime-bezier {
  0%  {
    transform: translate3d(0px, 0px, 0px);
    opacity: 0;
  }
  0.8%  {
    transform: translate3d(-4.03px, -0.44px, 0px);
    opacity: 0.03;
  }
  1.6%  {
    transform: translate3d(-7.73px, -1.04px, 0px);
    opacity: 0.07;
  }
  2.4%  {
    transform: translate3d(-11.14px, -1.79px, 0px);
    opacity: 0.11;
  }
  3.2%  {
    transform: translate3d(-14.26px, -2.67px, 0px);
    opacity: 0.15;
  }
  4%  {
    transform: translate3d(-17.13px, -3.65px, 0px);
    opacity: 0.18;
  }
  4.8%  {
    transform: translate3d(-19.76px, -4.71px, 0px);
    opacity: 0.21;
  }
  5.6%  {
    transform: translate3d(-22.17px, -5.84px, 0px);
    opacity: 0.25;
  }
  6.4%  {
    transform: translate3d(-24.38px, -7.02px, 0px);
    opacity: 0.28;
  }
  7.19%  {
    transform: translate3d(-26.39px, -8.23px, 0px);
    opacity: 0.31;
  }
  8%  {
    transform: translate3d(-28.27px, -9.49px, 0px);
    opacity: 0.34;
  }
  8.79%  {
    transform: translate3d(-29.95px, -10.74px, 0px);
    opacity: 0.36;
  }
  9.6%  {
    transform: translate3d(-31.53px, -12.04px, 0px);
    opacity: 0.39;
  }
  10.4%  {
    transform: translate3d(-32.96px, -13.32px, 0px);
    opacity: 0.42;
  }
  11.2%  {
    transform: translate3d(-34.26px, -14.59px, 0px);
    opacity: 0.44;
  }
  12%  {
    transform: translate3d(-35.45px, -15.86px, 0px);
    opacity: 0.47;
  }
  12.8%  {
    transform: translate3d(-36.54px, -17.11px, 0px);
    opacity: 0.49;
  }
  13.6%  {
    transform: translate3d(-37.54px, -18.34px, 0px);
    opacity: 0.51;
  }
  14.39%  {
    transform: translate3d(-38.43px, -19.53px, 0px);
    opacity: 0.54;
  }
  15.2%  {
    transform: translate3d(-39.27px, -20.73px, 0px);
    opacity: 0.56;
  }
  16%  {
    transform: translate3d(-40.03px, -21.88px, 0px);
    opacity: 0.58;
  }
  16.8%  {
    transform: translate3d(-40.72px, -23.01px, 0px);
    opacity: 0.6;
  }
  17.59%  {
    transform: translate3d(-41.34px, -24.09px, 0px);
    opacity: 0.61;
  }
  18.39%  {
    transform: translate3d(-41.91px, -25.15px, 0px);
    opacity: 0.63;
  }
  19.2%  {
    transform: translate3d(-42.43px, -26.19px, 0px);
    opacity: 0.65;
  }
  20%  {
    transform: translate3d(-42.9px, -27.19px, 0px);
    opacity: 0.67;
  }
  20.8%  {
    transform: translate3d(-43.33px, -28.15px, 0px);
    opacity: 0.68;
  }
  21.6%  {
    transform: translate3d(-43.72px, -29.08px, 0px);
    opacity: 0.7;
  }
  22.4%  {
    transform: translate3d(-44.07px, -29.97px, 0px);
    opacity: 0.71;
  }
  23.2%  {
    transform: translate3d(-44.39px, -30.83px, 0px);
    opacity: 0.73;
  }
  24%  {
    transform: translate3d(-44.68px, -31.65px, 0px);
    opacity: 0.74;
  }
  24.8%  {
    transform: translate3d(-44.94px, -32.45px, 0px);
    opacity: 0.75;
  }
  25.6%  {
    transform: translate3d(-45.18px, -33.21px, 0px);
    opacity: 0.77;
  }
  26.4%  {
    transform: translate3d(-45.39px, -33.94px, 0px);
    opacity: 0.78;
  }
  27.2%  {
    transform: translate3d(-45.58px, -34.64px, 0px);
    opacity: 0.79;
  }
  28%  {
    transform: translate3d(-45.76px, -35.31px, 0px);
    opacity: 0.8;
  }
  28.79%  {
    transform: translate3d(-45.91px, -35.94px, 0px);
    opacity: 0.81;
  }
  29.6%  {
    transform: translate3d(-46.06px, -36.56px, 0px);
    opacity: 0.82;
  }
  30.4%  {
    transform: translate3d(-46.18px, -37.14px, 0px);
    opacity: 0.83;
  }
  31.2%  {
    transform: translate3d(-46.3px, -37.69px, 0px);
    opacity: 0.84;
  }
  32%  {
    transform: translate3d(-46.4px, -38.22px, 0px);
    opacity: 0.85;
  }
  32.8%  {
    transform: translate3d(-46.49px, -38.73px, 0px);
    opacity: 0.86;
  }
  33.6%  {
    transform: translate3d(-46.57px, -39.21px, 0px);
    opacity: 0.87;
  }
  34.4%  {
    transform: translate3d(-46.65px, -39.67px, 0px);
    opacity: 0.87;
  }
  35.19%  {
    transform: translate3d(-46.71px, -40.09px, 0px);
    opacity: 0.88;
  }
  36%  {
    transform: translate3d(-46.77px, -40.51px, 0px);
    opacity: 0.89;
  }
  36.79%  {
    transform: translate3d(-46.82px, -40.9px, 0px);
    opacity: 0.89;
  }
  37.6%  {
    transform: translate3d(-46.87px, -41.28px, 0px);
    opacity: 0.9;
  }
  38.4%  {
    transform: translate3d(-46.91px, -41.63px, 0px);
    opacity: 0.91;
  }
  39.2%  {
    transform: translate3d(-46.95px, -41.96px, 0px);
    opacity: 0.91;
  }
  40%  {
    transform: translate3d(-46.98px, -42.28px, 0px);
    opacity: 0.92;
  }
  40.79%  {
    transform: translate3d(-47.01px, -42.57px, 0px);
    opacity: 0.92;
  }
  41.6%  {
    transform: translate3d(-47.03px, -42.86px, 0px);
    opacity: 0.93;
  }
  42.4%  {
    transform: translate3d(-47.06px, -43.13px, 0px);
    opacity: 0.93;
  }
  43.2%  {
    transform: translate3d(-47.07px, -43.38px, 0px);
    opacity: 0.94;
  }
  44%  {
    transform: translate3d(-47.09px, -43.62px, 0px);
    opacity: 0.94;
  }
  44.8%  {
    transform: translate3d(-47.11px, -43.84px, 0px);
    opacity: 0.94;
  }
  45.6%  {
    transform: translate3d(-47.12px, -44.05px, 0px);
    opacity: 0.95;
  }
  46.4%  {
    transform: translate3d(-47.13px, -44.25px, 0px);
    opacity: 0.95;
  }
  47.2%  {
    transform: translate3d(-47.14px, -44.44px, 0px);
    opacity: 0.95;
  }
  48%  {
    transform: translate3d(-47.15px, -44.61px, 0px);
    opacity: 0.96;
  }
  48.8%  {
    transform: translate3d(-47.16px, -44.78px, 0px);
    opacity: 0.96;
  }
  49.6%  {
    transform: translate3d(-47.17px, -44.93px, 0px);
    opacity: 0.96;
  }
  50.4%  {
    transform: translate3d(-47.17px, -45.08px, 0px);
    opacity: 0.96;
  }
  51.2%  {
    transform: translate3d(-47.18px, -45.21px, 0px);
    opacity: 0.97;
  }
  52%  {
    transform: translate3d(-47.18px, -45.34px, 0px);
    opacity: 0.97;
  }
  52.8%  {
    transform: translate3d(-47.18px, -45.46px, 0px);
    opacity: 0.97;
  }
  53.6%  {
    transform: translate3d(-47.19px, -45.57px, 0px);
    opacity: 0.97;
  }
  54.4%  {
    transform: translate3d(-47.19px, -45.67px, 0px);
    opacity: 0.98;
  }
  55.2%  {
    transform: translate3d(-47.19px, -45.77px, 0px);
    opacity: 0.98;
  }
  56%  {
    transform: translate3d(-47.19px, -45.86px, 0px);
    opacity: 0.98;
  }
  56.8%  {
    transform: translate3d(-47.2px, -45.94px, 0px);
    opacity: 0.98;
  }
  57.59%  {
    transform: translate3d(-47.2px, -46.02px, 0px);
    opacity: 0.98;
  }
  58.4%  {
    transform: translate3d(-47.2px, -46.09px, 0px);
    opacity: 0.98;
  }
  59.2%  {
    transform: translate3d(-47.2px, -46.16px, 0px);
    opacity: 0.98;
  }
  60%  {
    transform: translate3d(-47.2px, -46.22px, 0px);
    opacity: 0.98;
  }
  60.8%  {
    transform: translate3d(-47.2px, -46.28px, 0px);
    opacity: 0.99;
  }
  61.6%  {
    transform: translate3d(-47.2px, -46.33px, 0px);
    opacity: 0.99;
  }
  62.4%  {
    transform: translate3d(-47.2px, -46.38px, 0px);
    opacity: 0.99;
  }
  63.2%  {
    transform: translate3d(-47.2px, -46.42px, 0px);
    opacity: 0.99;
  }
  64%  {
    transform: translate3d(-47.2px, -46.46px, 0px);
    opacity: 0.99;
  }
  64.8%  {
    transform: translate3d(-47.2px, -46.5px, 0px);
    opacity: 0.99;
  }
  65.6%  {
    transform: translate3d(-47.2px, -46.53px, 0px);
    opacity: 0.99;
  }
  66.4%  {
    transform: translate3d(-47.2px, -46.56px, 0px);
    opacity: 0.99;
  }
  67.2%  {
    transform: translate3d(-47.2px, -46.59px, 0px);
    opacity: 0.99;
  }
  68%  {
    transform: translate3d(-47.2px, -46.61px, 0px);
    opacity: 0.99;
  }
  68.8%  {
    transform: translate3d(-47.2px, -46.64px, 0px);
    opacity: 0.99;
  }
  69.59%  {
    transform: translate3d(-47.2px, -46.66px, 0px);
    opacity: 0.99;
  }
  70.39%  {
    transform: translate3d(-47.2px, -46.68px, 0px);
    opacity: 0.99;
  }
  71.2%  {
    transform: translate3d(-47.2px, -46.69px, 0px);
    opacity: 0.99;
  }
  72%  {
    transform: translate3d(-47.2px, -46.71px, 0px);
    opacity: 0.99;
  }
  72.8%  {
    transform: translate3d(-47.2px, -46.72px, 0px);
    opacity: 0.99;
  }
  73.59%  {
    transform: translate3d(-47.2px, -46.73px, 0px);
    opacity: 0.99;
  }
  74.4%  {
    transform: translate3d(-47.2px, -46.74px, 0px);
    opacity: 0.99;
  }
  75.2%  {
    transform: translate3d(-47.2px, -46.75px, 0px);
    opacity: 0.99;
  }
  76%  {
    transform: translate3d(-47.2px, -46.76px, 0px);
    opacity: 0.99;
  }
  76.8%  {
    transform: translate3d(-47.2px, -46.77px, 0px);
    opacity: 0.99;
  }
  77.6%  {
    transform: translate3d(-47.2px, -46.77px, 0px);
    opacity: 0.99;
  }
  78.4%  {
    transform: translate3d(-47.2px, -46.78px, 0px);
    opacity: 0.99;
  }
  79.2%  {
    transform: translate3d(-47.2px, -46.78px, 0px);
    opacity: 0.99;
  }
  80%  {
    transform: translate3d(-47.2px, -46.79px, 0px);
    opacity: 0.99;
  }
  80.8%  {
    transform: translate3d(-47.2px, -46.79px, 0px);
    opacity: 0.99;
  }
  81.59%  {
    transform: translate3d(-47.2px, -46.79px, 0px);
    opacity: 0.99;
  }
  82.4%  {
    transform: translate3d(-47.2px, -46.8px, 0px);
    opacity: 0.99;
  }
  83.2%  {
    transform: translate3d(-47.2px, -46.8px, 0px);
    opacity: 0.99;
  }
  84%  {
    transform: translate3d(-47.2px, -46.8px, 0px);
    opacity: 0.99;
  }
  84.8%  {
    transform: translate3d(-47.2px, -46.8px, 0px);
    opacity: 0.99;
  }
  85.6%  {
    transform: translate3d(-47.2px, -46.8px, 0px);
    opacity: 0.99;
  }
  86.4%  {
    transform: translate3d(-47.2px, -46.8px, 0px);
    opacity: 0.99;
  }
  87.2%  {
    transform: translate3d(-47.2px, -46.8px, 0px);
    opacity: 0.99;
  }
  88%  {
    transform: translate3d(-47.2px, -46.8px, 0px);
    opacity: 0.99;
  }
  88.8%  {
    transform: translate3d(-47.2px, -46.8px, 0px);
    opacity: 0.99;
  }
  89.6%  {
    transform: translate3d(-47.2px, -46.8px, 0px);
    opacity: 0.99;
  }
  90.4%  {
    transform: translate3d(-47.2px, -46.8px, 0px);
    opacity: 0.99;
  }
  91.2%  {
    transform: translate3d(-47.2px, -46.8px, 0px);
    opacity: 0.99;
  }
  92%  {
    transform: translate3d(-47.2px, -46.8px, 0px);
    opacity: 0.99;
  }
  92.8%  {
    transform: translate3d(-47.2px, -46.8px, 0px);
    opacity: 0.99;
  }
  93.6%  {
    transform: translate3d(-47.2px, -46.8px, 0px);
    opacity: 0.99;
  }
  94.4%  {
    transform: translate3d(-47.2px, -46.8px, 0px);
    opacity: 0.99;
  }
  95.19%  {
    transform: translate3d(-47.2px, -46.8px, 0px);
    opacity: 0.99;
  }
  96%  {
    transform: translate3d(-47.2px, -46.8px, 0px);
    opacity: 0.99;
  }
  96.8%  {
    transform: translate3d(-47.2px, -46.8px, 0px);
    opacity: 0.99;
  }
  97.6%  {
    transform: translate3d(-47.2px, -46.8px, 0px);
    opacity: 0.99;
  }
  98.4%  {
    transform: translate3d(-47.2px, -46.8px, 0px);
    opacity: 0.99;
  }
  100%  {
    transform: translate3d(-47.2px, -46.8px, 0px);
    opacity: 1;
  }
}
