/* ====================
   Object
   ==================== */

/* Project
   -------------------- */

.c-header-title.p-header-title--margin {
    margin: 30px auto 25px auto;
}

.c-form__group--last.p-form__group--margin {
    margin: 35px auto 0 auto;
}

.p-explain {
    font-size: inherit;
}

@media screen and (max-width:768px) {
    .c-header-title.p-header-title--margin {
        margin: 20px auto 15px auto;
    }

    .c-form__group--last.p-form__group--margin {
        margin-top: 20px;
    }

    .p-explain {
        font-size: 70%;
    }
}