.buy{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include min{
    width: 310px;
    height: 100px;
  }
  @include max{
    width: spvw(584);
  }
  a{
    @include min{
      transition: opacity .3s;
      &:hover{
        opacity: .8;
      }
    }

  }
  &__cart{
    background: #000;
    color:#fff;
    @include responsive(width,310,584);
    @include responsive(height,54,70);
    @include responsive(padding-right,20,23);
    @include font-size(18,26);
    line-height: 1.0;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
      color: #fff;
    }
    &::before{
      content:"";
      display: inline-block;
      background: {
        image: url("../image-assets/cart.png");
        repeat: no-repeat;
        size: contain;
      }
      @include responsive(width,25,34);
      @include responsive(height,24,31);
      @include responsive(margin-right,12,24);
    }
  }
  &.narrow{
    @include max{
      width: spvw(268);
    }
    .buy__cart{
      &::before{
        @include max{
          margin-right: spvw(12);
          margin-left: spvw(16)
        }
      }
    }
  }
  &__sub{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    color: #000;
    @include responsive(width,152,284);
    @include responsive(height,40,70);
    @include responsive(margin-top,5,22);
    @include font-size(14.5,26);
    @include min{
      padding-left: 5px;
    }
    &:hover{
      color: #000;
    }
    &::after{
      content:"";
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 5px 8px;
      @include max{
        border-width: spvw(9) 0 spvw(9) spvw(12);
      }
      border-color: transparent transparent transparent #000;
      @include responsive(margin-left,5,12);
    }
  }
}