<%
  var myMeta = {
    title: '',
    desc: '',
    type:'',
    src:'',
    path:'http://pj-pre.roudiam.biz/'
  };
%>
<%- include('inc/header',{meta: myMeta}) %>
  <div id="flower19">
    <div class="header"> <a href="/"> <img src="img/common_header_logo01.png" alt="PEACH JOHN"> </a> </div>
    <div class="head-img fade-inLoad">
      <h1 class="head_txt01 txt-anime01"><img src="img/head_txt01.png" alt="Dreaming Flower"></h1>
      <p class="head_txt02 txt-anime01 delay1"><img src="img/head_txt02.png" alt="中村アンが着る春の花柄"></p>
    </div>
    <div class="lead-top fade-in"><img src="img/lead.png" alt="花々の息吹を感じたら、春はすぐそこ。 心地よい高揚感に包まれて、ミューズ・中村アンさんが色とりどりの花柄を着こなします。"/></div>
    <div class="main fade-in"><img src="img/main_pc.jpg" class="js-image-switch" alt=""/></div>
    <div class="campaign_head fade-in">
      <div class="campaign_head_wrap">
        <div class="title"><img src="img/campaign.png" alt="campaign"/></div>
        <div class="txt01"><img src="img/campaign_txt01.png" alt="花柄セット割キャンペーン"/></div>
        <div class="pic"><img src="img/campaign_img01.png" alt=""/></div>
        <p class="txt">春の新作花柄アイテムを含む、対象アイテムが<br>2点ご購入で870円OFF！2/13 wed. 12:00まで。</p>
        <a href="#campaign"><img src="img/campaign_btn.png" alt="詳しくはページ下部をCHECK"/></a>
      </div>
    </div>
    <!-- sec1 -->
    <div class="sec1 block color01">
      <div class="imgWrap">
        <h2 class="fade-up"><img src="img/sec01_num.png" alt="01"></h2>
        <div class="slideWrap fade-up">
          <ul class="slide slideAni01">
            <li class="active"><img src="img/img01_1_pc.png" alt="" class="js-image-switch"></li>
            <li><img src="img/img01_2_pc.png" alt="" class="js-image-switch"></li>
            <li><img src="img/img01_3_pc.png" alt="" class="js-image-switch"></li>
          </ul>
        </div>
        <div class="para para01 fade-up"><img src="img/img02.png" alt=""></div>
        <div class="leadWrap txt-anime01">
          <p class="delay1"><img src="img/sec01_txt01.png" alt="もし自分で花柄のアイテムを"/></p>
          <p class="delay2"><img src="img/sec01_txt02.png" alt="作るとしたら、"/></p>
          <p class="delay3"><img src="img/sec01_txt03.png" alt="色々なお花が散りばめられた"/></p>
          <p class="delay4"><img src="img/sec01_txt04.png" alt="デザインが良いので、"/></p>
          <p class="delay5"><img src="img/sec01_txt05.png" alt="このブラとパジャマの"/></p>
          <p class="delay6"><img src="img/sec01_txt06.png" alt="華やかな雰囲気が理想です。"/></p>
        </div>
      </div>
      <div class="cartWrap fade-up">
        <ul class="itemWrap">
          <li class="item">
            <div class="pic"><img src="img/butu01.png" alt="ミラクルヌーディ(R)ブラフラワーWT/フラワーNV(B~F cup) &yen;3,480+税"></div>
            <div class="info"><p>ミラクルヌーディ&reg;ブラ<br>フラワーWT/フラワーNV<br>(B〜F cup) &yen;3,480+税</p></div>
            <div class="button"> <a href="#"><img src="img/btn_cart01.png" alt="ADD TO CART"></a> </div>
          </li>
          <li class="item">
            <div class="pic"><img src="img/butu02.png" alt="コットンシャツパジャマ(S/M~M/L size) &yen;5,680+税"></div>
            <div class="info"><p>コットンシャツパジャマ<br>(S/M~M/L size) &yen;5,680+税</p></div>
            <div class="button"> <a href="#"><img src="img/btn_cart01.png" alt="ADD TO CART"></a> </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- sec2 -->
    <div class="sec2 block fade-up">
      <div class="imgWrap">
        <h2><img src="img/sec02_num.png" alt="02"></h2>
        <div class="slideWrap fade-up">
          <ul class="slide slideAni02">
            <li class="active"><img src="img/img03_1_pc.png" alt="" class="js-image-switch"></li>
            <li><img src="img/img03_2_pc.png" alt="" class="js-image-switch"></li>
          </ul>
        </div>
        <p class="para para02 fade-up"><img src="img/img04.png" alt=""></p>
        <div class="leadWrap txt-anime01">
          <p class="delay1"><img src="img/sec02_txt01.png" alt="涼し気なブルーと、"/></p>
          <p class="delay2"><img src="img/sec02_txt02.png" alt="透明感のある"/></p>
          <p class="delay3"><img src="img/sec02_txt03.png" alt="お花のあしらいが素敵。"/></p>
          <p class="delay4"><img src="img/sec02_txt04.png" alt="ランジェリー感のある"/></p>
          <p class="delay5"><img src="img/sec02_txt05.png" alt="デザインでも、"/></p>
          <p class="delay6"><img src="img/sec02_txt06.png" alt="爽やかな色合いなら気軽に"/></p>
          <p class="delay7"><img src="img/sec02_txt07.png" alt="取り入れられそう。"/></p>
        </div>
      </div>
      <div class="cartWrap fade-up">
        <ul class="itemImg">
          <li><a href="/pjitem/detail/?COLOR=01&amp;ITM=1023140&amp;outlet=include"><img src="img/butu03.png" alt="デコルタンブラシアーフルール"></a></li>
          <li><a href="/pjitem/detail/?COLOR=02&amp;ITM=1023140&amp;outlet=include"><img src="img/butu04.png" alt="デコルタンブラシアーフルール"></a></li>
        </ul>
        <div class="itemInfo">
          <ul class="itemSpec">
            <li><a href="/pjitem/detail/?COLOR=01&amp;ITM=1023140&amp;outlet=include">デコルタンブラシアーフルール<br>(B~E cup) ￥3,280+税</a></li>
          </ul>
          <p class="button"><a class="CallPurchaseItem" itemcode="1023140" dispcolorcode="102314001"><img src="img/btn_cart02.png" alt="ADD TO CART"></a> </p>
        </div>
      </div>
    </div>
    <!-- sec3 -->
    <div class="sec3 color01 block fade-up">      
      <div class="imgWrap">
        <h2><img src="img/sec03_num.png" alt="03"></h2>
        <div class="slideWrap fade-up">
          <ul class="slide slideAni03">
            <li class="active"><img src="img/img05_1_pc.png" alt="" class="js-image-switch"></li>
            <li><img src="img/img05_2_pc.png" alt="" class="js-image-switch"></li>
          </ul>
        </div>
        <p class="para para03 fade-up"><img src="img/img06.png" alt=""></p>
        <div class="leadWrap txt-anime01">
          <p class="delay1"><img src="img/sec03_txt01.png" alt="少し素朴な雰囲気の"/></p>
          <p class="delay2"><img src="img/sec03_txt02.png" alt="小花柄がノスタルジックで"/></p>
          <p class="delay3"><img src="img/sec03_txt03.png" alt="落ち着きます。"/></p>
          <p class="delay4"><img src="img/sec03_txt04.png" alt="落ち着きます。"/></p>
          <p class="delay5"><img src="img/sec03_txt05.png" alt="寝る時にぴったりで、"/></p>
          <p class="delay6"><img src="img/sec03_txt06.png" alt="実用的で使いやすそう。"/></p>
        </div>
      </div>
      <div class="cartWrap fade-up">
        <ul class="itemImg">
          <li><a href="/pjitem/detail/?COLOR=01&amp;ITM=1023140&amp;outlet=include"><img src="img/butu05.png" alt="パデットブルーミングパジャマ"></a></li>
        </ul>
        <div class="itemInfo">
          <ul class="itemSpec">
            <li><a href="/pjitem/detail/?COLOR=01&amp;ITM=1023140&amp;outlet=include">パデットブルーミングパジャマ<br>(S/M~M/L size) ￥5,980+税</a></li>
          </ul>
          <p class="button"><a class="CallPurchaseItem" itemcode="1023140" dispcolorcode="102314001"><img src="img/btn_cart01.png" alt="ADD TO CART"></a> </p>
        </div>
      </div>
    </div>
    <!-- sec4 -->
    <div class="sec4 block fade-up">
      <div class="imgWrap">
        <h2><img src="img/sec04_num.png" alt="04"></h2>
        <div class="slideWrap fade-up">
          <ul class="slide slideAni04">
            <li class="active"><img src="img/img07_1_pc.png" alt="" class="js-image-switch"></li>
            <li><img src="img/img07_2_pc.png" alt="" class="js-image-switch"></li>
          </ul>
        </div>
        <p class="para para04 fade-up"><img src="img/img08.png" alt=""></p>
        <div class="leadWrap txt-anime01">
          <p class="delay1"><img src="img/sec04_txt01.png" alt="“ビビッドな色が好き"/></p>
          <p class="delay2"><img src="img/sec04_txt02.png" alt="なので、このランジェリーが"/></p>
          <p class="delay3"><img src="img/sec04_txt03.png" alt="実は一番好みです。"/></p>
          <p class="delay4"><img src="img/sec04_txt04.png" alt="水色ローブのスタイリングも"/></p>
          <p class="delay5"><img src="img/sec04_txt05.png" alt="カラフルでファッション感覚"/></p>
          <p class="delay6"><img src="img/sec04_txt06.png" alt="で着られそう。"/></p>
        </div>
      </div>
      <div class="cartWrap fade-up">
        <ul class="itemWrap">
          <li class="item">
            <div class="pic"><img src="img/butu06.png" alt="グッドスリーピィローブ"></div>
            <div class="info"><p>グッドスリーピィローブ<br>(M size) ￥4,980+税</p></div>
            <div class="button"> <a href="#"><img src="img/btn_cart02.png" alt="ADD TO CART"></a> </div>
          </li>
          <li class="item">
            <div class="pic"><img src="img/butu07.png" alt="PJ model’s_EMMAブラ"></div>
            <div class="info"><p>PJ model’s_EMMAブラ<br>(C~E cup) ￥2,980+税</p></div>
            <div class="button"> <a href="#"><img src="img/btn_cart02.png" alt="ADD TO CART"></a> </div>
          </li>
        </ul>
      </div>
      <div class="btn_all fade-up"> <a href=""><img src="img/btn_all_pc.png" alt="すべてのアイテムはこちら" class="js-image-switch"></a> </div>
    </div>
    <!-- campaign_foot -->
    <div id="campaign" class="campaign_foot color01">
      <div class="campaign_block campaign_block01 fade-up">
        <div class="title"><img src="img/campaign.png" alt="campaign"/></div>
        <div class="txt01"><img src="img/campaign_title.png" alt="花柄セット割キャンペーン￥870 OFF 2/13 wed. 12:00まで(STORE:2/12 tue. まで)"/></div>
        <p class="txt02">対象の春の新作「花柄アイテム」Aグループと対象の「ブラ・ルームウエア」Bグループを各1点ずつご購入で870円OFF！</p>
        <div class="pic"><img src="img/campaign_img02.png" alt=""/></div>
        <p class="txt">【対象アイテム】<br>
          A：<a href="">春の新作「花柄アイテム」</a><br>
          B：<a href="">対象の「ブラ・ルームウエア」</a></p>
        <p class="txt txt_caution">※A・Bグループから各1点ずつのご購入でセット割引対象となります。</p>
        <a href="" class="btn"><img src="img/btn_campaign1.png" alt="対象アイテムを全て見る"/></a>
        <p class="txt">【期間】<br>2/13(水)12:00まで(ストアは2/12(火)まで)</p>
        <p class="txt">【対象】<br>WEB・電話・FAX・ハガキ・ストア(※アウトレット店舗・ SALON by PEACH JOHN・YUMMY MART・秋田店・ジョリーメゾンplus店は除く)</p>
        <div class="txt">【注意事項】<br>
          <ul class="list">
            <li>「花柄セット割」は対象のアイテムをA・Bグループから各1点　ずつでご購入いただく方が対象です。</li>
            <li>対象商品の分割発送をご希望の場合、割引適用外となります。</li>
            <li>「SET PRICE」アイコンがついている商品が対象です。</li>
            <li>キャンペーン前に対象商品のいずれかを単品でご注文し、商品がマイページで「未出荷」表示の場合、もう一方を追加でご購入いただくと割引価格へご変更いただけます。「発送準備中」表示の場合、割引価格に変更できません。</li>
            <li>対象商品のいずれか1点を返品される場合、商品価格から各種割引額を差し引いた金額をご返金いたします。</li>
            <li>FAX・ハガキでのご注文は2/12(火)到着分までが対象です。</li>
          </ul>
        </div>
      </div>
      <div class="campaign_block campaign_block02 fade-up">
        <div class="pic"><img src="img/campaign_img03.png" alt=""/></div>
        <p class="txt">中村アンさんが選んだ花柄ブラ＆ルームウエアをプレゼント！<br>InstagramのPEACH JOHN公式アカウントをフォローの上、&#9312;「プレゼント応募」と、&#9313;キャンペーンに対する意気込みをDM送信で応募完了です。</p>
        <a href="" class="btn"><img src="img/btn_campaign2.png" alt="今すぐInstagramをチェック"/></a>
        <div class="txt">【プレゼントについて】<br>
          <ul class="list">
            <li>当選者へはInstagramのDMにて2月中旬頃ご連絡いたします。</li>
            <li>賞品の発送にはWEB会員登録(無料)が必要となります。</li>
            <li>賞品の発送先は日本国内に限らせていただきます。</li>
          </ul>
        </div>
        <div class="txt">【注意事項】<br>
          <ul class="list">
            <li>選考時にPEACH JOHN公式Instagramアカウント<br>(@peachjohn_official)のフォローを解除した場合や、Instagramアカウントを非公開設定にしている場合は、ご応募は無効となります。</li>
            <li>指定期間内に住所等のご登録がお済みでない場合や、不明確な場合、転居や長期不在等で賞品をお届けできない場合は、当選を無効とさせていただきます。</li>
            <li>同一の方が複数アカウントを開設して応募し当選した場合、重複した当選は取り消させていただきます。</li>
            <li>ご当選の権利は第三者への譲渡や現金とのお引き換えはできません。</li>
            <li>本キャンペーンは「Instagram」を活用したキャンペーンです。Instagramに関連するアプリケーションの動作環境により発生するキャンペーン運営の中断または中止によって、万一何らかの損害が発生した場合、当社は一切責任を負いません。</li>
            <li>キャンペーン内容は予告なく変更・中止になる場合がございます。</li>
          </ul>
        </div>
      </div>
    </div>
    
    <!-- footer -->
    <div class="footer">
      <dl class="sns">
        <dt>SHARE</dt>
        <dd><a href="https://twitter.com/intent/tweet?url=https://www.peachjohn.co.jp/pj/special/pj18wi/collaboration/" target="_blank"><img src="img/icon_tw.png" alt="Twitter"></a></dd>
        <dd><a href="http://www.facebook.com/sharer.php?u=https://www.peachjohn.co.jp/pj/special/pj18wi/collaboration/" target="_blank"><img src="img/icon_fb.png" alt="Facebook"></a></dd>
        <dd class="sp"><a href="http://line.me/R/msg/text/?https://www.peachjohn.co.jp/pj/special/pj18wi/collaboration/" target="_blank"><img src="img/icon_ln.png" alt="Line"></a></dd>
      </dl>
      <p class="footlogo"><img src="img/logo_pj.png" alt="PEACH JOHN"></p>
      <p><img src="img/cr.png" alt="COPYRIGHT PEACH JOHN CO.,LTD"></p>
    </div>
  </div>

<%- include('inc/footer.ejs',{meta: myMeta}) %>