@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat");
/* ===============================================================================
Reset
=============================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
}

/* ===============================================================================
Body Setting
=============================================================================== */
html, body {
  font-family: YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  font-weight: 500;
  font-size: 15px;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  line-height: 1.5;
  color: #000;
}

@media screen and (max-width: 768px) {
  html, body {
    font-size: 12px;
  }
}

a {
  color: #1d2088;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  vertical-align: top;
  max-width: 100%;
}

.clrF::after {
  content: "";
  display: block;
  clear: both;
}

.mont {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal !important;
  letter-spacing: 3px;
}

@media screen and (max-width: 768px) {
  .mont {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold !important;
    letter-spacing: 3px;
  }
}

@media screen and (min-width: 769px) {
  .spOnly {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .pcOnly {
    display: none !important;
  }
}

/* ===============================================================================
HeaderArea
=============================================================================== */
#headerArea {
  padding: 33px 0 40px;
  min-width: 984px;
}

#headerArea #headerLogo {
  width: 250px;
  margin: 0 auto;
}

#headerArea #headerLogo a {
  display: block;
  transition-property: opacity;
  transition-duration: .2s;
}

#headerArea #headerLogo a:hover {
  opacity: .7;
}

#headerArea > .navBtn {
  position: fixed;
  z-index: 1;
  top: 25px;
  left: 26px;
  cursor: pointer;
}

#headerArea > .navBtn img {
  transition-property: opacity;
  transition-duration: .2s;
  display: block;
}

#headerArea > .navBtn img:hover {
  opacity: .5;
}

#headerArea #grobalNav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: -469px;
  background: #fff;
  width: 469px;
  box-sizing: border-box;
  padding: 25px 26px 275px;
  transition-property: left;
  transition-duration: .2s;
}

#headerArea #grobalNav.active {
  left: 0;
}

#headerArea #grobalNav .navBtn {
  cursor: pointer;
  margin-bottom: 61px;
  transition-property: opacity;
  transition-duration: .2s;
  display: block;
}

#headerArea #grobalNav .navBtn:hover {
  opacity: .5;
}

#headerArea #grobalNav .list {
  margin-left: 3px;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#headerArea #grobalNav .list li {
  padding: 2px 0 1px 18px;
  line-height: 1;
  border-left: solid 2px #000;
  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin-bottom: 28px;
}

#headerArea #grobalNav .list li.current {
  border-left: solid 2px #f48e92;
}

#headerArea #grobalNav .list li.current a {
  color: #f48e92;
}

#headerArea #grobalNav .list li.logo {
  border: none;
}

#headerArea #grobalNav .list li a {
  color: #000;
  transition-property: opacity;
  transition-duration: .2s;
  display: block;
}

#headerArea #grobalNav .list li a:hover {
  text-decoration: none;
  opacity: .5;
}

#headerArea #grobalNav .list li p {
  margin-bottom: 10px;
}

#headerArea #grobalNav .list li p:last-child {
  margin-bottom: 0;
}

#headerArea #grobalNav .list li p.small {
  font-size: 1.067rem;
}

#headerArea #grobalNav .list li:nth-child(2) {
  padding-bottom: 3px;
}

#headerArea #grobalNav .list li:nth-child(2) p:nth-child(3) {
  margin-bottom: 8px;
}

#headerArea #grobalNav .list li:nth-child(4) {
  padding-top: 1px;
  padding-bottom: 0;
}

#headerArea #grobalNav .list li:nth-child(5) {
  padding-bottom: 0;
}

#headerArea #grobalNav .logo {
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  #headerArea {
    padding: 12px 0 13px;
    min-width: initial;
  }
  #headerArea #headerLogo {
    width: 123px;
    margin: 0 auto;
  }
  #headerArea > .navBtn {
    width: 16px;
    top: 12px;
    left: 14px;
  }
  #headerArea #grobalNav {
    left: -264px;
    width: 264px;
    padding: 12px 13px 58px;
  }
  #headerArea #grobalNav.active {
    left: 0;
  }
  #headerArea #grobalNav .navBtn {
    width: 17px;
    margin-bottom: 21px;
  }
  #headerArea #grobalNav .list {
    margin: 0 0 29px 4px;
    height: auto !important;
  }
  #headerArea #grobalNav .list li {
    padding: 0 0 0 10px;
    border-left: solid 1px #000;
    font-size: 1.167rem;
    letter-spacing: 1px;
  }
  #headerArea #grobalNav .list li p {
    margin-bottom: 5px;
  }
  #headerArea #grobalNav .list li p:last-child {
    margin-bottom: 0;
  }
  #headerArea #grobalNav .list li p.small {
    font-size: 0.833rem;
  }
  #headerArea #grobalNav .list li.current {
    border-left: solid 1px #f48e92;
  }
  #headerArea #grobalNav .list li.logo {
    padding: 0;
  }
  #headerArea #grobalNav .list li:nth-child(1) {
    margin-bottom: 22px;
  }
  #headerArea #grobalNav .list li:nth-child(2) {
    margin-bottom: 22px;
    padding-bottom: 0;
  }
  #headerArea #grobalNav .list li:nth-child(3) {
    margin-bottom: 22px;
    padding-top: 0;
  }
  #headerArea #grobalNav .list li:nth-child(4) {
    margin-bottom: 22px;
  }
  #headerArea #grobalNav .logo {
    width: 135px;
    margin-left: 5px;
    margin-top: 30px;
  }
}

/* ===============================================================================
FooterArea
=============================================================================== */
#footerArea {
  text-align: center;
  padding: 62px 0 60px;
  min-width: 984px;
}

#footerArea .list {
  margin-bottom: 23px;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}

#footerArea .list li {
  display: inline-block;
  width: 62px;
  margin-left: 38px;
}

#footerArea .list li:first-child {
  margin-left: 0;
}

#footerArea .list li a {
  display: block;
  transition-property: opacity;
  transition-duration: .2s;
}

#footerArea .list li a:hover {
  opacity: .5;
}

#footerArea #copyright {
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  #footerArea {
    padding: 30px 0;
    min-width: initial;
  }
  #footerArea .list {
    margin-bottom: 25px;
  }
  #footerArea .list li {
    width: 39px;
    margin-left: 24px;
  }
  #footerArea .list li:last-child a img {
    padding: 12px 0;
  }
  #footerArea #copyright {
    font-size: 0.75rem;
  }
}

/* ===============================================================================
ContentsArea
=============================================================================== */
#contentsArea .commonBlock01 {
  min-width: 984px;
}

#contentsArea .commonBlock01 > .inner {
  width: 984px;
  margin: 0 auto;
}

#contentsArea .commonBlock01 .btn {
  text-align: right;
  position: relative;
  margin-bottom: 30px;
}

#contentsArea .commonBlock01 .btn a {
  display: inline-block;
  background: url(../img/common/common_contents_arw02.png) no-repeat -9px 8px;
  background-size: 24px auto;
  animation: arrow-anime 2s infinite;
  padding-left: 20px;
  transition: all .2s;
}

#contentsArea .commonBlock01 .btn a:hover {
  opacity: 0.7;
  text-decoration: none;
}

#contentsArea .commonBlock01 .btn a span {
  background: url(../img/common/common_contents_arw01.png) no-repeat 8px center;
  background-size: 25px auto;
  color: #000;
  font-size: 1.2rem;
  padding-left: 45px;
  min-height: 25px;
  display: block;
}

#contentsArea .commonBlock01 .column2block {
  background: #ffebeb;
  padding: 58px 0 65px;
}

#contentsArea .commonBlock01 .column2block > .inner {
  width: 984px;
  margin: 0 auto;
}

#contentsArea .commonBlock01 .column2block p {
  text-align: center;
  margin-bottom: 45px;
  font-weight: normal;
  font-size: 1.733rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal !important;
  letter-spacing: 3px;
}

#contentsArea .commonBlock01 .column2block a {
  display: block;
  float: left;
  width: 470px;
  transition-property: opacity;
  transition-duration: .2s;
}

#contentsArea .commonBlock01 .column2block a:hover {
  opacity: .7;
  text-decoration: none;
}

#contentsArea .commonBlock01 .column2block a:nth-child(2) {
  margin-bottom: 40px;
  margin-right: 40px;
}

#contentsArea .commonBlock01 .column2block a:nth-child(3) {
  margin-bottom: 40px;
}

#contentsArea .commonBlock01 .column2block a:nth-child(4) {
  margin-right: 40px;
}

@media screen and (max-width: 768px) {
  #contentsArea .commonBlock01 {
    min-width: initial;
  }
  #contentsArea .commonBlock01 > .inner {
    width: 93.75%;
  }
  #contentsArea .commonBlock01 .btn {
    margin-bottom: 15px;
  }
  #contentsArea .commonBlock01 .btn a {
    background: url(../img/common/common_contents_arw02.png) no-repeat left 5px;
    background-size: 15px auto;
    padding-left: 5px;
  }
  #contentsArea .commonBlock01 .btn a:hover {
    background: url(../img/common/common_contents_arw02.png) no-repeat left 5px;
    background-size: 15px auto;
  }
  #contentsArea .commonBlock01 .btn a span {
    background: url(../img/common/common_contents_arw01.png) no-repeat 5px center;
    background-size: 16px auto;
    font-size: 0.917rem;
    padding-left: 27px;
    min-height: 16px;
  }
  #contentsArea .commonBlock01 .column2block {
    background: #ffebeb;
    padding: 35px 0 35px;
  }
  #contentsArea .commonBlock01 .column2block > .inner {
    width: 93.75%;
  }
  #contentsArea .commonBlock01 .column2block p {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold !important;
    letter-spacing: 3px;
  }
  #contentsArea .commonBlock01 .column2block a {
    float: none;
    width: 97.666%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
  }
  #contentsArea .commonBlock01 .column2block a:nth-child(2) {
    margin-bottom: 20px;
    margin-right: 0px;
  }
  #contentsArea .commonBlock01 .column2block a:nth-child(3) {
    margin-bottom: 20px;
  }
  #contentsArea .commonBlock01 .column2block a:nth-child(4) {
    margin-right: 0px;
  }
}

a, button {
  outline: none;
}

@keyframes arrow-anime {
  0% {
    background: url(../img/common/common_contents_arw02.png) no-repeat 1px 8px;
  }
  50% {
    background: url(../img/common/common_contents_arw02.png) no-repeat 14px 8px;
  }
  100% {
    background: url(../img/common/common_contents_arw02.png) no-repeat 1px 8px;
  }
}

@media screen and (max-width: 768px) {
  @keyframes arrow-anime {
    0% {
      background: url(../img/common/common_contents_arw02.png) no-repeat left 5px;
      background-size: 15px auto;
    }
    50% {
      background: url(../img/common/common_contents_arw02.png) no-repeat 0.5em 5px;
      background-size: 15px auto;
    }
    100% {
      background: url(../img/common/common_contents_arw02.png) no-repeat left 5px;
      background-size: 15px auto;
    }
  }
}

.inline-popup {
  width: 755px;
  margin: auto;
  background-color: #fff;
  padding: 40px;
  position: relative;
}

.inline-popup p {
  margin-bottom: 1.2em;
}

.inline-popup ul {
  margin-bottom: 1.2em;
}

.inline-popup ul li {
  position: relative;
  padding-left: 1.1em;
}

.inline-popup ul li:before {
  content: "・";
  position: absolute;
  left: 0;
  top: 0;
}

.inline-popup .mfp-close {
  color: #bdbdbd !important;
  font-size: 36px;
  position: absolute;
  right: 20px;
  top: 20px;
  font-family: inherit;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .inline-popup {
    width: 85%;
    padding: 20px;
  }
  .inline-popup .mfp-close {
    font-size: 20px;
    right: 0;
    top: 0;
  }
}
