.flowers-buy,
.main-foot__sns {
    display: -webkit-box;
    display: -ms-flexbox
}
.block,
.block .item-visual,
.c-wrapper,
.main-foot__sns li {
    position: relative
}
.block .block__link,
.block__title,
.flower-items,
.main-foot .copyright,
.main-foot__logo,
.main-foot__title {
    text-align: center
}
.head {
	background: url(../img/190807/header_bg.jpg) no-repeat 0 0;
	background-size: cover;
	text-align: center;
	height: 105px;
	width: 100%;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	display: -webkit-box;
	display: -ms-flexbox;
}
.head h1 {
	font-size: 0;
}
#flowerArea {
    font-family: "ü‡ÉSÉVÉbÉNëÃ", YuGothic, "ü‡ÉSÉVÉbÉN Medium", "Yu Gothic Medium", "ü‡ÉSÉVÉbÉN", "Yu Gothic", "Hiragino Kaku Gothic ProN", "ÉqÉâÉMÉmäpÉS ProN W3", "Hiragino Sans", "ÉÅÉCÉäÉI", Meiryo sans-serif;
    letter-spacing: 0.075em;
    -webkit-font-feature-settings: 'palt';
    font-feature-settings: 'palt';
		background: url(../img/190807/bg.jpg) repeat-y 0 0;
	  background-size: cover;
}
.main-foot__sns {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}
.main-foot__sns li {
    height: 54px;
		margin: 0 20px;
}
.main-foot__sns li a {
    display: block;
    height: 100%;
    position: relative
}
.main-foot__sns li a img {
    display: block;
    height: 100%;
    width: auto !important
}
body#top .main-foot__sns {
		width: 249px;
    margin-top: 0 !important
}
.main-foot__logo img {
	margin-top: 100px;
}
.main-foot .copyright img {
    width: 200px;
    margin: 50px 0 20px;
}
.main-head__visual img {
	width: 100%;
}
.main-head__lead {
	background: url(../img/190807/keeponblooming.png) no-repeat center center ;
}
.main-head__lead__inner {
	padding: 120px 0;
	margin: 0 auto;
	text-align: center;
}
.block__items1 {
	position: relative;
}
.block__items1__model a img:hover ,
.block__items2__model a img:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}
.block__items1__model img {
	width: 400px;
	margin-left: calc(50% - 400px - 15px);
}
.block__items1__model::before {
	content: '';
  display: inline-block;
  width: 367px;
  height: 548px;
  background-image: url(../img/190807/hyakunitiso_bg.jpg) ;
  background-size: contain;
  vertical-align: middle;
	position: absolute;
	bottom: -50px;
	left: calc(50% - 400px - 130px);
	z-index: -10;
}
.block__items1__logo {
	position: absolute;
	top: 110px;
	left: calc(50% - 400px - 95px);
}
.block__items1__logo img {
	width: 150px;
}
.block__items1__copy {
	position: absolute;
	bottom: 30px;
	left: calc(50% - 400px - 95px);
}
.block__items1__copy img {
	width: 256px;
}
.block__items2 {
	position: relative;
}
.block__items2__model img {
	width: 400px;
	margin-left: calc(50% + 15px);
	margin-top: -400px;
}
.block__items2__model::before {
	content: '';
  display: inline-block;
  width: 367px;
  height: 548px;
  background-image: url(../img/190807/sweetpea_bg.jpg) ;
  background-size: contain;
  vertical-align: middle;
	position: absolute;
	bottom: 100px;
	left: calc(50% + 170px);
	z-index: -10;
}
.block__items2__logo {
	position: absolute;
	top: -473px;
	left: calc(50% + 310px);
}
.block__items2__logo img {
	width: 210px;
}
.block__items2__copy {
	position: absolute;
	bottom: 128px;
	left: calc(50% + 300px);
}
.block__items2__copy img {
	width: 220px;
}
.block__items1__cart {
	display: flex;
	display:-webkit-box;
  display:-ms-flexbox;
	justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
}


/* restock */
#flowerArea {
    color: #363636
}
.restock__title {
	width: 100%;
	height: 315px;
	background: url(../img/190807/restock_bg_pc.jpg) no-repeat 0 0;
	background-size:cover;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	display: -webkit-box;
	display: -ms-flexbox;
}
.restock__items3 {
	position: relative;
}
.restock__items3__model img {
	width: 384px;
	margin-left: calc(50% - 384px - 126px);
	margin-top: -60px;
}
.restock__items3__logo {
	position: absolute;
	top: 60px;
	left: calc(50% - 220px);
	padding: 0 15px 5px;
	border-bottom: 1px solid #e288a5;
}
.restock__items3__logo img {
	width: 162px;
}
.restock__items3__bra {
	position: absolute;
	bottom: -100px;
	left: calc(50% - 252px - 15px);
}
.restock__items3__bra img {
	width: 265px;
}
.restock__items4 {
	position: relative;
}
.restock__items4__model img {
	width: 384px;
	margin-left: calc(50% + 150px);
	margin-top: -200px;
}
.restock__items4__logo {
	position: absolute;
	top: -100px;
	left: calc(50% + 50px);
	padding: 0 15px 5px;
	border-bottom: 1px solid #896abd;
}
.restock__items4__logo img {
	width: 162px;
}
.restock__items4__bra {
	position: absolute;
	bottom: -100px;
	left: calc(50% + 15px);
	
}
.restock__items4__bra img {
	width: 265px;
}
.restock__items5 {
	position: relative;
}
.restock__items5__model img {
	width: 384px;
	margin-left: calc(50% - 384px - 80px);
	margin-top: -60px;
}
.restock__items5__logo {
	position: absolute;
	top: 60px;
	left: calc(50% - 152px);
	padding: 0 15px 5px;
	border-bottom: 1px solid #522015;
}
.restock__items5__logo img {
	width: 162px;
}
.restock__items5__bra {
	position: absolute;
	bottom: -100px;
	left: calc(50% - 200px);
}
.restock__items5__bra img {
	width: 265px;
}

/* items */
.flower-items {
	position: relative;
	padding-top: 100px;
}
.flower-items__title {
	position: absolute;
	right: 10%;
}
.flower-items__bra img {
	margin: 100px auto 60px;
}
.flowers-buy-block.flowers-buy-float {
	overflow: hidden;
	width: 850px;
	margin: 0 auto 30px;
}
.flowers-buy-block.flowers-buy-float .flower-items__name {
	float: left;
	text-align: right;
	width: 360px;
	margin-top: 10px;
}
.flowers-buy-block.flowers-buy-float .flowers-buy {
	float: right;
}
.flowers-buy-block .flower-items__name {
	text-align: center;
	margin: 0 30px;
}
.flowers-buy__cart {
    color: #fff;
    line-height: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}
.flowers-buy__cart:hover {
    color: #fff
}
.flowers-buy__cart::before {
    content: "";
    display: inline-block;
    background-image: url('../../img/190220/icon_cart.png');
    background-repeat: no-repeat;
    background-size: contain
}
.flowers-buy__sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
		margin-left: 10px;
}
.block__items1__cart .flower-items__name {
	text-align: center;
	margin: 30px auto;
}
.main-foot {
	margin-top: 100px;
}
[data-aos][data-aos][data-aos-duration="50"],
body[data-aos-duration="50"] [data-aos] {
    -webkit-transition-duration: 50ms;
    transition-duration: 50ms
}
[data-aos][data-aos][data-aos-delay="50"],
body[data-aos-delay="50"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="50"].aos-animate,
body[data-aos-delay="50"] [data-aos].aos-animate {
    -webkit-transition-delay: 50ms;
    transition-delay: 50ms
}
[data-aos][data-aos][data-aos-duration="100"],
body[data-aos-duration="100"] [data-aos] {
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s
}
[data-aos][data-aos][data-aos-delay="100"],
body[data-aos-delay="100"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="100"].aos-animate,
body[data-aos-delay="100"] [data-aos].aos-animate {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s
}
[data-aos][data-aos][data-aos-duration="150"],
body[data-aos-duration="150"] [data-aos] {
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s
}
[data-aos][data-aos][data-aos-delay="150"],
body[data-aos-delay="150"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="150"].aos-animate,
body[data-aos-delay="150"] [data-aos].aos-animate {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s
}
[data-aos][data-aos][data-aos-duration="200"],
body[data-aos-duration="200"] [data-aos] {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s
}
[data-aos][data-aos][data-aos-delay="200"],
body[data-aos-delay="200"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="200"].aos-animate,
body[data-aos-delay="200"] [data-aos].aos-animate {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s
}
[data-aos][data-aos][data-aos-duration="250"],
body[data-aos-duration="250"] [data-aos] {
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s
}
[data-aos][data-aos][data-aos-delay="250"],
body[data-aos-delay="250"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="250"].aos-animate,
body[data-aos-delay="250"] [data-aos].aos-animate {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s
}
[data-aos][data-aos][data-aos-duration="300"],
body[data-aos-duration="300"] [data-aos] {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s
}
[data-aos][data-aos][data-aos-delay="300"],
body[data-aos-delay="300"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="300"].aos-animate,
body[data-aos-delay="300"] [data-aos].aos-animate {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s
}
[data-aos][data-aos][data-aos-duration="350"],
body[data-aos-duration="350"] [data-aos] {
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s
}
[data-aos][data-aos][data-aos-delay="350"],
body[data-aos-delay="350"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="350"].aos-animate,
body[data-aos-delay="350"] [data-aos].aos-animate {
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s
}
[data-aos][data-aos][data-aos-duration="400"],
body[data-aos-duration="400"] [data-aos] {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s
}
[data-aos][data-aos][data-aos-delay="400"],
body[data-aos-delay="400"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="400"].aos-animate,
body[data-aos-delay="400"] [data-aos].aos-animate {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s
}
[data-aos][data-aos][data-aos-duration="450"],
body[data-aos-duration="450"] [data-aos] {
    -webkit-transition-duration: 0.45s;
    transition-duration: 0.45s
}
[data-aos][data-aos][data-aos-delay="450"],
body[data-aos-delay="450"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="450"].aos-animate,
body[data-aos-delay="450"] [data-aos].aos-animate {
    -webkit-transition-delay: 0.45s;
    transition-delay: 0.45s
}
[data-aos][data-aos][data-aos-duration="500"],
body[data-aos-duration="500"] [data-aos] {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s
}
[data-aos][data-aos][data-aos-delay="500"],
body[data-aos-delay="500"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="500"].aos-animate,
body[data-aos-delay="500"] [data-aos].aos-animate {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s
}
[data-aos][data-aos][data-aos-duration="550"],
body[data-aos-duration="550"] [data-aos] {
    -webkit-transition-duration: 0.55s;
    transition-duration: 0.55s
}
[data-aos][data-aos][data-aos-delay="550"],
body[data-aos-delay="550"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="550"].aos-animate,
body[data-aos-delay="550"] [data-aos].aos-animate {
    -webkit-transition-delay: 0.55s;
    transition-delay: 0.55s
}
[data-aos][data-aos][data-aos-duration="600"],
body[data-aos-duration="600"] [data-aos] {
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s
}
[data-aos][data-aos][data-aos-delay="600"],
body[data-aos-delay="600"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="600"].aos-animate,
body[data-aos-delay="600"] [data-aos].aos-animate {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s
}
[data-aos][data-aos][data-aos-duration="650"],
body[data-aos-duration="650"] [data-aos] {
    -webkit-transition-duration: 0.65s;
    transition-duration: 0.65s
}
[data-aos][data-aos][data-aos-delay="650"],
body[data-aos-delay="650"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="650"].aos-animate,
body[data-aos-delay="650"] [data-aos].aos-animate {
    -webkit-transition-delay: 0.65s;
    transition-delay: 0.65s
}
[data-aos][data-aos][data-aos-duration="700"],
body[data-aos-duration="700"] [data-aos] {
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s
}
[data-aos][data-aos][data-aos-delay="700"],
body[data-aos-delay="700"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="700"].aos-animate,
body[data-aos-delay="700"] [data-aos].aos-animate {
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s
}
[data-aos][data-aos][data-aos-duration="750"],
body[data-aos-duration="750"] [data-aos] {
    -webkit-transition-duration: 0.75s;
    transition-duration: 0.75s
}
[data-aos][data-aos][data-aos-delay="750"],
body[data-aos-delay="750"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="750"].aos-animate,
body[data-aos-delay="750"] [data-aos].aos-animate {
    -webkit-transition-delay: 0.75s;
    transition-delay: 0.75s
}
[data-aos][data-aos][data-aos-duration="800"],
body[data-aos-duration="800"] [data-aos] {
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s
}
[data-aos][data-aos][data-aos-delay="800"],
body[data-aos-delay="800"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="800"].aos-animate,
body[data-aos-delay="800"] [data-aos].aos-animate {
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s
}
[data-aos][data-aos][data-aos-duration="850"],
body[data-aos-duration="850"] [data-aos] {
    -webkit-transition-duration: 0.85s;
    transition-duration: 0.85s
}
[data-aos][data-aos][data-aos-delay="850"],
body[data-aos-delay="850"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="850"].aos-animate,
body[data-aos-delay="850"] [data-aos].aos-animate {
    -webkit-transition-delay: 0.85s;
    transition-delay: 0.85s
}
[data-aos][data-aos][data-aos-duration="900"],
body[data-aos-duration="900"] [data-aos] {
    -webkit-transition-duration: 0.9s;
    transition-duration: 0.9s
}
[data-aos][data-aos][data-aos-delay="900"],
body[data-aos-delay="900"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="900"].aos-animate,
body[data-aos-delay="900"] [data-aos].aos-animate {
    -webkit-transition-delay: 0.9s;
    transition-delay: 0.9s
}
[data-aos][data-aos][data-aos-duration="950"],
body[data-aos-duration="950"] [data-aos] {
    -webkit-transition-duration: 0.95s;
    transition-duration: 0.95s
}
[data-aos][data-aos][data-aos-delay="950"],
body[data-aos-delay="950"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="950"].aos-animate,
body[data-aos-delay="950"] [data-aos].aos-animate {
    -webkit-transition-delay: 0.95s;
    transition-delay: 0.95s
}
[data-aos][data-aos][data-aos-duration="1000"],
body[data-aos-duration="1000"] [data-aos] {
    -webkit-transition-duration: 1s;
    transition-duration: 1s
}
[data-aos][data-aos][data-aos-delay="1000"],
body[data-aos-delay="1000"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="1000"].aos-animate,
body[data-aos-delay="1000"] [data-aos].aos-animate {
    -webkit-transition-delay: 1s;
    transition-delay: 1s
}
[data-aos][data-aos][data-aos-duration="1050"],
body[data-aos-duration="1050"] [data-aos] {
    -webkit-transition-duration: 1.05s;
    transition-duration: 1.05s
}
[data-aos][data-aos][data-aos-delay="1050"],
body[data-aos-delay="1050"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="1050"].aos-animate,
body[data-aos-delay="1050"] [data-aos].aos-animate {
    -webkit-transition-delay: 1.05s;
    transition-delay: 1.05s
}
[data-aos][data-aos][data-aos-duration="1100"],
body[data-aos-duration="1100"] [data-aos] {
    -webkit-transition-duration: 1.1s;
    transition-duration: 1.1s
}
[data-aos][data-aos][data-aos-delay="1100"],
body[data-aos-delay="1100"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="1100"].aos-animate,
body[data-aos-delay="1100"] [data-aos].aos-animate {
    -webkit-transition-delay: 1.1s;
    transition-delay: 1.1s
}
[data-aos][data-aos][data-aos-duration="1150"],
body[data-aos-duration="1150"] [data-aos] {
    -webkit-transition-duration: 1.15s;
    transition-duration: 1.15s
}
[data-aos][data-aos][data-aos-delay="1150"],
body[data-aos-delay="1150"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="1150"].aos-animate,
body[data-aos-delay="1150"] [data-aos].aos-animate {
    -webkit-transition-delay: 1.15s;
    transition-delay: 1.15s
}
[data-aos][data-aos][data-aos-duration="1200"],
body[data-aos-duration="1200"] [data-aos] {
    -webkit-transition-duration: 1.2s;
    transition-duration: 1.2s
}
[data-aos][data-aos][data-aos-delay="1200"],
body[data-aos-delay="1200"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="1200"].aos-animate,
body[data-aos-delay="1200"] [data-aos].aos-animate {
    -webkit-transition-delay: 1.2s;
    transition-delay: 1.2s
}
[data-aos][data-aos][data-aos-duration="1250"],
body[data-aos-duration="1250"] [data-aos] {
    -webkit-transition-duration: 1.25s;
    transition-duration: 1.25s
}
[data-aos][data-aos][data-aos-delay="1250"],
body[data-aos-delay="1250"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="1250"].aos-animate,
body[data-aos-delay="1250"] [data-aos].aos-animate {
    -webkit-transition-delay: 1.25s;
    transition-delay: 1.25s
}
[data-aos][data-aos][data-aos-duration="1300"],
body[data-aos-duration="1300"] [data-aos] {
    -webkit-transition-duration: 1.3s;
    transition-duration: 1.3s
}
[data-aos][data-aos][data-aos-delay="1300"],
body[data-aos-delay="1300"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="1300"].aos-animate,
body[data-aos-delay="1300"] [data-aos].aos-animate {
    -webkit-transition-delay: 1.3s;
    transition-delay: 1.3s
}
[data-aos][data-aos][data-aos-duration="1350"],
body[data-aos-duration="1350"] [data-aos] {
    -webkit-transition-duration: 1.35s;
    transition-duration: 1.35s
}
[data-aos][data-aos][data-aos-delay="1350"],
body[data-aos-delay="1350"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="1350"].aos-animate,
body[data-aos-delay="1350"] [data-aos].aos-animate {
    -webkit-transition-delay: 1.35s;
    transition-delay: 1.35s
}
[data-aos][data-aos][data-aos-duration="1400"],
body[data-aos-duration="1400"] [data-aos] {
    -webkit-transition-duration: 1.4s;
    transition-duration: 1.4s
}
[data-aos][data-aos][data-aos-delay="1400"],
body[data-aos-delay="1400"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="1400"].aos-animate,
body[data-aos-delay="1400"] [data-aos].aos-animate {
    -webkit-transition-delay: 1.4s;
    transition-delay: 1.4s
}
[data-aos][data-aos][data-aos-duration="1450"],
body[data-aos-duration="1450"] [data-aos] {
    -webkit-transition-duration: 1.45s;
    transition-duration: 1.45s
}
[data-aos][data-aos][data-aos-delay="1450"],
body[data-aos-delay="1450"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="1450"].aos-animate,
body[data-aos-delay="1450"] [data-aos].aos-animate {
    -webkit-transition-delay: 1.45s;
    transition-delay: 1.45s
}
[data-aos][data-aos][data-aos-duration="1500"],
body[data-aos-duration="1500"] [data-aos] {
    -webkit-transition-duration: 1.5s;
    transition-duration: 1.5s
}
[data-aos][data-aos][data-aos-delay="1500"],
body[data-aos-delay="1500"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="1500"].aos-animate,
body[data-aos-delay="1500"] [data-aos].aos-animate {
    -webkit-transition-delay: 1.5s;
    transition-delay: 1.5s
}
[data-aos][data-aos][data-aos-duration="1550"],
body[data-aos-duration="1550"] [data-aos] {
    -webkit-transition-duration: 1.55s;
    transition-duration: 1.55s
}
[data-aos][data-aos][data-aos-delay="1550"],
body[data-aos-delay="1550"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="1550"].aos-animate,
body[data-aos-delay="1550"] [data-aos].aos-animate {
    -webkit-transition-delay: 1.55s;
    transition-delay: 1.55s
}
[data-aos][data-aos][data-aos-duration="1600"],
body[data-aos-duration="1600"] [data-aos] {
    -webkit-transition-duration: 1.6s;
    transition-duration: 1.6s
}
[data-aos][data-aos][data-aos-delay="1600"],
body[data-aos-delay="1600"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="1600"].aos-animate,
body[data-aos-delay="1600"] [data-aos].aos-animate {
    -webkit-transition-delay: 1.6s;
    transition-delay: 1.6s
}
[data-aos][data-aos][data-aos-duration="1650"],
body[data-aos-duration="1650"] [data-aos] {
    -webkit-transition-duration: 1.65s;
    transition-duration: 1.65s
}
[data-aos][data-aos][data-aos-delay="1650"],
body[data-aos-delay="1650"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="1650"].aos-animate,
body[data-aos-delay="1650"] [data-aos].aos-animate {
    -webkit-transition-delay: 1.65s;
    transition-delay: 1.65s
}
[data-aos][data-aos][data-aos-duration="1700"],
body[data-aos-duration="1700"] [data-aos] {
    -webkit-transition-duration: 1.7s;
    transition-duration: 1.7s
}
[data-aos][data-aos][data-aos-delay="1700"],
body[data-aos-delay="1700"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="1700"].aos-animate,
body[data-aos-delay="1700"] [data-aos].aos-animate {
    -webkit-transition-delay: 1.7s;
    transition-delay: 1.7s
}
[data-aos][data-aos][data-aos-duration="1750"],
body[data-aos-duration="1750"] [data-aos] {
    -webkit-transition-duration: 1.75s;
    transition-duration: 1.75s
}
[data-aos][data-aos][data-aos-delay="1750"],
body[data-aos-delay="1750"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="1750"].aos-animate,
body[data-aos-delay="1750"] [data-aos].aos-animate {
    -webkit-transition-delay: 1.75s;
    transition-delay: 1.75s
}
[data-aos][data-aos][data-aos-duration="1800"],
body[data-aos-duration="1800"] [data-aos] {
    -webkit-transition-duration: 1.8s;
    transition-duration: 1.8s
}
[data-aos][data-aos][data-aos-delay="1800"],
body[data-aos-delay="1800"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="1800"].aos-animate,
body[data-aos-delay="1800"] [data-aos].aos-animate {
    -webkit-transition-delay: 1.8s;
    transition-delay: 1.8s
}
[data-aos][data-aos][data-aos-duration="1850"],
body[data-aos-duration="1850"] [data-aos] {
    -webkit-transition-duration: 1.85s;
    transition-duration: 1.85s
}
[data-aos][data-aos][data-aos-delay="1850"],
body[data-aos-delay="1850"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="1850"].aos-animate,
body[data-aos-delay="1850"] [data-aos].aos-animate {
    -webkit-transition-delay: 1.85s;
    transition-delay: 1.85s
}
[data-aos][data-aos][data-aos-duration="1900"],
body[data-aos-duration="1900"] [data-aos] {
    -webkit-transition-duration: 1.9s;
    transition-duration: 1.9s
}
[data-aos][data-aos][data-aos-delay="1900"],
body[data-aos-delay="1900"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="1900"].aos-animate,
body[data-aos-delay="1900"] [data-aos].aos-animate {
    -webkit-transition-delay: 1.9s;
    transition-delay: 1.9s
}
[data-aos][data-aos][data-aos-duration="1950"],
body[data-aos-duration="1950"] [data-aos] {
    -webkit-transition-duration: 1.95s;
    transition-duration: 1.95s
}
[data-aos][data-aos][data-aos-delay="1950"],
body[data-aos-delay="1950"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="1950"].aos-animate,
body[data-aos-delay="1950"] [data-aos].aos-animate {
    -webkit-transition-delay: 1.95s;
    transition-delay: 1.95s
}
[data-aos][data-aos][data-aos-duration="2000"],
body[data-aos-duration="2000"] [data-aos] {
    -webkit-transition-duration: 2s;
    transition-duration: 2s
}
[data-aos][data-aos][data-aos-delay="2000"],
body[data-aos-delay="2000"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="2000"].aos-animate,
body[data-aos-delay="2000"] [data-aos].aos-animate {
    -webkit-transition-delay: 2s;
    transition-delay: 2s
}
[data-aos][data-aos][data-aos-duration="2050"],
body[data-aos-duration="2050"] [data-aos] {
    -webkit-transition-duration: 2.05s;
    transition-duration: 2.05s
}
[data-aos][data-aos][data-aos-delay="2050"],
body[data-aos-delay="2050"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="2050"].aos-animate,
body[data-aos-delay="2050"] [data-aos].aos-animate {
    -webkit-transition-delay: 2.05s;
    transition-delay: 2.05s
}
[data-aos][data-aos][data-aos-duration="2100"],
body[data-aos-duration="2100"] [data-aos] {
    -webkit-transition-duration: 2.1s;
    transition-duration: 2.1s
}
[data-aos][data-aos][data-aos-delay="2100"],
body[data-aos-delay="2100"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="2100"].aos-animate,
body[data-aos-delay="2100"] [data-aos].aos-animate {
    -webkit-transition-delay: 2.1s;
    transition-delay: 2.1s
}
[data-aos][data-aos][data-aos-duration="2150"],
body[data-aos-duration="2150"] [data-aos] {
    -webkit-transition-duration: 2.15s;
    transition-duration: 2.15s
}
[data-aos][data-aos][data-aos-delay="2150"],
body[data-aos-delay="2150"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="2150"].aos-animate,
body[data-aos-delay="2150"] [data-aos].aos-animate {
    -webkit-transition-delay: 2.15s;
    transition-delay: 2.15s
}
[data-aos][data-aos][data-aos-duration="2200"],
body[data-aos-duration="2200"] [data-aos] {
    -webkit-transition-duration: 2.2s;
    transition-duration: 2.2s
}
[data-aos][data-aos][data-aos-delay="2200"],
body[data-aos-delay="2200"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="2200"].aos-animate,
body[data-aos-delay="2200"] [data-aos].aos-animate {
    -webkit-transition-delay: 2.2s;
    transition-delay: 2.2s
}
[data-aos][data-aos][data-aos-duration="2250"],
body[data-aos-duration="2250"] [data-aos] {
    -webkit-transition-duration: 2.25s;
    transition-duration: 2.25s
}
[data-aos][data-aos][data-aos-delay="2250"],
body[data-aos-delay="2250"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="2250"].aos-animate,
body[data-aos-delay="2250"] [data-aos].aos-animate {
    -webkit-transition-delay: 2.25s;
    transition-delay: 2.25s
}
[data-aos][data-aos][data-aos-duration="2300"],
body[data-aos-duration="2300"] [data-aos] {
    -webkit-transition-duration: 2.3s;
    transition-duration: 2.3s
}
[data-aos][data-aos][data-aos-delay="2300"],
body[data-aos-delay="2300"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="2300"].aos-animate,
body[data-aos-delay="2300"] [data-aos].aos-animate {
    -webkit-transition-delay: 2.3s;
    transition-delay: 2.3s
}
[data-aos][data-aos][data-aos-duration="2350"],
body[data-aos-duration="2350"] [data-aos] {
    -webkit-transition-duration: 2.35s;
    transition-duration: 2.35s
}
[data-aos][data-aos][data-aos-delay="2350"],
body[data-aos-delay="2350"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="2350"].aos-animate,
body[data-aos-delay="2350"] [data-aos].aos-animate {
    -webkit-transition-delay: 2.35s;
    transition-delay: 2.35s
}
[data-aos][data-aos][data-aos-duration="2400"],
body[data-aos-duration="2400"] [data-aos] {
    -webkit-transition-duration: 2.4s;
    transition-duration: 2.4s
}
[data-aos][data-aos][data-aos-delay="2400"],
body[data-aos-delay="2400"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="2400"].aos-animate,
body[data-aos-delay="2400"] [data-aos].aos-animate {
    -webkit-transition-delay: 2.4s;
    transition-delay: 2.4s
}
[data-aos][data-aos][data-aos-duration="2450"],
body[data-aos-duration="2450"] [data-aos] {
    -webkit-transition-duration: 2.45s;
    transition-duration: 2.45s
}
[data-aos][data-aos][data-aos-delay="2450"],
body[data-aos-delay="2450"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="2450"].aos-animate,
body[data-aos-delay="2450"] [data-aos].aos-animate {
    -webkit-transition-delay: 2.45s;
    transition-delay: 2.45s
}
[data-aos][data-aos][data-aos-duration="2500"],
body[data-aos-duration="2500"] [data-aos] {
    -webkit-transition-duration: 2.5s;
    transition-duration: 2.5s
}
[data-aos][data-aos][data-aos-delay="2500"],
body[data-aos-delay="2500"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="2500"].aos-animate,
body[data-aos-delay="2500"] [data-aos].aos-animate {
    -webkit-transition-delay: 2.5s;
    transition-delay: 2.5s
}
[data-aos][data-aos][data-aos-duration="2550"],
body[data-aos-duration="2550"] [data-aos] {
    -webkit-transition-duration: 2.55s;
    transition-duration: 2.55s
}
[data-aos][data-aos][data-aos-delay="2550"],
body[data-aos-delay="2550"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="2550"].aos-animate,
body[data-aos-delay="2550"] [data-aos].aos-animate {
    -webkit-transition-delay: 2.55s;
    transition-delay: 2.55s
}
[data-aos][data-aos][data-aos-duration="2600"],
body[data-aos-duration="2600"] [data-aos] {
    -webkit-transition-duration: 2.6s;
    transition-duration: 2.6s
}
[data-aos][data-aos][data-aos-delay="2600"],
body[data-aos-delay="2600"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="2600"].aos-animate,
body[data-aos-delay="2600"] [data-aos].aos-animate {
    -webkit-transition-delay: 2.6s;
    transition-delay: 2.6s
}
[data-aos][data-aos][data-aos-duration="2650"],
body[data-aos-duration="2650"] [data-aos] {
    -webkit-transition-duration: 2.65s;
    transition-duration: 2.65s
}
[data-aos][data-aos][data-aos-delay="2650"],
body[data-aos-delay="2650"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="2650"].aos-animate,
body[data-aos-delay="2650"] [data-aos].aos-animate {
    -webkit-transition-delay: 2.65s;
    transition-delay: 2.65s
}
[data-aos][data-aos][data-aos-duration="2700"],
body[data-aos-duration="2700"] [data-aos] {
    -webkit-transition-duration: 2.7s;
    transition-duration: 2.7s
}
[data-aos][data-aos][data-aos-delay="2700"],
body[data-aos-delay="2700"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="2700"].aos-animate,
body[data-aos-delay="2700"] [data-aos].aos-animate {
    -webkit-transition-delay: 2.7s;
    transition-delay: 2.7s
}
[data-aos][data-aos][data-aos-duration="2750"],
body[data-aos-duration="2750"] [data-aos] {
    -webkit-transition-duration: 2.75s;
    transition-duration: 2.75s
}
[data-aos][data-aos][data-aos-delay="2750"],
body[data-aos-delay="2750"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="2750"].aos-animate,
body[data-aos-delay="2750"] [data-aos].aos-animate {
    -webkit-transition-delay: 2.75s;
    transition-delay: 2.75s
}
[data-aos][data-aos][data-aos-duration="2800"],
body[data-aos-duration="2800"] [data-aos] {
    -webkit-transition-duration: 2.8s;
    transition-duration: 2.8s
}
[data-aos][data-aos][data-aos-delay="2800"],
body[data-aos-delay="2800"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="2800"].aos-animate,
body[data-aos-delay="2800"] [data-aos].aos-animate {
    -webkit-transition-delay: 2.8s;
    transition-delay: 2.8s
}
[data-aos][data-aos][data-aos-duration="2850"],
body[data-aos-duration="2850"] [data-aos] {
    -webkit-transition-duration: 2.85s;
    transition-duration: 2.85s
}
[data-aos][data-aos][data-aos-delay="2850"],
body[data-aos-delay="2850"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="2850"].aos-animate,
body[data-aos-delay="2850"] [data-aos].aos-animate {
    -webkit-transition-delay: 2.85s;
    transition-delay: 2.85s
}
[data-aos][data-aos][data-aos-duration="2900"],
body[data-aos-duration="2900"] [data-aos] {
    -webkit-transition-duration: 2.9s;
    transition-duration: 2.9s
}
[data-aos][data-aos][data-aos-delay="2900"],
body[data-aos-delay="2900"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="2900"].aos-animate,
body[data-aos-delay="2900"] [data-aos].aos-animate {
    -webkit-transition-delay: 2.9s;
    transition-delay: 2.9s
}
[data-aos][data-aos][data-aos-duration="2950"],
body[data-aos-duration="2950"] [data-aos] {
    -webkit-transition-duration: 2.95s;
    transition-duration: 2.95s
}
[data-aos][data-aos][data-aos-delay="2950"],
body[data-aos-delay="2950"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="2950"].aos-animate,
body[data-aos-delay="2950"] [data-aos].aos-animate {
    -webkit-transition-delay: 2.95s;
    transition-delay: 2.95s
}
[data-aos][data-aos][data-aos-duration="3000"],
body[data-aos-duration="3000"] [data-aos] {
    -webkit-transition-duration: 3s;
    transition-duration: 3s
}
[data-aos][data-aos][data-aos-delay="3000"],
body[data-aos-delay="3000"] [data-aos] {
    -webkit-transition-delay: 0;
    transition-delay: 0
}
[data-aos][data-aos][data-aos-delay="3000"].aos-animate,
body[data-aos-delay="3000"] [data-aos].aos-animate {
    -webkit-transition-delay: 3s;
    transition-delay: 3s
}
[data-aos][data-aos][data-aos-easing=linear],
body[data-aos-easing=linear] [data-aos] {
    -webkit-transition-timing-function: cubic-bezier(0.25,.25,0.75,.75);
    transition-timing-function: cubic-bezier(0.25,.25,0.75,.75)
}
[data-aos][data-aos][data-aos-easing=ease],
body[data-aos-easing=ease] [data-aos] {
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease
}
[data-aos][data-aos][data-aos-easing=ease-in],
body[data-aos-easing=ease-in] [data-aos] {
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in
}
[data-aos][data-aos][data-aos-easing=ease-out],
body[data-aos-easing=ease-out] [data-aos] {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}
[data-aos][data-aos][data-aos-easing=ease-in-out],
body[data-aos-easing=ease-in-out] [data-aos] {
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out
}
[data-aos][data-aos][data-aos-easing=ease-in-back],
body[data-aos-easing=ease-in-back] [data-aos] {
    -webkit-transition-timing-function: cubic-bezier(0.6,-.28,0.735,.045);
    transition-timing-function: cubic-bezier(0.6,-.28,0.735,.045)
}
[data-aos][data-aos][data-aos-easing=ease-out-back],
body[data-aos-easing=ease-out-back] [data-aos] {
    -webkit-transition-timing-function: cubic-bezier(0.175,.885,0.32,1.275);
    transition-timing-function: cubic-bezier(0.175,.885,0.32,1.275)
}
[data-aos][data-aos][data-aos-easing=ease-in-out-back],
body[data-aos-easing=ease-in-out-back] [data-aos] {
    -webkit-transition-timing-function: cubic-bezier(0.68,-.55,0.265,1.55);
    transition-timing-function: cubic-bezier(0.68,-.55,0.265,1.55)
}
[data-aos][data-aos][data-aos-easing=ease-in-sine],
body[data-aos-easing=ease-in-sine] [data-aos] {
    -webkit-transition-timing-function: cubic-bezier(0.47,0,0.745,.715);
    transition-timing-function: cubic-bezier(0.47,0,0.745,.715)
}
[data-aos][data-aos][data-aos-easing=ease-out-sine],
body[data-aos-easing=ease-out-sine] [data-aos] {
    -webkit-transition-timing-function: cubic-bezier(0.39,.575,0.565,1);
    transition-timing-function: cubic-bezier(0.39,.575,0.565,1)
}
[data-aos][data-aos][data-aos-easing=ease-in-out-sine],
body[data-aos-easing=ease-in-out-sine] [data-aos] {
    -webkit-transition-timing-function: cubic-bezier(0.445,.05,0.55,.95);
    transition-timing-function: cubic-bezier(0.445,.05,0.55,.95)
}
[data-aos][data-aos][data-aos-easing=ease-in-cubic],
[data-aos][data-aos][data-aos-easing=ease-in-quad],
[data-aos][data-aos][data-aos-easing=ease-in-quart],
body[data-aos-easing=ease-in-cubic] [data-aos],
body[data-aos-easing=ease-in-quad] [data-aos],
body[data-aos-easing=ease-in-quart] [data-aos] {
    -webkit-transition-timing-function: cubic-bezier(0.55,.085,0.68,.53);
    transition-timing-function: cubic-bezier(0.55,.085,0.68,.53)
}
[data-aos][data-aos][data-aos-easing=ease-out-cubic],
[data-aos][data-aos][data-aos-easing=ease-out-quad],
[data-aos][data-aos][data-aos-easing=ease-out-quart],
body[data-aos-easing=ease-out-cubic] [data-aos],
body[data-aos-easing=ease-out-quad] [data-aos],
body[data-aos-easing=ease-out-quart] [data-aos] {
    -webkit-transition-timing-function: cubic-bezier(0.25,.46,0.45,.94);
    transition-timing-function: cubic-bezier(0.25,.46,0.45,.94)
}
[data-aos][data-aos][data-aos-easing=ease-in-out-cubic],
[data-aos][data-aos][data-aos-easing=ease-in-out-quad],
[data-aos][data-aos][data-aos-easing=ease-in-out-quart],
body[data-aos-easing=ease-in-out-cubic] [data-aos],
body[data-aos-easing=ease-in-out-quad] [data-aos],
body[data-aos-easing=ease-in-out-quart] [data-aos] {
    -webkit-transition-timing-function: cubic-bezier(0.455,.03,0.515,.955);
    transition-timing-function: cubic-bezier(0.455,.03,0.515,.955)
}
[data-aos^=fade][data-aos^=fade] {
    opacity: 0;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}
[data-aos=fade-up] {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0)
}
[data-aos=fade-down] {
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0)
}
[data-aos=fade-right] {
    -webkit-transform: translate3d(-30px, 0, 0);
    transform: translate3d(-30px, 0, 0)
}
[data-aos=fade-left] {
    -webkit-transform: translate3d(30px, 0, 0);
    transform: translate3d(30px, 0, 0)
}
[data-aos=fade-up-right] {
    -webkit-transform: translate3d(-100px, 100px, 0);
    transform: translate3d(-100px, 100px, 0)
}
[data-aos=fade-up-left] {
    -webkit-transform: translate3d(100px, 100px, 0);
    transform: translate3d(100px, 100px, 0)
}
[data-aos=fade-down-right] {
    -webkit-transform: translate3d(-100px, -100px, 0);
    transform: translate3d(-100px, -100px, 0)
}
[data-aos=fade-down-left] {
    -webkit-transform: translate3d(100px, -100px, 0);
    transform: translate3d(100px, -100px, 0)
}
[data-aos^=zoom][data-aos^=zoom] {
    opacity: 0;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform
}
[data-aos^=zoom][data-aos^=zoom].aos-animate {
    opacity: 1;
    -webkit-transform: translateZ(0) scale(1);
    transform: translateZ(0) scale(1)
}
[data-aos=zoom-in] {
    -webkit-transform: scale(0.6);
    transform: scale(0.6)
}
[data-aos=zoom-in-up] {
    -webkit-transform: translate3d(0, 100px, 0) scale(0.6);
    transform: translate3d(0, 100px, 0) scale(0.6)
}
[data-aos=zoom-in-down] {
    -webkit-transform: translate3d(0, -100px, 0) scale(0.6);
    transform: translate3d(0, -100px, 0) scale(0.6)
}
[data-aos=zoom-in-right] {
    -webkit-transform: translate3d(-100px, 0, 0) scale(0.6);
    transform: translate3d(-100px, 0, 0) scale(0.6)
}
[data-aos=zoom-in-left] {
    -webkit-transform: translate3d(100px, 0, 0) scale(0.6);
    transform: translate3d(100px, 0, 0) scale(0.6)
}
[data-aos=zoom-out] {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}
[data-aos=zoom-out-up] {
    -webkit-transform: translate3d(0, 100px, 0) scale(1.2);
    transform: translate3d(0, 100px, 0) scale(1.2)
}
[data-aos=zoom-out-down] {
    -webkit-transform: translate3d(0, -100px, 0) scale(1.2);
    transform: translate3d(0, -100px, 0) scale(1.2)
}
[data-aos=zoom-out-right] {
    -webkit-transform: translate3d(-100px, 0, 0) scale(1.2);
    transform: translate3d(-100px, 0, 0) scale(1.2)
}
[data-aos=zoom-out-left] {
    -webkit-transform: translate3d(100px, 0, 0) scale(1.2);
    transform: translate3d(100px, 0, 0) scale(1.2)
}
[data-aos^=slide][data-aos^=slide] {
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform
}
[data-aos^=slide][data-aos^=slide].aos-animate {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}
[data-aos=slide-up] {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0)
}
[data-aos=slide-down] {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0)
}
[data-aos=slide-right] {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
}
[data-aos=slide-left] {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
}
[data-aos^=flip][data-aos^=flip] {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform
}
[data-aos=flip-left] {
    -webkit-transform: perspective(2500px) rotateY(-100deg);
    transform: perspective(2500px) rotateY(-100deg)
}
[data-aos=flip-left].aos-animate {
    -webkit-transform: perspective(2500px) rotateY(0);
    transform: perspective(2500px) rotateY(0)
}
[data-aos=flip-right] {
    -webkit-transform: perspective(2500px) rotateY(100deg);
    transform: perspective(2500px) rotateY(100deg)
}
[data-aos=flip-right].aos-animate {
    -webkit-transform: perspective(2500px) rotateY(0);
    transform: perspective(2500px) rotateY(0)
}
[data-aos=flip-up] {
    -webkit-transform: perspective(2500px) rotateX(-100deg);
    transform: perspective(2500px) rotateX(-100deg)
}
[data-aos=flip-up].aos-animate {
    -webkit-transform: perspective(2500px) rotateX(0);
    transform: perspective(2500px) rotateX(0)
}
[data-aos=flip-down] {
    -webkit-transform: perspective(2500px) rotateX(100deg);
    transform: perspective(2500px) rotateX(100deg)
}
[data-aos=flip-down].aos-animate {
    -webkit-transform: perspective(2500px) rotateX(0);
    transform: perspective(2500px) rotateX(0)
}
/* 
@media screen and(min-width:769px) {
    body {
        font-size: 1.6rem;
        line-height: 1.75;
        -webkit-font-smoothing: antialiased
    }
    .sp {
        display: none !important
    }
    .head {
			background: url(../img/190807/header_bg_sp.jpg) no-repeat 0 0;
			background-size: contain;
			height: 13.4375vw;
		}
		.head h1 {
			width: 38.4375vw;
		position: relative;
		}
	.main-foot {
        margin-top: 120px;
        padding-bottom: 90px
    }
    .main-foot .copyright img {
        width: 200px;
        margin-top: 50px
    }
    .main-foot__logo {
        margin-top: 100px
    }
    .main-foot__sns {
        margin-top: 25px
    }
    .main-foot__sns li {
        height: 54px;
        margin: 0 20px
    }
    .main-foot__sns li:last-child {
        display: none
    }
    body#top .main-foot {
        padding-top: 50px
    }
    .c-container {
        width: 984px;
        margin: auto
    }
    .block .item-visual {
        width: 800px
    }
    .block .item-visual.item2 {
        height: 894px
    }
    .block .item-visual.item3 {
        height: 1014px
    }
    .block .block__description {
        font-size: 2.1rem
    }
    .block .block__link {
        margin-top: 85px
    }
    .block .block__link a img {
        -webkit-transition: opacity 0.3s !important;
        transition: opacity 0.3s !important
    }
    .block.block1 {
        margin-top: 210px
    }
    .block.block1 .block__title {
        margin-bottom: 25px
    }
    .block.block1::before {
        width: calc(50% - 158px);
        left: 0;
        top: 0;
        height: 720px
    }
    .block.block1::after {
        width: calc(50% - 310px);
        right: 0;
        top: 564px;
        height: 664px
    }
    .block.block1 .block__description {
        margin-top: 65px
    }
    .block.block1 .block1_txt1 {
        position: absolute;
        top: 195px;
        left: calc(50% - 473px)
    }
    .block.block1 .block1_txt2 {
        position: absolute;
        top: 640px;
        left: calc(50% + 230px)
    }
    .block.block1 .i1 {
        left: calc(50% - 280px);
        top: -55px
    }
    .block.block1 .i2 {
        left: calc(50% + 315px);
        top: 898px
    }
    .block.block1 .i3 {
        right: calc(50% + 336px);
        top: 1058px
    }
    .block.block1 .i4 {
        left: calc(50% + 305px);
        top: 1270px
    }
    .block.block2 {
        margin-top: 275px
    }
    .block.block2 .block__title {
        margin-bottom: 55px
    }
    .block.block2::before {
        width: 100%;
        left: 0;
        top: 365px;
        height: 475px
    }
    .block.block2 .block__description {
        margin-top: 65px
    }
    .block.block2 .block2_txt1 {
        position: absolute;
        top: 530px;
        right: calc(50% + 258px)
    }
    .block.block2 .block2_txt2 {
        position: absolute;
        top: 530px;
        left: calc(50% + 290px)
    }
    .block.block2 .i1 {
        right: calc(50% + 280px);
        top: 1086px
    }
    .block.block2 .i2 {
        left: calc(50% + 160px);
        top: 1071px
    }
    .block.block3 {
        margin-top: 290px
    }
    .block.block3 .block__title {
        margin-bottom: 25px
    }
    .block.block3::before {
        width: calc(50% - 241px);
        right: 0;
        top: 60px;
        height: 805px
    }
    .block.block3::after {
        width: calc(50% - 180px);
        left: 0;
        top: 800px;
        height: 408px
    }
    .block.block3 .block__description {
        margin-top: 180px
    }
    .block.block3 .block3_txt1 {
        position: absolute;
        top: 260px;
        right: calc(50% + 203px)
    }
    .block.block3 .block3_txt2 {
        position: absolute;
        top: 635px;
        left: calc(50% + 280px)
    }
    .block.block3 .i1 {
        left: calc(50% + 16px);
        top: 988px
    }
    .block.block3 .i2 {
        right: calc(50% + 300px);
        top: 1352px
    }
    #flowerArea .main-head__lead {
        text-align: center;
        margin-top: 100px
    }
    .flower-profile,
    .flower-profile__title {
        font-size: 1.4rem
    }
    .flower-profile {
        width: 800px;
        margin: 120px auto auto;
        padding: 45px
    }
    .flower-profile::after,
    .flower-profile::before {
        width: 225px;
        height: 188px
    }
    .flower-items {
        margin-top: 240px
    }
    .flower-items__lead {
        font-size: 2.1rem;
        margin-top: 50px;
        margin-bottom: 80px
    }
    .flower-items__name {
        margin-top: 65px;
        font-size: 1.4rem
    }
    .flower-slider.bra-slider .item {
        width: 400px;
        height: 300px
    }
    .flower-slider.shorts-slider {
        margin-top: 73px
    }
    .flower-slider.shorts-slider .item {
        width: 280px
    }
    .flowers-buy {
        margin-top: 20px;
        width: 310px;
        height: 100px
    }
    .flowers-buy a {
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s
    }
    .flowers-buy a:hover {
        opacity: .8;
        text-decoration: none;
        cursor: pointer
    }
    .flowers-buy__cart {
        width: 310px;
        height: 54px;
        padding-right: 20px;
        font-size: 1.8rem
    }
    .flowers-buy__cart::before {
        width: 25px;
        height: 24px;
        margin-right: 12px
    }
    .flowers-buy__sub {
        width: 152px;
        height: 40px;
        margin-top: 5px;
        font-size: 1.45rem;
        padding-left: 5px
    }
}
*/
@media screen and (max-width: 768px) {
	#wrapper {
		margin-top: 0 !important;
	}
	body {
			font-size: 3.4375vw;
			line-height: 1.54
	}
	img {
			max-width: 100%
	}
	.pc {
			display: none !important
	}
	.head {
			height: 13.4375vw;
	}
	.head h1 {
			width: 38.4375vw;
	}
	.main-foot {
			margin-top: 15.625vw;
			padding-bottom: 10.9375vw
	}
	.main-foot .copyright img {
			width: 45.3125vw !important;
			margin-top: 5.46875vw
	}
	.main-foot__title img {
			width: 11.40625vw !important
	}
	.main-foot__logo {
			margin-top: 13.28125vw
	}
	.main-foot__logo img {
			width: 38.4375vw !important;
		margin-top: 0;
	}
	.main-foot__sns {
			margin-top: 3.90625vw
	}
	.main-foot__sns li:first-child {
			margin-left: 1.5625vw
	}
	.main-foot__sns li {
			height: 9.0625vw;
			margin: 0 3.75vw
	}
	.block.block1 .block__title,
	.block.block2 .block__title {
			margin-bottom: 6.5625vw
	}
	.main-foot__sns li a img {
			height: 9.0625vw !important
	}
	body#top .main-foot {
			padding-top: 9.375vw
	}
	.c-container {
			width: 100%
	}
	#flowerArea .main-head__lead {
			width: 100%;
			background-size: 110%;
	}
	.main-head__lead__inner {
			padding: 15% 0;
	}
	#flowerArea .main-head__lead img {
			width: 72%;
	}
	.block__items__oki {
		z-index: 10;
    position: relative;
    padding: 5vw 0 18vw;
	}
	.block__items1__model img {
    width: 89vw !important;
    margin-left: 0;
	}
	.block__items1__model::before {
		width: 80.2vw;
		height: 120vw;
		bottom: -20vw;
		left: inherit;
		right: 0;
		background-size: cover;
	}
	.block__items1__logo {
    top: 10vw;
    left: inherit;
    right: 3vw;
	}
	.block__items1__logo img {
		width: 31.25vw !important;
	}
	.block__items1__copy {
		bottom: -15vw;
    left: inherit;
    right: 3vw;
	}
	.block__items1__copy img {
		width: 52vw !important;
	}
	.block__items2__model img {
    width: 89vw !important;
		margin-left: 11vw;
		margin-top: 0;
	}
	.block__items2__model::before {
		width: 80.2vw;
		height: 120vw;
		bottom: 20vw;
		left: 0;
		background-size: cover;
	}
	.block__items2__logo {
    top: inherit;
		bottom: 30vw;
    left: 3vw;
	}
	.block__items2__logo img {
		width: 42.5vw !important;
	}
	.block__items2__copy {
		bottom: inherit;
		top: -15vw;
    left: 3vw;
	}
	.block__items2__copy img {
		width: 47vw !important;
	}
	.block.block1::before {
			width: 30.625vw;
			height: 71.40625vw;
			left: 0;
			top: 4.6875vw
	}
	.block.block1::after {
			width: 38.75vw;
			height: 79.6875vw;
			top: 65.15625vw;
			right: 0
	}
	.block.block1 .block__description {
			margin-top: 30.46875vw
	}
	.block.block1 .block1_txt1 {
			position: absolute;
			width: 100%;
			top: 15.625vw
	}
	.block.block1 .block1_txt2 {
			position: absolute;
			width: 100%;
			top: 129.6875vw
	}
	/* restock */
	.restock__title {
		background: url(../img/190807/restock_bg_sp.jpg) ;
		height: 40vw;
		position: relative;
		margin-top: 20vw;
	}
	.restock__title img {
		width: 60vw !important;
		position: absolute;
    top: 5vw;
    right: 3vw;
	}
	.restock__items3__model img {
		width: 80vw !important;
		margin-left: 3vw;
		margin-top: -15vw;
	}
	.restock__items3__logo {
		top: 10vw;
		left: inherit;
		right: 0;
	}
	.restock__items3__logo img {
		width: 33vw !important;
	}
	.restock__items3__bra {
    bottom: -20vw;
    left: inherit;
		right: 3vw;
	}
	.restock__items3__bra img {
		width: 55vw !important;
	}
	.block__items4 {
		margin-top: 30vw;
	}
	.restock__items4__model img {
		width: 80vw !important;
		margin-left: 17vw;
		margin-top: 0;
	}
	.restock__items4__logo {
		top: 10vw;
		left: 0;
	}
	.restock__items4__logo img {
		width: 33vw !important;
	}
	.restock__items4__bra {
    bottom: -20vw;
    left: 3vw;
	}
	.restock__items4__bra img {
		width: 55vw !important;
	}
	.restock__items5 {
		margin-top: 30vw;
	}
	.restock__items5__model img {
		width: 80vw !important;
		margin-left: 3vw;
		margin-top: 0;
	}
	.restock__items5__logo {
		top: 10vw;
		left: inherit;
		right: 0;
	}
	.restock__items5__logo img {
		width: 33vw !important;
	}
	.restock__items5__bra {
    bottom: -20vw;
    left: inherit;
		right: 3vw;
	}
	.restock__items5__bra img {
		width: 55vw !important;
	}
	/* item */
	.flower-items__title {
		width: 50vw;
    position: inherit;
    right: 0;
    margin-left: 3vw;
	}
	.flower-items__bra img {
    margin: 10vw auto 5vw;
    width: 91.25vw !important;
	}
	.flower-items__title img {
			width: 100%;
			display: block
	}
	.flower-items__lead {
			font-size: 3.125vw;
			margin-top: 3.90625vw;
			margin-bottom: 5.46875vw
	}
	.block__items1__cart .flower-items__name {
		margin: 20px 0 10px ;
	}
	.flower-items__name {
			margin-top: 5.46875vw;
			font-size: 2.8125vw;
		margin-bottom: 10px;
	}
	.flowers-buy {
			margin-top: 3.90625vw;
			width: 91.25vw;
		display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto;
		
	}
	.flowers-buy__cart {
			width: 91.25vw;
			display: inherit;
			padding-right: 0;
			margin: 0 auto;
	}
	.flowers-buy__sub {
			width: 44.375vw;
			height: 10.9375vw;
			margin-top: 3.4375vw;
			font-size: 4.0625vw;
		display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
		margin-left: 0;
	}
	.flowers-buy-block.flowers-buy-float {
		width: 100%;
	}
	.flowers-buy-block.flowers-buy-float .flower-items__name {
		float: inherit;
    text-align: center;
    width: 100%;
    margin: 0;
		margin-bottom: 10px;
	}
	.flowers-buy-block.flowers-buy-float .flowers-buy {
		float: inherit;
	}
}