/* -------------------------

main.cssÇ…ãLèq

PCÇÃÇ›ï\é¶...... class="pc"
SPÇÃÇ›ï\é¶...... class="sp"

----------------------------*/

#main {
	overflow: hidden;
}
#kyoshoArea {
	font-family: "ü‡ÉSÉVÉbÉNëÃ", YuGothic, "ü‡ÉSÉVÉbÉN Medium", "Yu Gothic Medium", "ü‡ÉSÉVÉbÉN", "Yu Gothic", "Hiragino Kaku Gothic ProN", "ÉqÉâÉMÉmäpÉS ProN W3", "Hiragino Sans", "ÉÅÉCÉäÉI", Meiryo sans-serif;
    letter-spacing: 0.075em;
    -webkit-font-feature-settings: 'palt';
    font-feature-settings: 'palt';
	color: #302c30;
}
#kyoshoArea img{
	margin:0 auto;
}

#kyoshoArea .header {
	margin: 0 auto;
	background-color: #f2668e;
	padding-bottom: 30px;
}

#kyoshoArea .header h1 img {
	width: 100%;
}

#kyoshoArea .lead {
	text-align: center;
	color: #ffffff;
	margin: 30px 0 50px;
}
#kyoshoArea .intro {
	background: #ffffff;
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}
#kyoshoArea .intro .intro_text {
	text-align: center;
}
#kyoshoArea .intro img {
	padding: 20px 0;
}
#kyoshoArea .intro_btn img {
	padding: 40px 0 20px;
}


/*move
-------------------------*/
#kyoshoArea .movie {
	margin: 50px 0;
}
#kyoshoArea .movie img {
	padding: 30px 0;
}

/*Profile
-------------------------*/
#kyoshoArea .profile ul  {
	display: flex;
    justify-content: center;
	-webkit-justify-content: center;
}
#kyoshoArea ul li  {
	margin: 0 30px;
}

/*model
-------------------------*/
.models-wrap {
    overflow: hidden;
    position: relative;
    -webkit-transition: height .5s ease-in-out;
    transition: height .5s ease-in-out;
}
.models-wrap, .models-wrap+.sup {
    margin-left: auto;
    margin-right: auto;
}
.models {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
}
.models .item {
    position: relative;
}
.menu-toggle, .mfp-gallery .mfp-image-holder .mfp-figure, .models .item {
    cursor: pointer;
}
.models .item img.active {
    opacity: 1;
}
.models .item img {
    display: block;
	position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.menu-toggle::after, .menu-toggle::before, .models .item::after {
    content: "";
}
.models-wrap_1 {
    overflow:  hidden;
    position: relative;
    -webkit-transition: height .5s ease-in-out;
    transition: height .5s ease-in-out;
}
.models-wrap_1, .models-wrap_1+.sup {
    margin: 0 auto;
}
.models-wrap_1 .models {
	display: contents;
}

/*profile
-------------------------*/
.profile .bc_profile {
	display: flex;
    justify-content: center;
	position: relative;
}
.profile ul {
	margin: 50px 0;
	padding-bottom: 50px;
	border-bottom: double 1px #ededed;
}
.profile .cap-title {
	margin: 60px 0 30px;
	text-align: center;
}
#kyoshoArea .profile .bc_profile img {
	width: 383px;
    margin: 0;
    padding-right: 2px;
}
.bc_profile .iconArea {
	position: absolute;
}
#kyoshoArea .profile .bc_profile .iconArea .icon-insta01 img {
	width: 30px;
	height: 30px;
	position: absolute;
    bottom: -270px;
    right: 310px;
}
#kyoshoArea .profile .bc_profile .iconArea .icon-insta02 img {
	width: 30px;
	height: 30px;
	position: absolute;
    bottom: -270px;
    left: 40px;
}
#kyoshoArea .profile .bc_profile .iconArea .icon-insta03 img {
	width: 30px;
	height: 30px;
	position: absolute;
    bottom: -270px;
	right: 120px;
}

/*ranking
-------------------------*/
.ranking .hitbra-img {
	width: 100%;
}
.ranking h2 {
	margin: 80px 0 50px;
}
#kyoshoArea section {
	margin: 80px 0;
}
.number .numbermodel {
	display: flex;
    justify-content: center;
	margin: 50px 0;
}
#kyoshoArea .number .numbermodel img {
	margin: 0 0;
}
#kyoshoArea .btnArea ul li {
	margin: 0 9px;
}

/*allbtn
-------------------------*/
.allbtnArea {
	text-align: center;
}

/*footer
-------------------------*/
.main-foot__logo {
    text-align: center;
}
	.main-foot__logo {
			margin-top: 94px;
	}
.main-foot__sns {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.main-foot__sns li {
    height: 54px;
		margin: 0 20px;
}
.main-foot__sns li a {
    display: block;
    height: 100%;
    position: relative
}
.main-foot__sns li a img {
    display: block;
    height: 100%;
    width: auto !important
}
body#top .main-foot__sns {
		width: 249px;
    margin-top: 0 !important
}


/*clearFix
---------------------------*/
#kyoshoArea .btnArea:after,
#kyoshoArea .btnArea ul:after {
	display: block;
	clear: both;
	content: " ";
}

@media screen and (min-width: 768px) {
.models-wrap {
    width: 766px;
    height: 383px;
}
.models-wrap_1 {
    width: 766px;
    height: 382px;

}
.models {
    width: 766px;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
}
.models .item {
    width: 380px;
    height: 382px;
}
.models-wrap_1 .models .item {
    width: 380px;
    height: 382px;
	margin: 0 auto;
}
.models .item img {
    width: 380px;
}
}

@media screen and (max-width: 768px) {
	body {
			font-size: 3.4375vw;
			line-height: 1.54
	}
	img {
			max-width: 100%
	}
	.main-foot__sns {
			margin-top: 3.90625vw
	}
	.main-foot__sns li:first-child {
			margin-left: 1.5625vw
	}
	.main-foot__sns li {
			height: 9.0625vw;
			margin: 0 3.75vw
	}
	.main-foot__sns li a img {
			height: 9.0625vw !important
	}
	body#top .main-foot {
			padding-top: 9.375vw
	}
#main {
	padding: 0;
}
#kyoshoArea {
	width:100%;
	font-size: 1.2rem;
}
#kyoshoArea .header {
	width: 100%;
	margin: 0;
}
#kyoshoArea .lead {
	width: 260px;
	margin: 25px auto 30px;
}
#kyoshoArea .intro {
	background: #ffffff;
	width: 90%;
	margin: 0 auto;
	padding: 40px 0;
}
#kyoshoArea .intro .intro_text {
	line-height: normal;
}
#kyoshoArea .intro_btn img {
    padding: 30px 0 0;
    width: 70%;
}
	/*Profile
-------------------------*/
#kyoshoArea ul li  {
	margin: 0 5px;
}
#kyoshoArea .click_text {
	width: 85%;
	margin: 0 auto;
}
.profile .cap-title {
    text-align: center;
	width: 40%;
	margin: 0 auto;
}
#kyoshoArea .profile .bc_profile img {
    width: 100%;
    margin: auto;
}
#kyoshoArea .profile .bc_profile .item_img img {
	width: 50%;
	}
	
	/*model
-------------------------*/
.models-wrap {
    width: 100%;
    height: 73.15vw;
}
.models-wrap_1 {
    width: 100%;
    height: 73.15vw;
}
.models {
	width: 100%;
}
.models .item {
	width: 50%;
	margin: 0 auto;
}
.bc_profile .iconArea {
    position: static;
}
#kyoshoArea .profile .bc_profile .iconArea .icon-insta01 img {
    width: 8%;
    height: 10%;
    position: absolute;
    bottom: 10%;
    right: 0;
    left: -87%;
}
#kyoshoArea .profile .bc_profile .iconArea .icon-insta02 img {
    width: 8%;
    height: 10%;
    position: absolute;
    bottom: 10%;
    left: 0;
    right: -12%;
}
#kyoshoArea .profile .bc_profile .iconArea .icon-insta03 img {
    width: 8%;
    height: 11%;
    position: absolute;
    bottom: 10%;
    right: 0;
    left: -30%;
}
	/*ranking
-------------------------*/
#kyoshoArea .number .numbermodel img {
	width: 33.5%;
    height: 33.5%;
}
#kyoshoArea .number .numbermodel .sentermodel {
	width: 33.8%;
    height: 33.8%;
}
#kyoshoArea .btnArea {
    padding: 0 4.6875% 0.5% 4.6875%;
    z-index: 10;
    position: relative;
    margin: 1vw 0 10px 0;
}
#kyoshoArea .btnArea ul {
    overflow: hidden;
}
#kyoshoArea .btnArea ul li:first-of-type {
    width: 100%;
    margin: 0 0 10px 0;
}
#kyoshoArea .btnArea ul li {
    width: 48%;
    margin: 0 0 10px 0;
    float: left;
}
#kyoshoArea .btnArea ul li:last-child {
    width: 48%;
    float: right;
}
	
}