//path
$images: "../images";

// ==============================
//
// 750px幅のスマートフォン用デザインのpxをvw値に変換
//
// ==============================

@function spvw($value) {
  @return ($value / 7.5) + vw;
}

// ==============================
//
// 1280px幅のPC用デザインのpxをvw値に変換
//
// ==============================

@function pcvw($value,$width:12.8) {
  @return ($value / $width) + vw;
}

// ==========================================================================
//
//　Break points
//
// ==========================================================================
$pc_width: 1280px;
$tab_max: 1279px;
$pc_min: 768px;
$sp_max: 767px;

// ==========================================================================
//
// Font
//
// ==========================================================================

//$default-font: Helvetica Neue, Helvetica, Hiragino Sans, 'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;
$default-font: a-otf-futo-go-b101-pr6n, sans-serif;

// ==========================================================================
//
// Color
//
// ==========================================================================
$c_text: #333333;

$c_news: #009944;
$c_news_ref: rgba(251,215,182,1);

$c_about: #ea5504;
$c_about_ref: #bce2ec;
$c_about_sub: #ea5504;
$c_about_sub_ref: #b062a3;

$c_report: #e40081;
$c_report_ref: rgba(205,225,143,1);

$c_research: #00a0e9;
$c_research_ref: #e2dfef;

// ==========================================================================
//
// Heights
//
// ==========================================================================

$frame-height: 75px;
$frame-height-s: spvw(78);

// ==========================================================================
//
// easing
//
// ==========================================================================

$slide_ease: 0.19, 1, 0.22, 1;