.checkedItems {
	margin-top: 40px;
}

.checkedItems ul {
	font-size: 0;
	margin-left: -4px;
}

.checkedItems ul li {
	width: 118px;
	margin-left: 5.5px;
}

@media screen and (max-width: 768px) {

.checkedItems {
	margin: 40px -4.6875% 0;
	position: relative;
}

.checkedItems .wrap {
	-webkit-user-select: none;
	display: block;
	overflow-y: hidden;
	padding: 0;
	position: relative;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
	width: 100%;
}

.checkedItems ul {
	letter-spacing: -0.4em;
	display: inline-block;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	padding: 0 4.6875%;
}

.checkedItems ul li {
	width: 90px;
	letter-spacing: normal;
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 0;
	margin: 0;
	text-align: center;
	padding: 0 5px;
	white-space: normal;
}

.checkedItems ul li .pic {
	margin-bottom: 5px;
}

.checkedItems ul li .pic img {
	width: 100%;
	height: auto;
}

.checkedItems ul li .itemName {
	font-size: 1rem;
	line-height: 1.5;
}

.checkedItems ul li .price {
	font-size: 1rem;
}

.checkedItems .arrow-left {
	position: absolute;
	left: 7px;
	top: 14vw;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url(/app/img/common/slide_nav_prev.png);
	background-size: 10px 20px;
	width: 10px;
	height: 20px;
}

.checkedItems .arrow-right {
	position: absolute;
	right: 7px;
	top: 14vw;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url(/app/img/common/slide_nav_next.png);
	background-size: 10px 20px;
	width: 10px;
	height: 20px;
}

}

