/* ===============================================================================
Questionnaire CSS
=============================================================================== */
/* questionnaireBlock01
	======================================== */
.questionnaireBlock01 {
  min-width: 984px;
  background: #e4edf2;
  padding: 39px 0 34px;
  margin-top: -5px; }
  .questionnaireBlock01 > .inner {
    width: 984px;
    margin: 0 auto;
    text-align: center; }
  .questionnaireBlock01 .heading {
    font-weight: bold; }
    .questionnaireBlock01 .heading p:first-child {
      margin-bottom: 14px; }
    .questionnaireBlock01 .heading h2 {
      font-size: 3.254rem;
      margin-bottom: 17px; }
    .questionnaireBlock01 .heading p:last-child {
      font-size: 1.333rem;
      color: #7eabda; }
  @media screen and (max-width: 768px) {
    .questionnaireBlock01 {
      min-width: auto;
      padding: 20px 0 17px;
      margin-top: 0; }
      .questionnaireBlock01 > .inner {
        width: auto; }
      .questionnaireBlock01 .heading p:first-child {
        width: 168px;
        margin: 0 auto 7px; }
      .questionnaireBlock01 .heading h2 {
        font-size: 2.034rem;
        margin-bottom: 8px; }
      .questionnaireBlock01 .heading p:last-child {
        font-size: 0.833rem; } }

/* questionnaireBlock02
	======================================== */
.questionnaireBlock02 {
  min-width: 984px;
  padding: 71px 0 0;
  margin-bottom: 109px; }
  .questionnaireBlock02 > .inner {
    width: 984px;
    margin: 0 auto; }
  .questionnaireBlock02 .heading {
    width: 470px;
    margin: 0 auto 50px;
    background: url(../img/questionnaire/questionnaire_contents_bg01.png) no-repeat left 0, url(../img/questionnaire/questionnaire_contents_bg01.png) no-repeat right 0;
    text-align: center;
    font-weight: bold;
    min-height: 145px;
    padding-top: 23px; }
    .questionnaireBlock02 .heading p {
      display: block;
      width: 128px;
      box-sizing: border-box;
      margin: 0 auto 13px;
      padding: 8px 5px 6px;
      font-size: 1.2rem;
      line-height: 1;
      color: #fff;
      background: #f9b5b8; }
    .questionnaireBlock02 .heading h3 {
      font-size: 1.733rem;
      line-height: 1.36; }
  .questionnaireBlock02 .imageLeft {
    position: relative;
    margin-bottom: 78px; }
    .questionnaireBlock02 .imageLeft .img {
      position: absolute;
      top: 0;
      left: 0;
      width: 491px;
      height: 100%;
      background: url(../img/questionnaire/questionnaire_contents_img01.jpg) no-repeat center center;
      background-size: cover;
      transition-property: opacity;
      transition-duration: .2s; }
      .questionnaireBlock02 .imageLeft .img:hover {
        opacity: .7; }
      .questionnaireBlock02 .imageLeft .img img {
        display: none; }
    .questionnaireBlock02 .imageLeft .inner {
      margin-left: 491px;
      background: #faefe6;
      word-break: break-all;
      padding: 46px 35px 36px 50px;
      min-height: 328px;
      box-sizing: border-box; }
      .questionnaireBlock02 .imageLeft .inner .text01 {
        font-size: 1.2rem;
        line-height: 1;
        font-weight: bold;
        color: #c89e7b;
        margin-bottom: 12px; }
      .questionnaireBlock02 .imageLeft .inner .text02 {
        font-size: 1.6rem;
        line-height: 1;
        font-weight: bold;
        margin-bottom: 22px; }
      .questionnaireBlock02 .imageLeft .inner .text03 {
        font-size: 1.2rem;
        line-height: 1.56; }
  .questionnaireBlock02 .imageRight {
    position: relative; }
    .questionnaireBlock02 .imageRight .img {
      position: absolute;
      top: 0;
      right: 0;
      width: 491px;
      height: 100%;
      background: url(../img/questionnaire/questionnaire_contents_img02.jpg) no-repeat center center;
      background-size: cover;
      transition-property: opacity;
      transition-duration: .2s; }
      .questionnaireBlock02 .imageRight .img:hover {
        opacity: .7; }
      .questionnaireBlock02 .imageRight .img img {
        display: none; }
    .questionnaireBlock02 .imageRight .inner {
      margin-right: 491px;
      background: #faefe6;
      word-break: break-all;
      padding: 46px 35px 36px 50px;
      min-height: 328px;
      box-sizing: border-box; }
      .questionnaireBlock02 .imageRight .inner .text01 {
        font-size: 1.2rem;
        line-height: 1;
        font-weight: bold;
        color: #c89e7b;
        margin-bottom: 12px; }
      .questionnaireBlock02 .imageRight .inner .text02 {
        font-size: 1.6rem;
        line-height: 1;
        font-weight: bold;
        margin-bottom: 22px; }
      .questionnaireBlock02 .imageRight .inner .text03 {
        font-size: 1.2rem;
        line-height: 1.56; }
  @media screen and (max-width: 768px) {
    .questionnaireBlock02 {
      min-width: auto;
      padding: 24px 0 0;
      margin-bottom: 53px; }
      .questionnaireBlock02 > .inner {
        width: auto; }
      .questionnaireBlock02 .heading {
        width: 235px;
        margin: 0 auto 14px;
        background: url(../img/questionnaire/questionnaire_contents_bg01.png) no-repeat left 0, url(../img/questionnaire/questionnaire_contents_bg01.png) no-repeat right 0;
        background-size: 47px auto;
        min-height: 73px;
        padding-top: 12px; }
        .questionnaireBlock02 .heading p {
          width: 64px;
          margin: 0 auto 7px;
          padding: 4px 2px 3px;
          font-size: 0.75rem; }
        .questionnaireBlock02 .heading h3 {
          font-size: 1.083rem;
          line-height: 1.36; }
      .questionnaireBlock02 .imageLeft {
        margin-bottom: 34px; }
        .questionnaireBlock02 .imageLeft .img {
          position: relative;
          width: 78.75%;
          height: auto;
          background: none;
          margin: 0 auto;
          text-align: center; }
          .questionnaireBlock02 .imageLeft .img img {
            display: inline; }
        .questionnaireBlock02 .imageLeft .inner {
          margin: -37px 0 0;
          padding: 50px 10.625% 20px;
          min-height: auto; }
          .questionnaireBlock02 .imageLeft .inner .text01 {
            font-size: 0.818rem;
            margin-bottom: 5px; }
          .questionnaireBlock02 .imageLeft .inner .text02 {
            font-size: 1.167rem;
            margin-bottom: 10px; }
          .questionnaireBlock02 .imageLeft .inner .text03 {
            font-size: 0.833rem;
            line-height: 1.64; }
      .questionnaireBlock02 .imageRight .img {
        position: relative;
        width: 78.75%;
        height: auto;
        background: none;
        margin: 0 auto;
        text-align: center; }
        .questionnaireBlock02 .imageRight .img img {
          display: inline; }
      .questionnaireBlock02 .imageRight .inner {
        margin: -37px 0 0;
        padding: 50px 10.625% 20px;
        min-height: auto; }
        .questionnaireBlock02 .imageRight .inner .text01 {
          font-size: 0.818rem;
          margin-bottom: 5px; }
        .questionnaireBlock02 .imageRight .inner .text02 {
          font-size: 1.167rem;
          margin-bottom: 10px; }
        .questionnaireBlock02 .imageRight .inner .text03 {
          font-size: 0.833rem;
          line-height: 1.64; } }

/* questionnaireBlock03
	======================================== */
.questionnaireBlock03 {
  min-width: 984px;
  margin-bottom: 86px; }
  .questionnaireBlock03 > .inner {
    width: 984px;
    margin: 0 auto; }
  .questionnaireBlock03 .heading {
    width: 477px;
    margin: 0 auto 60px;
    background: url(../img/questionnaire/questionnaire_contents_bg01.png) no-repeat left 0, url(../img/questionnaire/questionnaire_contents_bg01.png) no-repeat right 0;
    text-align: center;
    min-height: 145px;
    padding-top: 11px; }
    .questionnaireBlock03 .heading p:first-child {
      display: block;
      width: 128px;
      box-sizing: border-box;
      margin: 0 auto 13px;
      padding: 8px 5px 6px;
      font-size: 1.2rem;
      line-height: 1;
      color: #fff;
      background: #f9b5b8;
      font-weight: bold; }
    .questionnaireBlock03 .heading h3 {
      font-size: 1.733rem;
      line-height: 1.36;
      font-weight: bold;
      margin-bottom: 10px; }
    .questionnaireBlock03 .heading p:last-child {
      font-size: 0.886rem;
      line-height: 1; }
  .questionnaireBlock03 .list {
    width: 918px;
    margin: 0 auto; }
    .questionnaireBlock03 .list > li {
      width: 424px;
      box-sizing: border-box;
      float: left;
      border: solid 4px #e4edf2;
      border-radius: 20px;
      padding: 32px 7px;
      margin-top: 40px; }
      .questionnaireBlock03 .list > li:nth-child(-n+2) {
        margin-top: 0; }
      .questionnaireBlock03 .list > li:nth-child(2n) {
        float: right; }
      .questionnaireBlock03 .list > li:nth-child(2n+1) {
        clear: both; }
      .questionnaireBlock03 .list > li .number {
        text-align: center;
        width: 70px;
        background: #fff; }
      .questionnaireBlock03 .list > li .title {
        font-size: 1.333rem;
        line-height: 1.34;
        font-weight: bold;
        text-align: center; }
      .questionnaireBlock03 .list > li .balloon {
        margin: 0 20px;
        background: #e4edf2;
        font-size: 1.2rem;
        line-height: 1.56;
        padding: 16px 20px 14px;
        border-radius: 7px;
        position: relative; }
        .questionnaireBlock03 .list > li .balloon::before {
          content: "";
          display: block;
          width: 24px;
          height: 25px;
          background: url(../img/questionnaire/questionnaire_contents_bg02.png) no-repeat 0 0;
          background-size: 100% auto;
          position: absolute;
          top: -24px;
          left: 34px; }
      .questionnaireBlock03 .list > li .question01 .number {
        margin: -45px auto 18px; }
        .questionnaireBlock03 .list > li .question01 .number img {
          width: 51px; }
      .questionnaireBlock03 .list > li .question01 .title {
        margin-bottom: 58px; }
      .questionnaireBlock03 .list > li .question01 .graph {
        width: 264px;
        margin: 0 auto 30px;
        position: relative; }
        .questionnaireBlock03 .list > li .question01 .graph .text {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          width: 175px;
          height: 175px;
          box-sizing: border-box;
          padding-top: 45px;
          background: url(../img/questionnaire/questionnaire_contents_ico03.png) no-repeat center center;
          background-size: 104px auto;
          text-align: center;
          font-weight: bold; }
          .questionnaireBlock03 .list > li .question01 .graph .text p:first-child {
            font-size: 1.489rem;
            line-height: 1;
            margin-bottom: 14px; }
          .questionnaireBlock03 .list > li .question01 .graph .text p:last-child {
            font-size: 3.636rem;
            line-height: 1; }
      .questionnaireBlock03 .list > li .question02 .number {
        margin: -45px auto 18px; }
        .questionnaireBlock03 .list > li .question02 .number img {
          width: 51px; }
      .questionnaireBlock03 .list > li .question02 .title {
        margin-bottom: 32px; }
      .questionnaireBlock03 .list > li .question02 .graph {
        width: 264px;
        margin: 0 auto 30px;
        position: relative; }
        .questionnaireBlock03 .list > li .question02 .graph .text {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          width: 175px;
          height: 175px;
          box-sizing: border-box;
          padding-top: 45px;
          background: url(../img/questionnaire/questionnaire_contents_ico03.png) no-repeat center center;
          background-size: 104px auto;
          text-align: center;
          font-weight: bold; }
          .questionnaireBlock03 .list > li .question02 .graph .text p:first-child {
            font-size: 1.489rem;
            line-height: 1;
            margin-bottom: 14px; }
          .questionnaireBlock03 .list > li .question02 .graph .text p:last-child {
            font-size: 3.636rem;
            line-height: 1; }
      .questionnaireBlock03 .list > li .question03 .number {
        margin: -45px auto 18px; }
        .questionnaireBlock03 .list > li .question03 .number img {
          width: 51px; }
      .questionnaireBlock03 .list > li .question03 .title {
        margin-bottom: 45px; }
      .questionnaireBlock03 .list > li .question03 .text01 {
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0 20px 20px; }
      .questionnaireBlock03 .list > li .question03 .graph01 {
        margin: 0 20px 38px;
        position: relative; }
        .questionnaireBlock03 .list > li .question03 .graph01 .yes {
          position: absolute;
          width: 270px;
          height: 90px;
          box-sizing: border-box;
          padding-top: 10px;
          top: 0;
          left: 0;
          font-weight: bold;
          text-align: center; }
          .questionnaireBlock03 .list > li .question03 .graph01 .yes p:first-child {
            font-size: 1.489rem;
            line-height: 1;
            margin-bottom: 3px; }
          .questionnaireBlock03 .list > li .question03 .graph01 .yes p:last-child {
            font-size: 3.636rem;
            line-height: 1; }
        .questionnaireBlock03 .list > li .question03 .graph01 .no {
          position: absolute;
          width: 90px;
          height: 90px;
          box-sizing: border-box;
          padding-top: 22px;
          top: 0;
          right: 0;
          font-weight: bold;
          text-align: center; }
          .questionnaireBlock03 .list > li .question03 .graph01 .no p:first-child {
            font-size: 1.489rem;
            line-height: 1;
            margin-bottom: 3px; }
          .questionnaireBlock03 .list > li .question03 .graph01 .no p:last-child {
            font-size: 1.717rem;
            line-height: 1; }
      .questionnaireBlock03 .list > li .question03 .text02 {
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0 20px 20px; }
      .questionnaireBlock03 .list > li .question03 .graph02 {
        margin: 0 20px 55px;
        position: relative; }
        .questionnaireBlock03 .list > li .question03 .graph02 .yes {
          position: absolute;
          width: 220px;
          height: 90px;
          box-sizing: border-box;
          padding-top: 10px;
          top: 0;
          left: 0;
          font-weight: bold;
          text-align: center; }
          .questionnaireBlock03 .list > li .question03 .graph02 .yes p:first-child {
            font-size: 1.489rem;
            line-height: 1;
            margin-bottom: 3px; }
          .questionnaireBlock03 .list > li .question03 .graph02 .yes p:last-child {
            font-size: 3.636rem;
            line-height: 1; }
        .questionnaireBlock03 .list > li .question03 .graph02 .no {
          position: absolute;
          width: 140px;
          height: 90px;
          box-sizing: border-box;
          padding-top: 22px;
          top: 0;
          right: 0;
          font-weight: bold;
          text-align: center; }
          .questionnaireBlock03 .list > li .question03 .graph02 .no p:first-child {
            font-size: 1.489rem;
            line-height: 1;
            margin-bottom: 3px; }
          .questionnaireBlock03 .list > li .question03 .graph02 .no p:last-child {
            font-size: 1.717rem;
            line-height: 1; }
      .questionnaireBlock03 .list > li .question04 .number {
        margin: -45px auto 18px; }
        .questionnaireBlock03 .list > li .question04 .number img {
          width: 51px; }
      .questionnaireBlock03 .list > li .question04 .title {
        margin-bottom: 72px; }
      .questionnaireBlock03 .list > li .question04 .graph01 {
        margin: 0 20px 27px;
        position: relative; }
        .questionnaireBlock03 .list > li .question04 .graph01 .text {
          position: absolute;
          width: 362px;
          height: 92px;
          box-sizing: border-box;
          padding: 22px 0 0 16px;
          top: 0;
          left: 0;
          font-weight: bold; }
          .questionnaireBlock03 .list > li .question04 .graph01 .text p {
            font-size: 1.489rem;
            line-height: 1;
            margin-bottom: 3px;
            vertical-align: middle; }
            .questionnaireBlock03 .list > li .question04 .graph01 .text p span {
              margin-left: 12px;
              font-size: 3.636rem;
              vertical-align: middle; }
      .questionnaireBlock03 .list > li .question04 .graph02 {
        margin: 0 20px 80px;
        position: relative; }
        .questionnaireBlock03 .list > li .question04 .graph02 .text {
          position: absolute;
          width: 362px;
          height: 92px;
          box-sizing: border-box;
          padding: 31px 0 0 16px;
          top: 0;
          left: 0;
          font-weight: bold; }
          .questionnaireBlock03 .list > li .question04 .graph02 .text p {
            font-size: 1.489rem;
            line-height: 1;
            margin-bottom: 3px;
            vertical-align: middle; }
            .questionnaireBlock03 .list > li .question04 .graph02 .text p span {
              margin-left: 12px;
              font-size: 2.545rem;
              vertical-align: middle; }
      .questionnaireBlock03 .list > li .question05 .number {
        margin: -45px auto 18px; }
        .questionnaireBlock03 .list > li .question05 .number img {
          width: 51px; }
      .questionnaireBlock03 .list > li .question05 .title {
        margin-bottom: 40px; }
      .questionnaireBlock03 .list > li .question05 .graph01 {
        margin: 0 20px 26px;
        position: relative; }
        .questionnaireBlock03 .list > li .question05 .graph01 .text {
          position: absolute;
          width: 362px;
          height: 92px;
          box-sizing: border-box;
          padding: 22px 0 0 16px;
          top: 0;
          left: 0;
          font-weight: bold; }
          .questionnaireBlock03 .list > li .question05 .graph01 .text p {
            font-size: 1.489rem;
            line-height: 1;
            margin-bottom: 3px;
            vertical-align: middle; }
            .questionnaireBlock03 .list > li .question05 .graph01 .text p span {
              margin-left: 12px;
              font-size: 3.636rem;
              vertical-align: middle; }
      .questionnaireBlock03 .list > li .question05 .graph02 {
        margin: 0 20px 44px;
        position: relative; }
        .questionnaireBlock03 .list > li .question05 .graph02 .text {
          position: absolute;
          width: 362px;
          height: 92px;
          box-sizing: border-box;
          padding: 31px 0 0 16px;
          top: 0;
          left: 0;
          font-weight: bold; }
          .questionnaireBlock03 .list > li .question05 .graph02 .text p {
            font-size: 1.489rem;
            line-height: 1;
            margin-bottom: 3px;
            vertical-align: middle; }
            .questionnaireBlock03 .list > li .question05 .graph02 .text p span {
              margin-left: 12px;
              font-size: 2.545rem;
              vertical-align: middle; }
      .questionnaireBlock03 .list > li .question06 .number {
        margin: -45px auto 18px; }
        .questionnaireBlock03 .list > li .question06 .number img {
          width: 51px; }
      .questionnaireBlock03 .list > li .question06 .title {
        margin-bottom: 41px; }
      .questionnaireBlock03 .list > li .question06 .graph01 {
        margin: 0 20px 23px;
        position: relative; }
        .questionnaireBlock03 .list > li .question06 .graph01 .text {
          position: absolute;
          width: 362px;
          height: 52px;
          box-sizing: border-box;
          padding: 13px 0 0 17px;
          top: 0;
          left: 0;
          font-weight: bold;
          background: url(../img/questionnaire/questionnaire_contents_ico01.png) no-repeat 9px 8px;
          background-size: 46px auto; }
          .questionnaireBlock03 .list > li .question06 .graph01 .text p {
            font-size: 1.335rem;
            line-height: 1;
            vertical-align: middle; }
            .questionnaireBlock03 .list > li .question06 .graph01 .text p .rank {
              margin-right: 19px;
              font-size: 1.187rem; }
            .questionnaireBlock03 .list > li .question06 .graph01 .text p .percentage {
              margin-left: 10px;
              font-size: 1.933rem;
              vertical-align: middle; }
      .questionnaireBlock03 .list > li .question06 .graph02 {
        margin: 0 20px 23px;
        position: relative; }
        .questionnaireBlock03 .list > li .question06 .graph02 .text {
          position: absolute;
          width: 362px;
          height: 52px;
          box-sizing: border-box;
          padding: 13px 0 0 17px;
          top: 0;
          left: 0;
          font-weight: bold;
          background: url(../img/questionnaire/questionnaire_contents_ico02.png) no-repeat 9px 8px;
          background-size: 46px auto; }
          .questionnaireBlock03 .list > li .question06 .graph02 .text p {
            font-size: 1.335rem;
            line-height: 1;
            vertical-align: middle; }
            .questionnaireBlock03 .list > li .question06 .graph02 .text p .rank {
              margin-right: 19px;
              font-size: 1.187rem; }
            .questionnaireBlock03 .list > li .question06 .graph02 .text p .percentage {
              margin-left: 10px;
              font-size: 1.933rem;
              vertical-align: middle; }
      .questionnaireBlock03 .list > li .question06 .graph03 {
        margin: 0 20px 53px;
        position: relative; }
        .questionnaireBlock03 .list > li .question06 .graph03 .text {
          position: absolute;
          width: 362px;
          height: 52px;
          box-sizing: border-box;
          padding: 13px 0 0 17px;
          top: 0;
          left: 0;
          font-weight: bold; }
          .questionnaireBlock03 .list > li .question06 .graph03 .text p {
            font-size: 1.335rem;
            line-height: 1;
            vertical-align: middle; }
            .questionnaireBlock03 .list > li .question06 .graph03 .text p .rank {
              margin-right: 10px;
              font-size: 1.187rem; }
            .questionnaireBlock03 .list > li .question06 .graph03 .text p .percentage {
              margin-left: 10px;
              font-size: 1.933rem;
              vertical-align: middle; }
      .questionnaireBlock03 .list > li .question07 {
        min-height: auto !important; }
        .questionnaireBlock03 .list > li .question07 .number {
          margin: -45px auto 18px; }
          .questionnaireBlock03 .list > li .question07 .number img {
            width: 51px; }
        .questionnaireBlock03 .list > li .question07 .title {
          margin-bottom: 42px; }
        .questionnaireBlock03 .list > li .question07 .graph01 {
          margin: 0 20px 23px;
          position: relative; }
          .questionnaireBlock03 .list > li .question07 .graph01 .text {
            position: absolute;
            width: 362px;
            height: 52px;
            box-sizing: border-box;
            padding: 13px 0 0 17px;
            top: 0;
            left: 0;
            font-weight: bold;
            background: url(../img/questionnaire/questionnaire_contents_ico01.png) no-repeat 9px 8px;
            background-size: 46px auto; }
            .questionnaireBlock03 .list > li .question07 .graph01 .text p {
              font-size: 1.335rem;
              line-height: 1;
              vertical-align: middle; }
              .questionnaireBlock03 .list > li .question07 .graph01 .text p .rank {
                margin-right: 19px;
                font-size: 1.187rem; }
              .questionnaireBlock03 .list > li .question07 .graph01 .text p .percentage {
                margin-left: 10px;
                font-size: 1.933rem;
                vertical-align: middle; }
        .questionnaireBlock03 .list > li .question07 .graph02 {
          margin: 0 20px 23px;
          position: relative; }
          .questionnaireBlock03 .list > li .question07 .graph02 .text {
            position: absolute;
            width: 362px;
            height: 52px;
            box-sizing: border-box;
            padding: 13px 0 0 17px;
            top: 0;
            left: 0;
            font-weight: bold;
            background: url(../img/questionnaire/questionnaire_contents_ico02.png) no-repeat 9px 8px;
            background-size: 46px auto; }
            .questionnaireBlock03 .list > li .question07 .graph02 .text p {
              font-size: 1.335rem;
              line-height: 1;
              vertical-align: middle; }
              .questionnaireBlock03 .list > li .question07 .graph02 .text p .rank {
                margin-right: 19px;
                font-size: 1.187rem; }
              .questionnaireBlock03 .list > li .question07 .graph02 .text p .percentage {
                margin-left: 10px;
                font-size: 1.933rem;
                vertical-align: middle; }
        .questionnaireBlock03 .list > li .question07 .graph03 {
          margin: 0 20px 23px;
          position: relative; }
          .questionnaireBlock03 .list > li .question07 .graph03 .text {
            position: absolute;
            width: 362px;
            height: 52px;
            box-sizing: border-box;
            padding: 13px 0 0 17px;
            top: 0;
            left: 0;
            font-weight: bold; }
            .questionnaireBlock03 .list > li .question07 .graph03 .text p {
              font-size: 1.335rem;
              line-height: 1;
              vertical-align: middle; }
              .questionnaireBlock03 .list > li .question07 .graph03 .text p .rank {
                margin-right: 10px;
                font-size: 1.187rem; }
              .questionnaireBlock03 .list > li .question07 .graph03 .text p .percentage {
                margin-left: 10px;
                font-size: 1.933rem;
                vertical-align: middle; }
        .questionnaireBlock03 .list > li .question07 .graph04 {
          margin: 0 20px 53px;
          position: relative; }
          .questionnaireBlock03 .list > li .question07 .graph04 .text {
            position: absolute;
            width: 362px;
            height: 52px;
            box-sizing: border-box;
            padding: 5px 0 0 17px;
            top: 0;
            left: 0;
            font-weight: bold;
            font-size: 0; }
            .questionnaireBlock03 .list > li .question07 .graph04 .text p:nth-child(1) {
              display: inline;
              margin-right: 10px;
              font-size: 1.187rem;
              vertical-align: middle; }
            .questionnaireBlock03 .list > li .question07 .graph04 .text p:nth-child(2) {
              display: inline-block;
              font-size: 1.057rem;
              line-height: 1.2;
              vertical-align: middle; }
            .questionnaireBlock03 .list > li .question07 .graph04 .text p:nth-child(3) {
              display: inline;
              margin-left: 10px;
              font-size: 1.933rem;
              vertical-align: middle; }
      .questionnaireBlock03 .list > li .question08 {
        min-height: auto !important; }
        .questionnaireBlock03 .list > li .question08 .number {
          margin: -45px auto 18px; }
          .questionnaireBlock03 .list > li .question08 .number img {
            width: 51px; }
        .questionnaireBlock03 .list > li .question08 .title {
          margin-bottom: 40px; }
        .questionnaireBlock03 .list > li .question08 .graph {
          width: 264px;
          margin: 0 auto 20px;
          position: relative; }
          .questionnaireBlock03 .list > li .question08 .graph .text {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 175px;
            height: 175px;
            box-sizing: border-box;
            padding-top: 45px;
            background: url(../img/questionnaire/questionnaire_contents_ico03.png) no-repeat center center;
            background-size: 104px auto;
            text-align: center;
            font-weight: bold; }
            .questionnaireBlock03 .list > li .question08 .graph .text p:first-child {
              font-size: 1.489rem;
              line-height: 1;
              margin-bottom: 14px; }
            .questionnaireBlock03 .list > li .question08 .graph .text p:last-child {
              font-size: 3.636rem;
              line-height: 1; }
        .questionnaireBlock03 .list > li .question08 .rank {
          margin: 0 20px 45px; }
          .questionnaireBlock03 .list > li .question08 .rank li {
            padding: 12px 0 10px 10px;
            font-weight: bold;
            font-size: 0;
            border-bottom: dashed 1px #ccc; }
            .questionnaireBlock03 .list > li .question08 .rank li p:nth-child(1) {
              display: inline;
              margin-right: 20px;
              font-size: 1.187rem;
              vertical-align: middle; }
            .questionnaireBlock03 .list > li .question08 .rank li p:nth-child(2) {
              display: inline-block;
              width: 220px;
              font-size: 1.187rem;
              line-height: 1.06;
              vertical-align: middle; }
            .questionnaireBlock03 .list > li .question08 .rank li p:nth-child(3) {
              display: inline;
              margin-left: 10px;
              font-size: 1.867rem;
              vertical-align: middle; }
            .questionnaireBlock03 .list > li .question08 .rank li.rank01 {
              background: url(../img/questionnaire/questionnaire_contents_ico01.png) no-repeat left 12px;
              background-size: 46px auto; }
              .questionnaireBlock03 .list > li .question08 .rank li.rank01 p:nth-child(2), .questionnaireBlock03 .list > li .question08 .rank li.rank01 p:nth-child(3) {
                color: #7eabda; }
            .questionnaireBlock03 .list > li .question08 .rank li.rank02 {
              background: url(../img/questionnaire/questionnaire_contents_ico02.png) no-repeat left 12px;
              background-size: 46px auto; }
        .questionnaireBlock03 .list > li .question08 .voice {
          padding: 8px 0;
          color: #7eabda;
          font-size: 1.067rem;
          line-height: 1.67; }
          .questionnaireBlock03 .list > li .question08 .voice p {
            margin-bottom: 4px;
            text-align: center;
            font-weight: bold; }
          .questionnaireBlock03 .list > li .question08 .voice ul li {
            text-indent: -1em;
            padding-left: 1em; }
  @media screen and (max-width: 768px) {
    .questionnaireBlock03 {
      min-width: auto;
      margin-bottom: 39px; }
      .questionnaireBlock03 > .inner {
        width: 93.75%; }
      .questionnaireBlock03 .heading {
        width: 238px;
        margin: 0 auto 44px;
        background: url(../img/questionnaire/questionnaire_contents_bg01.png) no-repeat left 0, url(../img/questionnaire/questionnaire_contents_bg01.png) no-repeat right 0;
        background-size: 47px auto;
        min-height: 73px;
        padding-top: 5px; }
        .questionnaireBlock03 .heading p:first-child {
          width: 64px;
          margin: 0 auto 7px;
          padding: 4px 2px 3px;
          font-size: 0.75rem; }
        .questionnaireBlock03 .heading h3 {
          font-size: 1.083rem;
          line-height: 1.36;
          margin-bottom: 6px; }
        .questionnaireBlock03 .heading p:last-child {
          font-size: 0.554rem; }
      .questionnaireBlock03 .list {
        width: auto;
        margin: 0 7px; }
        .questionnaireBlock03 .list > li {
          width: auto;
          float: none;
          border: solid 2px #e4edf2;
          padding: 30px 20px 21px;
          margin-top: 36px;
          border-radius: 8px; }
          .questionnaireBlock03 .list > li:nth-child(-n+2) {
            margin-top: 36px; }
          .questionnaireBlock03 .list > li:nth-child(2n) {
            float: none; }
          .questionnaireBlock03 .list > li:first-child {
            margin-top: 0; }
          .questionnaireBlock03 .list > li .number {
            width: 47px; }
          .questionnaireBlock03 .list > li .title {
            font-size: 1rem;
            line-height: 1.5; }
          .questionnaireBlock03 .list > li .balloon {
            margin: 0 auto;
            font-size: 0.917rem;
            line-height: 1.64;
            width: 245px;
            box-sizing: border-box;
            padding: 13px 5px 10px;
            border-radius: 4px;
            text-align: center; }
            .questionnaireBlock03 .list > li .balloon::before {
              width: 16px;
              height: 16px;
              top: -15px;
              left: 24px; }
          .questionnaireBlock03 .list > li .question01 {
            min-height: auto !important; }
            .questionnaireBlock03 .list > li .question01 .number {
              margin: -40px auto 14px; }
              .questionnaireBlock03 .list > li .question01 .number img {
                width: 32px; }
            .questionnaireBlock03 .list > li .question01 .title {
              margin-bottom: 22px; }
            .questionnaireBlock03 .list > li .question01 .graph {
              width: 176px;
              margin: 0 auto 22px; }
              .questionnaireBlock03 .list > li .question01 .graph .text {
                width: 117px;
                height: 117px;
                padding-top: 32px;
                background: url(../img/questionnaire/questionnaire_contents_ico03.png) no-repeat center center;
                background-size: 68px auto; }
                .questionnaireBlock03 .list > li .question01 .graph .text p:first-child {
                  font-size: 1.254rem;
                  margin-bottom: 8px; }
                .questionnaireBlock03 .list > li .question01 .graph .text p:last-child {
                  font-size: 3.063rem; }
          .questionnaireBlock03 .list > li .question02 {
            min-height: auto !important; }
            .questionnaireBlock03 .list > li .question02 .number {
              margin: -40px auto 14px; }
              .questionnaireBlock03 .list > li .question02 .number img {
                width: 32px; }
            .questionnaireBlock03 .list > li .question02 .title {
              margin-bottom: 22px; }
            .questionnaireBlock03 .list > li .question02 .graph {
              width: 176px;
              margin: 0 auto 22px; }
              .questionnaireBlock03 .list > li .question02 .graph .text {
                width: 117px;
                height: 117px;
                padding-top: 32px;
                background: url(../img/questionnaire/questionnaire_contents_ico03.png) no-repeat center center;
                background-size: 68px auto; }
                .questionnaireBlock03 .list > li .question02 .graph .text p:first-child {
                  font-size: 1.254rem;
                  margin-bottom: 8px; }
                .questionnaireBlock03 .list > li .question02 .graph .text p:last-child {
                  font-size: 3.063rem; }
          .questionnaireBlock03 .list > li .question03 {
            min-height: auto !important; }
            .questionnaireBlock03 .list > li .question03 .number {
              margin: -40px auto 14px; }
              .questionnaireBlock03 .list > li .question03 .number img {
                width: 32px; }
            .questionnaireBlock03 .list > li .question03 .title {
              margin-bottom: 29px; }
            .questionnaireBlock03 .list > li .question03 .text01 {
              font-size: 1rem;
              margin: 0 0 14px; }
            .questionnaireBlock03 .list > li .question03 .graph01 {
              width: 243px;
              margin: 0 auto 26px; }
              .questionnaireBlock03 .list > li .question03 .graph01 .yes {
                width: 182px;
                height: 62px;
                padding-top: 7px;
                font-weight: bold;
                text-align: center; }
                .questionnaireBlock03 .list > li .question03 .graph01 .yes p:first-child {
                  font-size: 1.254rem;
                  margin-bottom: 2px; }
                .questionnaireBlock03 .list > li .question03 .graph01 .yes p:last-child {
                  font-size: 3.063rem; }
              .questionnaireBlock03 .list > li .question03 .graph01 .no {
                width: 61px;
                height: 62px;
                box-sizing: border-box;
                padding-top: 14px; }
                .questionnaireBlock03 .list > li .question03 .graph01 .no p:first-child {
                  font-size: 1.254rem; }
                .questionnaireBlock03 .list > li .question03 .graph01 .no p:last-child {
                  font-size: 1.446rem; }
            .questionnaireBlock03 .list > li .question03 .text02 {
              font-size: 1rem;
              margin: 0 0 14px; }
            .questionnaireBlock03 .list > li .question03 .graph02 {
              width: 243px;
              margin: 0 auto 38px; }
              .questionnaireBlock03 .list > li .question03 .graph02 .yes {
                width: 149px;
                height: 62px;
                padding-top: 7px;
                font-weight: bold;
                text-align: center; }
                .questionnaireBlock03 .list > li .question03 .graph02 .yes p:first-child {
                  font-size: 1.254rem;
                  margin-bottom: 2px; }
                .questionnaireBlock03 .list > li .question03 .graph02 .yes p:last-child {
                  font-size: 3.063rem; }
              .questionnaireBlock03 .list > li .question03 .graph02 .no {
                width: 94px;
                height: 62px;
                box-sizing: border-box;
                padding-top: 14px; }
                .questionnaireBlock03 .list > li .question03 .graph02 .no p:first-child {
                  font-size: 1.254rem; }
                .questionnaireBlock03 .list > li .question03 .graph02 .no p:last-child {
                  font-size: 1.446rem; }
          .questionnaireBlock03 .list > li .question04 {
            min-height: auto !important; }
            .questionnaireBlock03 .list > li .question04 .number {
              margin: -40px auto 14px; }
              .questionnaireBlock03 .list > li .question04 .number img {
                width: 32px; }
            .questionnaireBlock03 .list > li .question04 .title {
              margin: 0 -5px 29px; }
            .questionnaireBlock03 .list > li .question04 .graph01 {
              width: 243px;
              margin: 0 auto 18px; }
              .questionnaireBlock03 .list > li .question04 .graph01 .text {
                position: absolute;
                width: 243px;
                height: 62px;
                padding: 16px 0 0 10px; }
                .questionnaireBlock03 .list > li .question04 .graph01 .text p {
                  font-size: 1.254rem; }
                  .questionnaireBlock03 .list > li .question04 .graph01 .text p span {
                    margin-left: 10px;
                    font-size: 3.063rem; }
            .questionnaireBlock03 .list > li .question04 .graph02 {
              width: 243px;
              margin: 0 auto 33px; }
              .questionnaireBlock03 .list > li .question04 .graph02 .text {
                position: absolute;
                width: 243px;
                height: 62px;
                padding: 20px 0 0 10px; }
                .questionnaireBlock03 .list > li .question04 .graph02 .text p {
                  font-size: 1.254rem; }
                  .questionnaireBlock03 .list > li .question04 .graph02 .text p span {
                    margin-left: 10px;
                    font-size: 2.144rem; }
          .questionnaireBlock03 .list > li .question05 {
            min-height: auto !important; }
            .questionnaireBlock03 .list > li .question05 .number {
              margin: -40px auto 14px; }
              .questionnaireBlock03 .list > li .question05 .number img {
                width: 32px; }
            .questionnaireBlock03 .list > li .question05 .title {
              margin-bottom: 29px; }
            .questionnaireBlock03 .list > li .question05 .graph01 {
              width: 243px;
              margin: 0 auto 18px; }
              .questionnaireBlock03 .list > li .question05 .graph01 .text {
                position: absolute;
                width: 243px;
                height: 62px;
                padding: 16px 0 0 10px; }
                .questionnaireBlock03 .list > li .question05 .graph01 .text p {
                  font-size: 1.254rem; }
                  .questionnaireBlock03 .list > li .question05 .graph01 .text p span {
                    margin-left: 10px;
                    font-size: 3.063rem; }
            .questionnaireBlock03 .list > li .question05 .graph02 {
              width: 243px;
              margin: 0 auto 27px; }
              .questionnaireBlock03 .list > li .question05 .graph02 .text {
                position: absolute;
                width: 243px;
                height: 62px;
                padding: 20px 0 0 10px; }
                .questionnaireBlock03 .list > li .question05 .graph02 .text p {
                  font-size: 1.254rem; }
                  .questionnaireBlock03 .list > li .question05 .graph02 .text p span {
                    margin-left: 10px;
                    font-size: 2.144rem; }
          .questionnaireBlock03 .list > li .question06 {
            min-height: auto !important; }
            .questionnaireBlock03 .list > li .question06 .number {
              margin: -40px auto 14px; }
              .questionnaireBlock03 .list > li .question06 .number img {
                width: 32px; }
            .questionnaireBlock03 .list > li .question06 .title {
              margin-bottom: 20px; }
            .questionnaireBlock03 .list > li .question06 .graph01 {
              width: 243px;
              margin: 0 auto 16px; }
              .questionnaireBlock03 .list > li .question06 .graph01 .text {
                width: 243px;
                height: 35px;
                padding: 10px 0 0 12px;
                background: url(../img/questionnaire/questionnaire_contents_ico01.png) no-repeat 5px 4px;
                background-size: 32px auto; }
                .questionnaireBlock03 .list > li .question06 .graph01 .text p {
                  font-size: 1.125rem; }
                  .questionnaireBlock03 .list > li .question06 .graph01 .text p .rank {
                    margin-right: 11px;
                    font-size: 0.917rem; }
                  .questionnaireBlock03 .list > li .question06 .graph01 .text p .percentage {
                    margin-left: 7px;
                    font-size: 1.5rem; }
            .questionnaireBlock03 .list > li .question06 .graph02 {
              width: 243px;
              margin: 0 auto 16px; }
              .questionnaireBlock03 .list > li .question06 .graph02 .text {
                width: 243px;
                height: 35px;
                padding: 10px 0 0 12px;
                background: url(../img/questionnaire/questionnaire_contents_ico02.png) no-repeat 5px 4px;
                background-size: 32px auto; }
                .questionnaireBlock03 .list > li .question06 .graph02 .text p {
                  font-size: 1.125rem; }
                  .questionnaireBlock03 .list > li .question06 .graph02 .text p .rank {
                    margin-right: 11px;
                    font-size: 0.917rem; }
                  .questionnaireBlock03 .list > li .question06 .graph02 .text p .percentage {
                    margin-left: 7px;
                    font-size: 1.5rem; }
            .questionnaireBlock03 .list > li .question06 .graph03 {
              width: 243px;
              margin: 0 auto 35px; }
              .questionnaireBlock03 .list > li .question06 .graph03 .text {
                width: 243px;
                height: 35px;
                padding: 10px 0 0 12px; }
                .questionnaireBlock03 .list > li .question06 .graph03 .text p {
                  font-size: 1.125rem; }
                  .questionnaireBlock03 .list > li .question06 .graph03 .text p .rank {
                    margin-right: 9px;
                    font-size: 0.917rem; }
                  .questionnaireBlock03 .list > li .question06 .graph03 .text p .percentage {
                    margin-left: 5px;
                    font-size: 1.5rem; }
          .questionnaireBlock03 .list > li .question07 {
            min-height: auto !important; }
            .questionnaireBlock03 .list > li .question07 .number {
              margin: -40px auto 14px; }
              .questionnaireBlock03 .list > li .question07 .number img {
                width: 32px; }
            .questionnaireBlock03 .list > li .question07 .title {
              margin-bottom: 30px; }
            .questionnaireBlock03 .list > li .question07 .graph01 {
              width: 243px;
              margin: 0 auto 16px; }
              .questionnaireBlock03 .list > li .question07 .graph01 .text {
                width: 243px;
                height: 35px;
                padding: 10px 0 0 12px;
                background: url(../img/questionnaire/questionnaire_contents_ico01.png) no-repeat 5px 4px;
                background-size: 32px auto; }
                .questionnaireBlock03 .list > li .question07 .graph01 .text p:first-child {
                  font-size: 1.125rem; }
                  .questionnaireBlock03 .list > li .question07 .graph01 .text p:first-child .rank {
                    margin-right: 11px;
                    font-size: 0.917rem; }
                  .questionnaireBlock03 .list > li .question07 .graph01 .text p:first-child .percentage {
                    margin-left: 2px;
                    font-size: 1.5rem; }
            .questionnaireBlock03 .list > li .question07 .graph02 {
              width: 243px;
              margin: 0 auto 16px; }
              .questionnaireBlock03 .list > li .question07 .graph02 .text {
                width: 243px;
                height: 35px;
                padding: 10px 0 0 12px;
                background: url(../img/questionnaire/questionnaire_contents_ico02.png) no-repeat 5px 4px;
                background-size: 32px auto; }
                .questionnaireBlock03 .list > li .question07 .graph02 .text p:first-child {
                  font-size: 1.125rem; }
                  .questionnaireBlock03 .list > li .question07 .graph02 .text p:first-child .rank {
                    margin-right: 11px;
                    font-size: 0.833rem; }
                  .questionnaireBlock03 .list > li .question07 .graph02 .text p:first-child .percentage {
                    margin-left: 10px;
                    font-size: 1.5rem; }
            .questionnaireBlock03 .list > li .question07 .graph03 {
              width: 243px;
              margin: 0 auto 16px; }
              .questionnaireBlock03 .list > li .question07 .graph03 .text {
                width: 243px;
                height: 35px;
                padding: 10px 0 0 12px; }
                .questionnaireBlock03 .list > li .question07 .graph03 .text p:first-child {
                  font-size: 1.125rem; }
                  .questionnaireBlock03 .list > li .question07 .graph03 .text p:first-child .rank {
                    margin-right: 9px;
                    font-size: 0.833rem; }
                  .questionnaireBlock03 .list > li .question07 .graph03 .text p:first-child .percentage {
                    margin-left: 5px;
                    font-size: 1.5rem; }
            .questionnaireBlock03 .list > li .question07 .graph04 {
              width: 243px;
              margin: 0 auto 35px; }
              .questionnaireBlock03 .list > li .question07 .graph04 .text {
                width: 243px;
                height: 35px;
                padding: 5px 0 0 12px; }
                .questionnaireBlock03 .list > li .question07 .graph04 .text p:nth-child(1) {
                  margin-right: 9px;
                  font-size: 1rem; }
                .questionnaireBlock03 .list > li .question07 .graph04 .text p:nth-child(2) {
                  font-size: 0.833rem;
                  line-height: 1.2; }
                .questionnaireBlock03 .list > li .question07 .graph04 .text p:nth-child(3) {
                  margin-left: 14px;
                  font-size: 1.5rem; }
          .questionnaireBlock03 .list > li .question08 {
            min-height: auto !important; }
            .questionnaireBlock03 .list > li .question08 .number {
              margin: -40px auto 14px; }
              .questionnaireBlock03 .list > li .question08 .number img {
                width: 32px; }
            .questionnaireBlock03 .list > li .question08 .title {
              margin-bottom: 28px; }
            .questionnaireBlock03 .list > li .question08 .graph {
              width: 176px;
              margin: 0 auto 10px; }
              .questionnaireBlock03 .list > li .question08 .graph .text {
                width: 117px;
                height: 117px;
                padding-top: 32px;
                background: url(../img/questionnaire/questionnaire_contents_ico03.png) no-repeat center center;
                background-size: 68px auto; }
                .questionnaireBlock03 .list > li .question08 .graph .text p:first-child {
                  font-size: 1.254rem;
                  margin-bottom: 8px; }
                .questionnaireBlock03 .list > li .question08 .graph .text p:last-child {
                  font-size: 3.063rem; }
            .questionnaireBlock03 .list > li .question08 .rank {
              margin: 0 0 30px; }
              .questionnaireBlock03 .list > li .question08 .rank li {
                padding: 8px 0 5px 5px; }
                .questionnaireBlock03 .list > li .question08 .rank li p:nth-child(1) {
                  margin-right: 12px;
                  font-size: 1rem; }
                .questionnaireBlock03 .list > li .question08 .rank li p:nth-child(2) {
                  width: 145px;
                  font-size: 1rem;
                  line-height: 1.25; }
                .questionnaireBlock03 .list > li .question08 .rank li p:nth-child(3) {
                  margin-left: 10px;
                  font-size: 1.667rem; }
                .questionnaireBlock03 .list > li .question08 .rank li.rank01 {
                  background: url(../img/questionnaire/questionnaire_contents_ico01.png) no-repeat left 10px;
                  background-size: 32px auto; }
                .questionnaireBlock03 .list > li .question08 .rank li.rank02 {
                  background: url(../img/questionnaire/questionnaire_contents_ico02.png) no-repeat left 10px;
                  background-size: 32px auto; }
            .questionnaireBlock03 .list > li .question08 .voice {
              padding: 8px 0;
              font-size: 0.833rem;
              line-height: 1.8;
              text-align: left; }
              .questionnaireBlock03 .list > li .question08 .voice p {
                margin-bottom: 2px; } }

/* questionnaireBlock04
	======================================== */
.questionnaireBlock04 {
  min-width: 984px;
  margin-bottom: 89px; }
  .questionnaireBlock04 > .inner {
    width: 984px;
    margin: 0 auto; }
  .questionnaireBlock04 .box {
    width: 785px;
    margin: 0 auto; }
    .questionnaireBlock04 .box > .inner {
      background: #faefe6;
      padding: 48px 67px 50px; }
    .questionnaireBlock04 .box .heading h3 {
      text-align: center;
      font-weight: bold;
      font-size: 1.567rem;
      margin-bottom: 28px; }
      .questionnaireBlock04 .box .heading h3 span {
        color: #c89e7b; }
    .questionnaireBlock04 .box .text01 {
      font-size: 1.2rem;
      line-height: 1.67;
      margin-bottom: 37px; }
    .questionnaireBlock04 .box .text02 {
      text-align: center;
      font-size: 1.2rem;
      line-height: 1.67;
      font-weight: bold; }
  .questionnaireBlock04 .bnr {
    min-height: 303px;
    box-sizing: border-box;
    background: url(../img/questionnaire/questionnaire_contents_img03.jpg) no-repeat 0 0;
    background-size: cover;
    padding: 70px 69px 30px 69px;
    text-align: right;
    font-weight: bold; }
    .questionnaireBlock04 .bnr .text03 {
      font-size: 2.197rem;
      line-height: 1;
      margin-bottom: 22px; }
      .questionnaireBlock04 .bnr .text03 span {
        display: block;
        margin-top: 15px;
        font-size: 2.727rem;
        line-height: 1; }
    .questionnaireBlock04 .bnr .btn {
      display: inline-block;
      vertical-align: top; }
      .questionnaireBlock04 .bnr .btn a {
        width: 269px;
        box-sizing: border-box;
        padding: 8px 14px 8px 42px;
        border-radius: 22px;
        display: block;
        border: solid 2px #000;
        font-size: 1.146rem;
        font-weight: bold;
        color: #000;
        background: url(../img/common/common_contents_arw02.png) no-repeat 19px 17px;
        background-size: 21px auto;
        transition-property: opacity;
        transition-duration: .2s; }
        .questionnaireBlock04 .bnr .btn a:hover {
          opacity: .6;
          text-decoration: none; }
  @media screen and (max-width: 768px) {
    .questionnaireBlock04 {
      min-width: auto;
      margin-bottom: 48px; }
      .questionnaireBlock04 > .inner {
        width: 93.75%; }
      .questionnaireBlock04 .box {
        width: auto;
        margin: 0 6px; }
        .questionnaireBlock04 .box > .inner {
          padding: 26px 30px 25px; }
        .questionnaireBlock04 .box .heading h3 {
          font-size: 0.98rem;
          margin-bottom: 14px; }
        .questionnaireBlock04 .box .text01 {
          font-size: 0.833rem;
          line-height: 1.7;
          margin-bottom: 22px; }
        .questionnaireBlock04 .box .text02 {
          font-size: 0.833rem;
          line-height: 1.6; }
      .questionnaireBlock04 .bnr {
        min-height: auto;
        padding: 52.879% 0 0 0;
        position: relative;
        background: url(../img/questionnaire/questionnaire_contents_img03_sp.jpg) no-repeat 0 0;
        background-size: cover; }
        .questionnaireBlock04 .bnr .inner {
          width: 100%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 3.5%; }
        .questionnaireBlock04 .bnr .text03 {
          font-size: 1.21rem;
          margin-bottom: 10px; }
          .questionnaireBlock04 .bnr .text03 span {
            margin-top: 6px;
            font-size: 1.502rem; }
        .questionnaireBlock04 .bnr .btn a {
          width: 125px;
          box-sizing: border-box;
          padding: 4px 6px 4px 15px;
          display: block;
          border: solid 1px #000;
          font-size: 0.631rem;
          background: url(../img/common/common_contents_arw02.png) no-repeat 7px 8px;
          background-size: 9px auto; } }
