body.salon a {
  color:#000000;
}

body.salon #wrapper {
  background: url(../img/bg.jpg) no-repeat 40% 7%;
  width: 100%;
}

body.salon h2 {
  width: 984px;
  margin: 0 auto;
  text-align: center;
}

body.salon .contentArea {
  width: 984px;
  margin: 0 auto;
}

body.salon .contentArea a img {
    border-style:none;
}

/*allitems*/
body.salon .contentArea .interviewArea01 .allitems img,
body.salon .recommendArea .allitems img {
	text-align:center;
	margin:0 auto 100px auto;
}

/*  interviewArea01 */
body.salon .contentArea .interviewArea01 .lead img {
  margin: 50px auto 90px;
  text-align: center;
}

body.salon .contentArea .interviewArea01 .box {
  overflow: hidden;
  margin-bottom: 170px;
}

body.salon .contentArea .interviewArea01 .box a {
	text-decoration: none;  
}

body.salon .contentArea .interviewArea01 .box a:hover {
  text-decoration: underline;
}

body.salon .contentArea .interviewArea01 .box .model01 {
  float: left;
}

body.salon .contentArea .interviewArea01 .box .model02 {
  float: right;
}
/*box01*/
body.salon .contentArea .interviewArea01 .box01 .model02 {
  margin:40px 83px 0 0;
}

body.salon .contentArea .interviewArea01 .box01 {
  position: relative;
}

body.salon .contentArea .interviewArea01 .box01 .item-txt01 {
	margin: 45px 0 0 600px;
}

body.salon .contentArea .interviewArea01 .box01 .item-txt01:after {
  content:"";
  display: inline-block;
  position:absolute;
  top: 70px;
  right: 64px;
  width:420px;
  height: 2px;
  background-color: #000000;
}

body.salon .contentArea .interviewArea01 .box01 .item-txt02 {
	margin: 890px 68px 0 142px;
}

body.salon .contentArea .interviewArea01 .box01 .item-txt02:after {
  content:"";
  display: inline-block;
  position:absolute;
  bottom: 98px;
  left: 114px;
  width:462px;
  height: 2px;
  background-color: #000000;
}

/*box02*/
body.salon .contentArea .interviewArea01 .box02 .model01 {
  margin-left:90px;
}

body.salon .contentArea .interviewArea01 .box02 {
  position: relative;
}

body.salon .contentArea .interviewArea01 .box02 .item-txt01 {
	margin: 588px 0 0 156px;
}

body.salon .contentArea .interviewArea01 .box02 .item-txt01:after {
  content:"";
  display: inline-block;
  position:absolute;
  bottom: 108px;
  left: 136px;
  width:347px;
  height: 2px;
  background-color: #000000;
}

/*box03*/
body.salon .contentArea .interviewArea01 .box03 {
	padding:0 22px;
}

body.salon .contentArea .interviewArea01 .box03 .model01_2 {
  margin:83px 0 81px 73px;
}

body.salon .contentArea .interviewArea01 .box03 .model02_2 {
  margin:78px 47px 45px 78px;
}

body.salon .contentArea .interviewArea01 .box03 {
	position:relative;
}

body.salon .contentArea .interviewArea01 .box03 .item-txt01 {
	margin: 1290px 0 6px;
	text-align:center;
}

body.salon .contentArea .interviewArea01 .box03 .item-txt01:after {
  content:"";
  display: inline-block;
  position:absolute;
  bottom: 0;
  left: 50%;
  width: 550px;
  height: 2px;
  background-color: #000000;
  margin:0 0 0 -275px;
}

/*box04*/
body.salon .contentArea .interviewArea01 .box04 {
  position:relative;
  margin-bottom: 100px;
}

body.salon .contentArea .interviewArea01 .box04 .model03 {
  position:relative;
}

body.salon .contentArea .interviewArea01 .box04 .model03 .model03_2 {
  position:absolute;
  top:72px;
  left:56px;
}

body.salon .contentArea .interviewArea01 .box04 .model01 {
  margin:73px 0 0 56px;
}

body.salon .contentArea .interviewArea01 .box04 .item-txt01 {
	margin: 430px 0 0 468px;
}

body.salon .contentArea .interviewArea01 .box04 .item-txt01:after {
  content:"";
  display: inline-block;
  position:absolute;
  bottom: 110px;
  right: 168px;
  width: 404px;
  height: 2px;
  background-color: #000000;
}

/*  interviewArea02 */
body.salon .contentArea .interviewArea02 {
}

body.salon .contentArea .interviewArea02 .interview_main {
}

body.salon .contentArea .interviewArea02 .interview_txt img {
  margin: 60px auto;
  text-align: center;
}

body.salon .contentArea .interviewArea02 .interview_sec {
  margin-bottom: 35px;
}

body.salon .contentArea .interviewArea02 .interview_sec h4 {
  font-size: 18px;
  color: #7589b2;
  font-weight: normal;
}

body.salon .contentArea .interviewArea02 .interview_sec p {
  font-size: 1.1rem;
  margin-bottom: 40px;
}

.profile {
  background: url(../img/profile.png) no-repeat left center;
  margin-top: 140px;
  margin-left: 0;
  border-bottom: 1px solid #999;
  text-indent: 100%;
  overflow: hidden;
  height: 46px;
}

.wrap {
  border-bottom: 1px solid #999;
}

.wrap .profile_box {
  margin-bottom: 5%;
  margin-top: 30px;
}

.wrap .profile_box p {
  font-size: 1.1rem;
  line-height: 1.4;
  margin-bottom: 3%;
}

.wrap .profile_box p a {
  color: #758ab3;
}


/*  recommend*/
body.salon .recommendArea .columnListArea {
    width: 984px;
    margin: 70px auto 0;
}

body.salon .recommendArea .columnListArea h3 {
  text-align: center;
  margin-bottom: 50px;
}

body.salon .recommendArea .columnListArea ul {
    overflow: hidden;
    margin-right: -12px;
    margin-bottom: 48px;
}

body.salon .recommendArea .columnListArea ul li {
    float: left;
    overflow: hidden;
    width: 320px;
    margin-right: 12px;
    margin-bottom: 78px;
    text-align: center;
}

body.salon .recommendArea .columnListArea ul li.column4 {
    float: left;
    margin-right: 8px;
    margin-bottom: 0px;
    text-align: center;
    width: 240px;
}

body.salon .recommendArea .columnListArea ul li p {
	margin: 20px auto 25px;
}

body.salon .recommendArea .columnListArea ul li.column4 .btnCart {
    display: none;
}

body.salon .recommendArea .columnListArea ul li.column4 .btnCart img {
    width: 220px;
}

body.salon .recommendArea .columnListArea ul li.column4 .btnDetail img {
    width: 220px;
}

body.salon .recommendArea .columnListArea ul li .rank {
    width: 100%;
    height: 70px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

body.salon .recommendArea .columnListArea ul li .pic {
    border: 1px solid #EEEFF2;
    margin-bottom: 5px;
}

body.salon .recommendArea .columnListArea ul li .pic img {
    width: 100%;
    height: auto;
}

body.salon .recommendArea .columnListArea ul li .text {
    color: #7589b2;
    font-size: 18px;
    margin: 20px 15px 25px;
}

body.salon .recommendArea .columnListArea ul li .text a {
    color: #7589b2;
}

body.salon .recommendArea .columnListArea ul li .name {
    font-size: 14px;
}

body.salon .recommendArea .columnListArea ul li .price {
    margin-bottom: 20px;
}

body.salon .recommendArea .columnListArea ul li .btnCart {
    margin-bottom: 5px;
    display: none;
}

body.salon .recommendArea .columnListArea .btnAllItem {
    width: 580px;
    margin: 0 auto;
    text-align: center;
}

/*clearFix
---------------------------*/
body.salon .contentArea .interviewArea01 .box:after {
	display: block;
	clear: both;
	content: " ";
}


/* ===================================================================================================================================================
	
   sp
   
   =================================================================================================================================================== */
@media screen and (max-width: 768px) {
  /* ===========================================================
     interview vol01
  ============================================================== */
body.salon #wrapper {
  background: 0;
  font-size:1.2rem;
}

body.salon #contents {
  background: url(../img/sp_bg.jpg) no-repeat 0 -2%;
  background-size: contain;
}

body.salon h2 {
　width: 100%;
}

body.salon .contentArea {
  width: 100%;
}

/*allitems*/
body.salon .contentArea .interviewArea01 .allitems img {
	margin:0 auto 60px auto;
	padding:0 9%;
}

body.salon .recommendArea .allitems img {
	margin:0 auto 60px auto;
	padding:0 22%;
}


/*  interviewArea01 */
body.salon .contentArea .interviewArea01 .lead img {
  width: 83.75%;
  margin: 10% auto;
}



/*ここから今回追加部分---------------*/

body.salon .contentArea .interviewArea01 .box {
  margin-bottom: 90px;
}

/*box01*/
body.salon .contentArea .interviewArea01 .box01 .model01 {
  /*width: 80%;*/
  margin: 0 20% 0 0;
}
body.salon .contentArea .interviewArea01 .box01 .model02 {
  margin:40px 0 0 0;
}

body.salon .contentArea .interviewArea01 .box01 .model02_1 {
  float:left;
  width: 44%;
}

body.salon .contentArea .interviewArea01 .box01 .model02_2 {
  width: 48%;
  margin-top:106px;
}

body.salon .contentArea .interviewArea01 .box01 .sp_text {
	position:relative;
	float:right;
}

body.salon .contentArea .interviewArea01 .box01 .sp_text > p {
	margin: 3% 0 0 0;
	/*padding: 0 2% 0 1%;*/
	text-align:right;
}


body.salon .contentArea .interviewArea01 .box01 .sp_text:after {
  content:"";
  display: inline-block;
  position:absolute;
  bottom: -3px;
  right: 0;
  width:100%;
  height: 2px;
  background-color: #000000;
}

body.salon .contentArea .interviewArea01 .box01 .sp_text02 {
	position:relative;
	float:left;
	width:52%;
}

body.salon .contentArea .interviewArea01 .box01 .sp_text02 > p {
	margin: 16% 0 0 0;
	/*padding:0 2% 0 0;*/
	text-align:right;
}


body.salon .contentArea .interviewArea01 .box01 .sp_text02:after {
  content:"";
  display: inline-block;
  position:absolute;
  bottom: -3px;
  right: 0;
  width:100%;
  height: 2px;
  background-color: #000000;
}
	
/*box02*/
body.salon .contentArea .interviewArea01 .box02 .model01 {
  margin: 15px 0 0 0;
  width:55%;
}

body.salon .contentArea .interviewArea01 .box02 .model02 {
  width:80%;
}

body.salon .contentArea .interviewArea01 .box02 .sp_text {
	position:relative;
	float:right;
	width: 45%;
}

body.salon .contentArea .interviewArea01 .box02 .sp_text > p {
	margin: 120% 0 0 0;
	padding:0 3% 0 1%;
	text-align:right;
}

body.salon .contentArea .interviewArea01 .box02 .sp_text:after {
  content:"";
  display: inline-block;
  position:absolute;
  bottom: -3px;
  right: 0;
  width:100%;
  height: 2px;
  background-color: #000000;
}

/*box03*/
body.salon .contentArea .interviewArea01 .box03 {
	padding:0;
}

body.salon .contentArea .interviewArea01 .box03 .model01,
body.salon .contentArea .interviewArea01 .box03 .model02 {
  width:70%;
  margin-top:30px;
}

body.salon .contentArea .interviewArea01 .box03 .model01_2 {
  position:absolute;
  width:40%;
  margin:0 0 -40px 0;
  z-index:9999;
}

body.salon .contentArea .interviewArea01 .box03 .model02_2 {
  width:40%;
  margin:-40px 0 0 0;
}

body.salon .contentArea .interviewArea01 .box03 {
	position:relative;
}

body.salon .contentArea .interviewArea01 .box03 .sp_text {
	position:relative;
	float:left;
	width: 58%;
	margin-left:2%;
}

body.salon .contentArea .interviewArea01 .box03 .sp_text > p {
	margin: 30% 0 0 0;
	padding-right: 3%;
	text-align:right;
}


body.salon .contentArea .interviewArea01 .box03 .sp_text:after {
  content:"";
  display: inline-block;
  position:absolute;
  bottom: -3px;
  right: 0;
  width:100%;
  height: 2px;
  background-color: #000000;
}

/*box04*/
body.salon .contentArea .interviewArea01 .box04 {
  margin-bottom: 60px;
}

body.salon .contentArea .interviewArea01 .box04 .model03 {
  position:relative;
}

body.salon .contentArea .interviewArea01 .box04 .model03 .model03_2 {
  position:absolute;
  width:34%;
  top:10%;
  left:5%;
}

body.salon .contentArea .interviewArea01 .box04 .model01 {
  width:34%;
  margin: 12px 0 0 5%;
}

body.salon .contentArea .interviewArea01 .box04 .sp_text {
	position:relative;
	float:right;
	width:58%;
	margin-right:3%;
}

body.salon .contentArea .interviewArea01 .box04 .sp_text > p {
	margin: 36% 0 0 0;
	padding:0 6% 0 0;
	text-align:right;
}


body.salon .contentArea .interviewArea01 .box04 .sp_text:after {
  content:"";
  display: inline-block;
  position:absolute;
  bottom: -3px;
  right: 0;
  width:100%;
  height: 2px;
  background-color: #000000;
}

/*ここまで今回追加部分---------------*/

	
/*  interviewArea02 */
body.salon .contentArea .interviewArea02 .interview_txt img {
  margin: 6% auto;
  width: 68.12%;
}

body.salon .contentArea .interviewArea02 .interview_sec {
  padding: 0 4.68%;
}
	
body.salon .contentArea .interviewArea02 .interview_sec h4 {
  font-size: 1.2rem;
}
	
body.salon .contentArea .interviewArea02 .interview_sec p {
  font-size: 1.2rem;
}

body.salon h3.profile {
  background: url(../img/profile.png) no-repeat center center;
  margin: 0 4.68%;
}

body.salon .wrap {
  margin: 0 4.68%;
}

/*  recommend */	
body.salon .recommendArea .columnListArea {
	width: 100%;
	margin: 16% auto 0;
}

body.salon .recommendArea .columnListArea h3 {
  text-align: center;
  margin: 0 auto 15px;
  width: 61.4%;
}

body.salon .recommendArea .columnListArea ul {
	overflow: hidden;
	margin-right: 0;
	margin-left: 4%;
	margin-bottom: 6%;
}
body.salon .recommendArea .columnListArea ul li {
	float: left;
	overflow: hidden;
	width: 30%;
	margin-right: 3%;
	margin-bottom: 0px;
	text-align: center;
	font-size: 1rem;
}
body.salon .recommendArea .columnListArea ul li.column4 {
	float: left;
	margin-right: 4%;
	margin-bottom: 4%;
	text-align: center;
	width: 46%;
}
body.salon .recommendArea .columnListArea ul li.column4 .btnCart {
	display: none;
}
body.salon .recommendArea .columnListArea ul li.column4 .btnCart img {
	width: 100%;
}
body.salon .recommendArea .columnListArea ul li.column4 .btnDetail img {
	width: 100%;
}
body.salon .recommendArea .columnListArea ul li .rank {
	width: 100%;
	height: 70px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
body.salon .recommendArea .columnListArea ul li .pic {
	border: 1px solid #EEEFF2;
}
body.salon .recommendArea .columnListArea ul li .pic img {
	width: 100%;
	height: auto;
}
body.salon .recommendArea .columnListArea ul li .text {
	color: #7589b2;
	font-size: 18px;
	margin: 20px 15px 25px;
}
body.salon .recommendArea .columnListArea ul li .text a {
	color: #7589b2;
}
body.salon .recommendArea .columnListArea ul li .name {
	font-size: 14px;
}
body.salon .recommendArea .columnListArea ul li .price {
	margin-bottom: 20px;
}
body.salon .recommendArea .columnListArea ul li .btnCart {
	margin-bottom: 5px;
	display: none;
}
body.salon .recommendArea .columnListArea .btnAllItem {
	width: 580px;
	margin: 0 auto;
	text-align: center;
}
	
/*  movie */
body.salon .moviearea {
	width: 100%;
	margin: 6% auto;
	position: relative;
	padding-top: 56.25%;
}

/*clearFix
---------------------------*/
body.salon .contentArea .interviewArea01 .box01:after,
body.salon .contentArea .interviewArea01 .box02:after,
body.salon .contentArea .interviewArea01 .box03:after,
body.salon .contentArea .interviewArea01 .box04:after {
	display: block;
	clear: both;
	content: " ";
}


}
	  


