@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/* ==========================================================================
   Base
   ========================================================================== */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  line-height: 1.7;
  font-family: "Montserrat",  "メイリオ","游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo", "MS Pゴシック", "MS P Gothic", sans-serif;
  color: #000;
  font-weight: normal;
}

a {
  color: #000;
  text-decoration: none;
  outline: none;
}
a:hover {
  color: #000;
  text-decoration: underline;
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  vertical-align: top;
}

b {
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

/* ==========================================================================
   Store Stock
   ========================================================================== */
.modalStock,
.modalStock * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.modalStock {
  background-color: #fff;
  width: 800px;
  margin: auto;
  position: relative;
}
.modalStock .inner {
  padding: 3% 5%;
}
.modalStock .wrap {
  overflow: hidden;
}
.modalStock .wrap .left {
  float: left;
  width: 48%;
}
.modalStock .wrap .right {
  float: right;
  width: 48%;
}
.modalStock h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1;
  padding: 0 0 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dcdcdc;
}
.modalStock .name {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
}
.modalStock .selectColor {
  text-align: center;
  padding-bottom: 10px;
}
.modalStock .selectColor > b {
  font-size: 1.6rem;
  text-align: center;
  display:block;
}
.modalStock .selectColor > ul {
  display: inline-block;
  letter-spacing: -0.4em;
  margin-right: -6px;
}
.modalStock .selectColor > ul > li {
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  margin-right: 6px;
  margin-bottom: 6px;
  width: 50px;
}
.modalStock .selectColor > ul > li .pic:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: inset 0 0 0 1px #d2d2d2;
  width: 100%;
  height: 100%;
}
.modalStock .selectColor > ul > li.active .pic:before {
  box-shadow: inset 0 0 0 2px #f06a80;
}
.modalStock .selectColor > ul > li p {
  text-align: center;
  font-size: 1rem;
  line-height: 1.3;
  margin-top: 5px;
}
.modalStock .selectColor > ul > li p span {
  color: #dc2e62;
  display: block;
}
.modalStock .selectColor > ul > li .pic {
  position: relative;
  cursor:pointer;
}
.modalStock .selectColor > ul > li .pic img {
  width: 100%;
  height: auto;
}
.modalStock .selectColor > ul > li .pic:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: inset 0px 0px 0px 1px #d2d2d2;
  width: 100%;
  height: 100%;
}
.modalStock .selectColor > ul > li.active .pic:before {
  box-shadow: inset 0px 0px 0px 3px #f06a80;
}
.modalStock .selectSize {
  text-align: center;
  border-top: none;
  padding-top: 0px;
  padding-bottom: 20px;
}
.modalStock .selectSize > b {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 10px;
  display: block;
}
.modalStock .selectStore {
  border-top: 1px solid #dcdcdc;
  padding-top: 20px;
  margin-bottom: 20px;
}
.modalStock .selectStore table {
  width: 100%;
}
.modalStock .selectStore table th {
  text-align: right;
  font-size: 1.4rem;
  padding-right: 15px;
  vertical-align: middle;
  font-weight: normal;
  padding-bottom: 15px;
}
.modalStock .selectStore table td {
  font-size: 1.4rem;
  vertical-align: middle;
  padding-bottom: 15px;
}
.modalStock .selectStore table td input {
  padding: 7px;
  border: 1px solid #c9c9c9;
  width: 100%;
}
.modalStock .searchBtn {
  color: #fff;
  text-align: center;
  background-color: #000;
  width: 60%;
  padding: 5px;
  font-size: 1.6rem;
  border: none;
  outline: none;
  margin: auto;
  display: block;
  margin-bottom: 15px;
}
.modalStock .searchBtn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
.modalStock .favBtn {
  width: 50%;
  margin: auto;
  font-size: 1.4rem;
  background-color: #fff;
  padding: 6px;
  text-align: center;
  display: block;
  border: 1px solid #c9c9c9;
  font-weight: bold;
}
.modalStock .favBtn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
.modalStock .storeList {
  padding-top: 25px;
}
.modalStock .storeList > p {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 5px;
}
.modalStock .storeList > p span {
  width: 16px;
  height: 13px;
  background: url(/app/img/common/ico_stock_on.png) no-repeat left bottom;
  background-size: 16px 26px;
  display: inline-block;
}
.modalStock .storeList p.nonText {
  color: #dc2e62;
}
.modalStock .storeList table {
  width: 80%;
  border-collapse: collapse;
  font-size: 1.4rem;
  line-height: 1.4;
  margin: 20px auto 5px;
}
.modalStock .storeList table thead th {
  text-align: center;
  color: #fff;
  background-color: #666;
}
.modalStock .storeList table th {
  border: 1px solid #dcdcdc;
  padding: 10px 8px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
}
.modalStock .storeList table td {
  border: 1px solid #dcdcdc;
  padding: 10px 5px;
  text-align: center;
}
.modalStock .storeList table .ico {
  background: url(/app/img/common/ico_stock_on.png) no-repeat left bottom;
  background-size: 16px 26px;
  width: 16px;
  height: 13px;
  display: inline-block;
  vertical-align: top;
  margin-right: 0.7em;
}
.modalStock .storeList table .ico.active {
  background-position: left top;
}
.modalStock .storeList table a {
  text-decoration: underline;
  display: inline-block;
  vertical-align: top;
}
.modalStock .storeList table a:hover {
  text-decoration: none;
}
.modalStock .storeList .caution {
  text-align: left;
  margin-left: 10%;
  margin-top: 10px;
}
.modalStock .storeList .caution .trigger {
  font-size: 1.3rem;
  line-height: 1;
  margin-bottom: 5px;
  display: block;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.modalStock .storeList .caution .trigger.active-submenu:before {
  content: "";
  position: absolute;
  left: 13em;
  top: 50%;
  width: 11px;
  height: 11px;
  background: url(/app/img/common/ico_minus.svg) no-repeat center center;
  background-size: 11px 11px;
  margin-top: -6px;
}
.modalStock .storeList .caution .trigger:before {
  content: "";
  position: absolute;
  left: 13em;
  top: 50%;
  width: 11px;
  height: 11px;
  background: url(/app/img/common/ico_plus.svg) no-repeat center center;
  background-size: 11px 11px;
  margin-top: -6px;
}
.modalStock .storeList .caution .acoCont {
  display: none;
  font-size: 1.2rem;
}
.modalStock .storeList .caution a {
  text-decoration: underline;
}
.modalStock .closeBtn {
  text-align: center;
  line-height: 10px;
  margin-top: 45px;
  font-size: 18px;
  cursor: pointer;
}
.modalStock .closeBtn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
.modalStock .closeBtn span {
  background: url(/app/img/common/ico_delete_sp.png) no-repeat left top;
  background-size: 10px 10px;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
}

.selectWrap.size {
  display: block;
  width: 100%;
  position: relative;
}
.selectWrap.size:before {
  content: "";
  position: absolute;
  width: 35px;
  height: 100%;
  background-color: #000;
  right: 0;
  top: 0;
}
.selectWrap.size:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 8px;
  background: url(/app/img/common/arrow_down_white.png) center center no-repeat;
  background-size: 15px 8px;
  right: 10px;
  top: 50%;
  margin-top: -4px;
}
.selectWrap.size select {
  width: 100%;
  padding: 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #000;
  border-radius: 0;
  background-color: transparent;
  text-align: left;
  font-size: 1.4rem;
  position: relative;
}

.selectWrap.def {
  display: block;
  width: 100%;
  position: relative;
}
.selectWrap.def:after {
  content: "";
  position: absolute;
  width: 11px;
  height: 6px;
  background: url(/app/img/common/arrow_down.png) center center no-repeat;
  background-size: 11px 6px;
  right: 10px;
  top: 50%;
  margin-top: -4px;
}
.selectWrap.def select {
  width: 100%;
  padding: 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #c9c9c9;
  border-radius: 0;
  background-color: transparent;
  text-align: left;
  font-size: 1.4rem;
  position: relative;
}

.modalStock .text01 {
	display: block;
	text-align: center;
	padding: 20px 0;
	clear: both;
}

.modalStock .text01 a {
	text-decoration: underline;
}

.modalStock .text01 a:hover {
	text-decoration: none;
}


@media screen and (max-width:768px) {

  .modalStock {
    background-color: #fff;
    width: auto;
    margin: auto;
  }
  .modalStock .wrap {
    overflow: hidden;
  }
  .modalStock .wrap .left {
    float: none;
    width: 100%;
  }
  .modalStock .wrap .right {
    float: none;
    width: 100%;
  }
  .modalStock .inner {
    padding: 8% 3% 10% 3%;
  }
  .modalStock h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    line-height: 1;
    padding: 0 0 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dcdcdc;
  }
  .modalStock .name {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .modalStock .selectColor {
    text-align: center;
    padding-bottom: 10px;
  }
  .modalStock .selectColor > b {
    font-size: 1rem;
    text-align: center;
  }
  .modalStock .selectColor > ul {
    display: inline-block;
    letter-spacing: -0.4em;
    margin-right: -6px;
  }
  .modalStock .selectColor > ul > li {
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
    margin-right: 6px;
    margin-bottom: 6px;
    width: 50px;
  }
  .modalStock .selectColor > ul > li p {
    text-align: center;
    font-size: 1rem;
    line-height: 1.3;
    margin-top: 5px;
  }
  .modalStock .selectColor > ul > li p span {
    color: #dc2e62;
    display: block;
  }
  .modalStock .selectColor > ul > li .pic {
    position: relative;
  }
  .modalStock .selectColor > ul > li .pic img {
    width: 100%;
    height: auto;
  }
  .modalStock .selectColor > ul > li .pic:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: inset 0px 0px 0px 1px #d2d2d2;
    width: 100%;
    height: 100%;
  }
  .modalStock .selectColor > ul > li.active .pic:before {
    box-shadow: inset 0px 0px 0px 3px #f06a80;
  }
  .modalStock .selectSize {
    text-align: center;
    border-top: 1px solid #dcdcdc;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .modalStock .selectSize > b {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 10px;
    display: block;
  }
  .modalStock .selectStore {
    border-top: 1px solid #dcdcdc;
    padding-top: 20px;
    margin-bottom: 20px;
  }
  .modalStock .selectStore table {
    width: 100%;
  }
  .modalStock .selectStore table th {
    text-align: right;
    font-size: 1.1rem;
    padding-right: 15px;
    vertical-align: middle;
    font-weight: normal;
    padding-bottom: 15px;
  }
  .modalStock .selectStore table td {
    font-size: 1.1rem;
    vertical-align: middle;
    padding-bottom: 15px;
  }
  .modalStock .selectStore table td input {
    padding: 7px;
    border: 1px solid #c9c9c9;
    width: 100%;
  }
  .modalStock .searchBtn {
    color: #fff;
    text-align: center;
    background-color: #000;
    width: 100%;
    padding: 5px;
    font-size: 1.5rem;
    border: none;
    outline: none;
    margin-bottom: 15px;
  }
  .modalStock .searchBtn:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  .modalStock .favBtn {
    width: 70%;
    margin: auto;
    font-size: 1.2rem;
    background-color: #fff;
    padding: 6px;
    text-align: center;
    display: block;
    border: 1px solid #c9c9c9;
    font-weight: bold;
  }
  .modalStock .favBtn:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  .modalStock .storeList {
    padding-top: 30px;
  }
  .modalStock .storeList > p {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  .modalStock .storeList > p span {
    width: 16px;
    height: 13px;
    background: url(/app/img/common/ico_stock_on.png) no-repeat left bottom;
    background-size: 16px 26px;
    display: inline-block;
  }
  .modalStock .storeList table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    line-height: 1.4;
    margin: 20px 0 5px;
  }
  .modalStock .storeList table th {
    border: 1px solid #dcdcdc;
    padding: 10px 8px;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
  }
  .modalStock .storeList table td {
    border: 1px solid #dcdcdc;
    padding: 10px 5px;
    text-align: center;
  }
  .modalStock .storeList table .ico {
    background: url(/app/img/common/ico_stock_on.png) no-repeat left bottom;
    background-size: 16px 26px;
    width: 16px;
    height: 13px;
    display: inline-block;
    vertical-align: top;
    margin-right: 0.7em;
  }
  .modalStock .storeList table .ico.active {
    background-position: left top;
  }
  .modalStock .storeList table a {
    text-decoration: underline;
    display: inline-block;
    vertical-align: top;
  }
  .modalStock .storeList .caution {
    text-align: left;
    margin-left: 0%;
    margin-top: 10px;
  }
  .modalStock .storeList .caution .trigger {
    font-size: 1.1rem;
    line-height: 1;
    margin-bottom: 5px;
    display: block;
    width: 100%;
    position: relative;
    cursor: pointer;
  }
  .modalStock .storeList .caution .trigger.active-submenu:before {
    content: "";
    position: absolute;
    left: auto;
    right: 0;
    top: 50%;
    width: 11px;
    height: 11px;
    background: url(/app/img/common/ico_minus.svg) no-repeat center center;
    background-size: 11px 11px;
    margin-top: -6px;
  }
  .modalStock .storeList .caution .trigger:before {
    content: "";
    position: absolute;
    left: auto;
    right: 0;
    top: 50%;
    width: 11px;
    height: 11px;
    background: url(/app/img/common/ico_plus.svg) no-repeat center center;
    background-size: 11px 11px;
    margin-top: -6px;
  }
  .modalStock .storeList .caution .acoCont {
    display: none;
    font-size: 1rem;
  }
  .modalStock .storeList .caution a {
    text-decoration: underline;
  }
  .modalStock .closeBtn {
    text-align: center;
    line-height: 10px;
    margin-top: 25px;
  }
  .modalStock .closeBtn:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  .modalStock .closeBtn span {
    background: url(/app/img/common/ico_delete_sp.png) no-repeat left top;
    background-size: 10px 10px;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
  }

  .selectWrap.size {
    display: block;
    width: 100%;
    position: relative;
  }
  .selectWrap.size:before {
    content: "";
    position: absolute;
    width: 35px;
    height: 100%;
    background-color: #000;
    right: 0;
    top: 0;
  }
  .selectWrap.size:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 8px;
    background: url(/app/img/common/arrow_down_white.png) center center no-repeat;
    background-size: 15px 8px;
    right: 10px;
    top: 50%;
    margin-top: -4px;
  }
  .selectWrap.size select {
    width: 100%;
    padding: 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #000;
    border-radius: 0;
    background-color: transparent;
    text-align: left;
    font-size: 1.1rem;
    position: relative;
  }

  .selectWrap.def {
    display: block;
    width: 100%;
    position: relative;
  }
  .selectWrap.def:after {
    content: "";
    position: absolute;
    width: 11px;
    height: 6px;
    background: url(/app/img/common/arrow_down.png) center center no-repeat;
    background-size: 11px 6px;
    right: 10px;
    top: 50%;
    margin-top: -4px;
  }
  .selectWrap.def select {
    width: 100%;
    padding: 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #c9c9c9;
    border-radius: 0;
    background-color: transparent;
    text-align: left;
    font-size: 1.1rem;
    position: relative;
  }
  
  .modalStock .text01 {
	display: block;
	text-align: center;
	padding: 10px 0;
	clear: both;
	font-size: 1.5rem;
  }
}