@charset "UTF-8";
/* CSS Document */


#movie {
 width: 772px;
 float: right; 
 margin: 140px;
}

#aboutparty {
width: 500px;
margin: 50px auto 0px;
text-align: center;
  }
  
 #aboutparty .partytit {
	 font-size: 130%;
	   }
	
.youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin-top:70px;
}
.youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}
	  
	  
 @media screen and (max-width: 768px) {
	 
 #aboutparty {
width: 340px;
margin: 50px auto ;
text-align: center;
  }
  
}